
<section id="showcase-hero" class="section-table paralax-bg">
  {%comment%}
  <div class="banner flagged-banner flagged-banner-rectangle" style="z-index:99"><p>Apply now, ending soon.<span class="flag-maker"></span></p></div>
  {%endcomment%}
    <div class="container">
        <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                    <h2 class="wow zoomIn paralax-title">OZO Storytellers</h2>
                    <h2 class="wow slideInLeft">
                      The OZO Storytellers Program is part of our commitment to supporting the next generation of content creators and the VR ecosystem.
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="intro">
  <div class="container">
  <div class="intro-title intro-paragraph">
    <p>As an OZO Storyteller, you will receive savings off the purchase of an OZO+ camera in exchange for providing VR content and feedback to Nokia. You will be eligible to purchase an OZO+ camera for $25,000, a significant saving off the $40,000 retail price. (€23,500 in Europe and ¥220,888 in China).</p>



  <p>Plus, you will play a vital role in shaping the vision and language of the VR medium. By sharing valuable insights and feedback with Nokia, you will inform the continuing evolution of our best-in-class VR products and solutions. By sharing your content captured using OZO+ with Nokia, you can reach a broad range of audiences including partners throughout the ecosystem as well as consumers.</p>
  <p>Thanks for your interest.  <strong>This program has now ended</strong>.</p>
  <p>

  </p>
  </div>
  </div>
</div>
