<section class="full-row generic-half-box-left">
  <div class="container-fluid">
    <div class="row row-eq-height">
        <div class="wow col-lg-6 col-sm-6 col-md-6 col-xs-12 fadeInRight bg-gray full-row-content wow slideInLeft">
          <div class="container-left-half">
                    <h3>Etiam id diam tor. Vivamus vitae nulla risus. Vestibulum ante ipsum primis in faucibus orci luctus. </h3>
                    <p>Nam quis elementum orci. Suspendisse potenti. Proin nibh dui, iaculis vitae eros vel, molestie porta nulla. Nam vel erat nunc. Nulla tempus leo eget arcu mattis tempus.</p>
            </div>
          </div>
          <div class="wow col-lg-6 col-sm-6 col-md-6 col-xs-12 fadeInLeft full-row-bg wow slideInRight">
          </div>
          </div>
      </div>
</section>
