<section class="get-ozo-blue">
  <div class="container">
    <a class="button button-big button-big-white" href="http://ozo.nokia.com/store">
      Get OZO Camera
    </a>
    <a class="button button-big button-big-white" href="http://ozo.nokia.com/store">
      Get OZO Software
    </a>
  </div>
</section>
