<div class="row">
    {% include cannes/elements/featured-item.html
        img="cannes/created1.png"
        video="https://www.youtube.com/watch?v=P7n-GxJBw1k"
        title="NFL Hyundai commercial"
        content="For US troops stationed overseas during American football’s biggest game, Hyundai showed the power of VR through its amazing <a href=\"https://www.youtube.com/watch?v=P7n-GxJBw1k\" data-fancybox=\"\">real-time commercial</a>, powered by OZO.  "
      %}
      {% include cannes/elements/featured-item.html
          img="cannes/created2.png"
          video="https://www.youtube.com/watch?v=WColAazZZ7I"
          title="50 Shades Darker: Masquerade Ball"
          content="This <a href=\"https://www.youtube.com/watch?v=WColAazZZ7I\" data-fancybox=\"\">lavish VR accompaniment</a> supported the spring premiere of the latest 50 Shades movie, putting you in the middle of the masquerade."
          delay="0.5s"
        %}
        {% include cannes/elements/featured-item.html
            img="cannes/created3.png"
            video="https://www.youtube.com/watch?v=wraJppF0kyg"
            title="Shinola watch-factory tour"
            content="Luke Wilson stars in this whimsical
<a href=\"https://www.youtube.com/watch?v=wraJppF0kyg\" data-fancybox=\"\">360 factory tour video</a> of the acclaimed watch company."
            delay="1s"
        %}
            {% include cannes/elements/featured-item.html
            img="cannes/created4.png"
            title="Fiat 500X test-drive"
            link="https://www.facebook.com/fiatusa/videos/1404503139560470/"
            content="Go for a <a href=\"https://www.facebook.com/fiatusa/videos/1404503139560470/\" target=\"_blank\">360 degree spin</a> in the crossover Fiat 500X over different terrain and weather conditions. An innovative take on a test drive!"
            delay="0s"
        %}
            {% include cannes/elements/featured-item.html
            img="cannes/created5.png"
            video="https://www.youtube.com/watch?v=jAMwzXbFuok"
            title="Kate Moss & Scent of a Dream"
            content="Kate Moss hands you the keys to universal attraction in this <a href=\"https://www.youtube.com/watch?v=jAMwzXbFuok\" data-fancybox=\"\">commercial</a> for Charlotte Tilbury’s fragrance Scent of a Dream."
            delay="0.5s"
        %}
            {% include cannes/elements/featured-item.html
            img="cannes/created6.png"
            title="Behind-the-scenes of The Mummy"
            video="https://www.youtube.com/watch?v=gUMT4scl8dU&feature=youtu.be"
            content="You will remain at the edge of your seat as Tom Cruise takes you through this innovative and  weightless <a href=\"https://www.youtube.com/watch?v=gUMT4scl8dU&feature=youtu.be\" target=\"_blank\" data-fancybox=\"\">behind-the-scenes video</a>."
            delay="1s"
        %}
</div>
