<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 featured-item" data-wow-delay="{{include.delay}}">
  <div class="featured-image">

    {%if include.video%}
      <a href="{{include.video}}" data-fancybox="">
    {%endif%}
    {%if include.link%}
      <a href="{{include.link}}" target="_blank">
    {%endif%}
    <img class="img-responsive" src="{{ site.baseurl }}/assets/img/{{ include.img }}" alt="{{ include.title }} Photo"/>
    {%if include.video%}
      </a>
    {%endif%}
    {%if include.link%}
    </a>
    {%endif%}
  </div>
  <div class="featured-content-wrapper">
    <p class="featured-title">
      {%if include.video%}
        <a href="{{include.video}}" data-fancybox="">
      {%endif%}
      {%if include.link%}
        <a href="{{include.link}}">
      {%endif%}
      {{ include.title }}
      {%if include.video%}
        </a>
      {%endif%}
      {%if include.link%}
      </a>
      {%endif%}
    </p>
    <p class="featured-content">{{ include.content }}</p>

  </div>
</div>
