.with-overlay-white-xs{
    @include mq($until:tablet){
          position:relative;
          &:after{
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;top:0;
              background-color:#fff;
              opacity: 0.7;
              z-index: 1;
          }
          .main-content{
              position: relative;
              z-index: 2;
          }
        }
}

section{
      &.with-overlay{
        position:relative;
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;top:0;
            background-color:#000000;
            opacity: 0.7;
            z-index: 1;
        }
        .main-content{
            position: relative;
            z-index: 2;
        }
    }

    &.with-overlay-4{
        position:relative;
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;top:0;
            background-color:#000000;
            opacity: 0.4;
            z-index: 1;
        }
        .main-content{
            position: relative;
            z-index: 2;
        }
    }
    &.with-overlay-2{
        position:relative;
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;top:0;
            background-color:#000000;
            opacity: 0.2;
            z-index: 1;
        }
        .main-content{
            position: relative;
            z-index: 2;
        }
    }
}

//Section Table
.section-background-parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    @include mq($until:tablet){
      background-attachment: initial;
    }
}
.section-table{
    position:relative;
    .main-container{
        width:100%;
        position : relative;
        height: 584px;
        color:#fff;
        text-align: center;
        display:table;




        .main-content{
            position: relative;
            z-index: 2;
            display: table-cell;
            vertical-align: top;
            padding-top: 60px;
            @include mq($until:tablet){
              vertical-align: top;
              padding-top: 80px;
            }
            .img-responsive{
                margin: 0 auto;
                @include mq($until:tablet){
                  max-height: 39px;
                }
            }
            h1{
                font-family: "nokia_pure_headline";
                font-size: 40px;
                text-align: center;
                font-weight: bold;
            }
            h2{

              @include mq($until:tablet){
                font-weight: bold;
                font-size: 28px;
              }
            }
            &.main-content-bottom{
              vertical-align: bottom;
              padding-bottom: 50px;
              //text-align:left;
            }
        }


        @include mq($until:tablet){
            //height: calc(100vh - 134px);
        }
    }

}


//Workflow
.workflow{
    float:left;width:100%;
    .workflow-info,.workflow-bg{
        min-height: 544px;
    }
    .workflow-info{

        .content-table
        {
            width: 100%;
            max-width: 387px;
            min-height: 544px;
            margin-left: auto;
            .content-table-cell{
                padding:133px 0 115px 0;
                float:left;
                h1{
                    font-size: 41px;

                    color:#000423;
                    font-weight: 100;
                    margin: 0px 0px 25px 0px;
                    @include mq($until: xs){
                        font-size: 35px;
                    }
                }
                p{
                    font-size: 18px;
                    color:#4c4b5d;
                    margin: 0;
                    padding-bottom: 0px;
                }
            }
            &.reverse{
                margin-right: auto;
                margin-left: 0;
                @include mq($until: xs){
                    margin: 0 auto;
                    padding: 20px 0px;

                }
                @include mq($until: tablet){

                    margin: 0 auto;
                    padding: 20px 0px;
                }
            }
            @include mq($until: xs){
                margin: 0 auto;
                padding: 20px 0px;

            }
            @include mq($until: tablet){

                margin: 0 auto;
                padding: 20px 0px;
            }
        }

    }

    .workflow-bg{
        background-size: cover;
        background-position:  center;
        background-repeat: no-repeat;

    }
    @include mq($until: xs){
        .container-right-half{
            padding: 0;
        }
    }

}

//Get Ozo
section.get-ozo
{
    background-color: $blue-light;
    padding:25px 0px;
}
section.get-ozo-blue{
    background-color: $blue;
}

section.get-ozo-single{
    margin-top: 0;
}


section.section-with-header
{
    .content-wrapper{
        max-width: 924px;display:block;margin:0 auto;
        padding:70px 0px 70px 0;
        .header{




            h1{
                color:$secondary;
                margin: 0;
            }

        }
        .content{
            padding-top:35px;
            display: inline-block;
            width: 100%;
            color:$primary;
        }

        &.content-wrapper-with-border{
            border-bottom: 1px solid rgba(#94909e,0.5)
        }
    }
}
