//promote
.two-columns-info{
  @include mq($until:tablet){
  }
  .list-group{
    .list-group-item{
      border:0;
      background: transparent;
      a{
        color: #4c4b5d;
        font-size: 18px;
      }
    }
  }
    .column2{
      @include mq($from:tablet){
        @include border-radius(0px 0px 45px 0px);
      }
      padding:45px 90px 60px 90px;
      @include mq($until:tablet){
        padding:15px;
      }
      background: #f4f4f4;
      .column1-title{
        font-size: 48px;
        font-weight: 100;
      }
      .column1-subtitle{
        font-size: 30px;
        color:#0b58a1;
      }


    }
    .column1{
      @include mq($from:tablet){
        //@include border-radius(45px 0px 0px 0px);
      }
      padding:45px 90px 60px 90px;
      @include mq($until:tablet){
        padding:15px;
      }
      .column2-title{
        font-size: 48px;
        font-weight: 100;
      }
      a{
      }
      .text-info{
        color: $text-info-color;
      }


  }
}
