.more-link{
  @include more-link-after();
}

/*.button{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 42px;
    background: url('../img/more.png') no-repeat;
    background-position: right center;
    padding-right: 70px;
    color: #fff;
    border: 0;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}
&.button-dark{
    background: url('../img/more_dark.png') no-repeat;
    background-position: right center;
    color: rgb(77, 75, 93);
    &:hover{
        color: rgb(77, 75, 93);
    }
    // TODO background:
}
&.button-big{
    line-height: 55px;
    padding-right: 0px;
    height: 55px;
    width: 253px;
    color: rgb(77, 75, 93);
    border: 1px solid rgb(77, 75, 93);
    background: url('../img/next_dark.png') no-repeat;
    background-position: 90% center;
    &:hover{
        color: rgb(77, 75, 93);
        text-decoration: none;
    }

}  &.button-big-white{
    background: url('../img/next_white.png') no-repeat;
    background-position: 90% center;
    color: #fff;
    border: 1px solid #fff;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}*/



.btn{
    min-width: 162px;
    padding:13px 24px 10px 24px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    @include border-radius(30px);
    border-color: #000;
    color: #000;
    a{
        color: #000;
    }
    &:hover{
        color:#000;
    }
    &+.btn{
        margin-left: 25px;
        @include mq($until:tablet){
          margin-left: 0;
        }
    }
    small{
      display: block;
    }
}
.btn-flat{
  padding:9.5px 24px 6.5px 24px;
}
@mixin xs-button () {
    display: block;
    padding-left: 0;padding-right: 0;
    width: 100%;text-align: center;

    &+.xs-button{
        margin: 10px auto 0 auto;
    }

}
.btn-auto{
  min-width: auto;
}
.btn-transparent{
  background-color: transparent;
  border-color: #fff;
  color:#fff;
  &:hover,&:focus{
      background-color: transparent;
      color:#fff;
      box-shadow: none;

  }
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover,
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary{
  background-color: $blue;
  border-color: $blue;
  color:#fff;
}
.btn-primary{

    background-color: $blue;
    border-color: $blue;
    color:#fff;
    &:hover,&:focus{
        background-color: $blue;
        border-color: $blue;
        color:#fff;
        box-shadow: none;

    }
    &.btn-flat-white{
        background-color: transparent;
        border-color: #fff;
        color:#fff;
        &:hover,&:focus,&:active{
            border-color: #fff;
            color:#fff;
            background-color: transparent;
            box-shadow: none;
        }
    }
    &.info{

        background-color: #3cc6f2;;
        border-color: #3cc6f2;
        color:#fff;
        &:hover,&:focus,&:active{
            background-color: #3cc6f2;
            color:#fff;
            box-shadow: none;
        }

    }
    /*&.btn-big{
        padding: 14px 78px 14px 78px;
        &.condensed{
            padding:14px 56px;
        }
    }*/
    &.xs-button{
        @include mq($until: xs){
            @include xs-button();
        }
        @include mq($until: tablet){
            @include xs-button();
        }

    }

    &:focus{outline:none;}
}

.btn-light,
.light{ // TODO: rename to btn-classname
    background-color: #ffffff;
    border-color:#ffffff;
    color:#273142;
    &:hover,&:focus,&:active{
        background-color: #ffffff;
        color:#273142;
        box-shadow: none;
    }
}

.btn-light-blue,
.light-blue{ // TODO: rename to btn-classname
    background-color: #ffffff;
    border-color:#ffffff;
    color:#004296;
    &:hover,&:focus,&:active{
        background-color: #ffffff;
        color:#004296;
        box-shadow: none;
    }
}


.btn-dropdown{
    .btn{
      z-index: 99 !important;
      position: relative;
    }
    .dropdown-menu{
      background: white;
      color: $blue;
      border-color: $blue;
      margin-top: -23px;
      padding-top: 23px;
      width: 100%;
      z-index: 9;
      text-align: center;
      @include border-radius(0px 0px 30px 30px);
      a{
        font-size: 16px;
        line-height: 32px;
        color: $blue;
      }
      .border-bottom{
        width: 80%;
        margin: 0 auto;
        display: block;
        border-bottom: 1px solid $blue;
      }
      a:hover{
        background: transparent;
        color: $blue;
        .fa{
          color: $blue;
        }
      }
      .fa{
        font-size: 16px;
        color: $blue;
        margin-right: 4px;
      }
    }
}
