.carousel {
    overflow: hidden;
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    .thumbnail{
        border: 0;
        text-align: center;
        .thumbnail-image{
            display: block;
            line-height: 147px;
            vertical-align: middle;
        }
    }
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
    display: none;
}
.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}

//Owl Carousel
.owl-theme{
    .owl-dots{
        .owl-dot{
            span{
                background-color:$blue;
                opacity: 0.5;
                &:hover{
                    background: #D6D6D6;
                }
            }
            &.active{
                span{
                    background-color:$blue;
                    opacity:1;
                }
            }
        }
    }
    .owl-nav{
        margin: 0;
        [class*='owl-']{
            margin:0;
            background-color:$blue;
            opacity:0.5;
            i{
                font-size: 20px;
                line-height: inherit;
            }
            &:hover{
                background-color:$blue;
                opacity: 1;
            }
            margin: 0;
        }
        .owl-prev{
            position: absolute;
            left: 5px;
            top:35%;

        }
        .owl-next{
            position: absolute;
            right: 5px;
            top:35%;
        }
    }
}

/// owl
.owl-dots
{
  display: none;
}
