// audio/columns.html
.column-info{
  .column-info-content{
    height: 100%;
  }
  h2{
    font-weight: 100;
    font-size: 48px;
  }
  .column-info-text{
    padding: 90px;
    font-size: 18px;
  }
}
