.features-columns{
  .intro-title{
    h2{
      font-size:  32px;
      font-weight: 300;
      margin-bottom: 3rem;
    }
    p{
      color: $grey-dark;
    }
    a{
      color: $nokia-blue;
      &:hover{
        color: $nokia-blue;
      }
    }
  }
}
