.features-box{
  padding-bottom: 100px;
  h2{
    font-weight: 100;
    font-size: 48px;
    background: url(../img/features-box-header-line.png) no-repeat;
    background-position: center bottom;
    padding-bottom: 27px;
    margin-bottom: 32px;
  }
  p{
    color: #4c4b5d;
    margin-bottom: 0px;
  }
}
