.has-floating-buttons{
  position: relative;
}
.floating-action-buttons {
  display: none;
  // que siga fixed a partir de camara
  position: absolute;
  top: 0px;
  bottom:0px;
  left: 0px;
  width: 57px;
  text-align: center;
  z-index: 50;
  @include mq($until:tablet){
    position: relative;
    width: 100%;
    .floating-action-buttons-container{
      display: block !important;
      .floating-action-buttons-wrapper{
        display: block !important;
      }
    }
  }
  .floating-action-buttons-container{
    display: table;
    height: 100%;
    .floating-action-buttons-wrapper{
          vertical-align: middle;
          display: table-cell;
    }
  }
  a{
    width: 42px;
    height: 42px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 42px;
    vertical-align: middle;
    color:#fff;
    clear:both;
    @include border-radius(21px);
    background: #c7c7c7;
    display: inline-block;;
  }
  a.active{
    background: #3dc6f2;
    span{

      color: #3dc6f2;
      display: block;
      padding-left: 50px;
      text-align: left;
    }
  }
}
