footer{
  padding:70px 0px;
  background-color: #f6f6f6;
  color: #000;
  font-size: 16px;
  a{
    -webkit-tap-highlight-color: $blue;
  }

  ul{
    @include mq($until:desktop){
      margin-top: 20px;
    }
    list-style: none;
    margin: 0;
    padding:0;
    .text-weight-regular{
      font-size: 17px;
      color:#273142;
      @include mq($until:desktop){
        font-weight: bold;
      }
    }
    a{
      .fa{
        margin-left: 15px;
        font-size: 16px;
      }

      color: #4d5766;
    }
    a:first-child{
      .fa{
        margin-left: 0;
      }
    }
  }
  ul:first-child{
    @include mq($until:desktop){
      
    }
  }

  .social-links{
    @include mq($from:wide){
      padding-left: 88px;
    }
  }

  .footer-item{
    margin-top: 61px;

  }
  .language-change{
    color:#4d5766;
    font-weight: normal;
    a{
      font-size: 13px;
      color:#124191;
    }
    .dropdown-menu{
      right: 0;
      left:auto;
    }
  }

  .copyright{
    font-size: 16px;
    p{
      font-size: 16px;
    }
    font-weight: normal;
    color: #4d5766;
    a{
      color: #4d5766;
      margin-left: 20px;
    }
  }
}


ul.horizontal-items{
  list-style: none;
  li{
    padding:0;
    margin:0;
    display: inline;
    &:after{
      margin-left: 12px;
      margin-right: 12px;
      content: "I";
    }
  }
  li:last-child{
    &:after{
      content: "";
      margin-left: 0;
      margin-right: 0;
    }
  }
}


.corporate-footer{
  padding-top:0;
  padding-bottom: 0;
  background: #fff;
}
