.input-text{
    width: 100%;
    margin-bottom: 20px;
    input,select{
        color: rgb(51, 51, 51);
        @include placeholder-color(rgb(51, 51, 51));
        display: inline-block;
        border: 1px solid rgb(51, 51, 51);
        background: transparent;
    }
    //Big Forms
    &.input-text-big{
        margin-bottom:18px;
        textarea{
            font-size: 18px;
        }
        input,select{
            height: 55px;
            font-size: 18px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    &.input-text-white{
      textarea,input,select{
      border: 1px solid #98a2ae;
      color:#000;
      background: #fff;
      @include placeholder-color(rgb(51, 51, 51));
      }
    }
    &.input-text-light
    {
        input,select{
            border-color: rgba(#fff,0.5);
            color:#fff;
            @include placeholder-color(#fff);
        }

    }

}
.input-submit{
    text-align: right;
}


.intro-purple{
  form{
    label{
      color: #fff;
    }
  }
}
