.text-container{
  display: table;
  min-height:544px;
  height: 544px;
  @include mq($until:tablet){
    min-height:224px;
    height: auto;
    padding-bottom: 20px;
  }
  .text-block-container{
    display: table-cell;
    vertical-align: middle;
  }
}


.half-box{
    text-align: center;
    .half-box-gray{
        background: rgb(237, 237, 237);
    }
    .half-box-text{
        float:none;
        padding: 0px 15px;
        margin: 0 auto;
    }
    .text-left{
      text-align: left;
    }

}
@include mq($from: tablet) {
    .half-box{
        display: table;
        width: 100%;

        .half-left {
            width: 50%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        .half-right {
            width: 50%;
            display: table-cell;
            vertical-align: middle;
        }
    }
}


@include mq($from: mobile,$until:tablet) {
    .half-box{
        .half-left,.half-right{
            width: 100%;
        }
    }
}


/**

Breackpoint references
    mobile:  320px,
    xs: 480px,
    tablet:  768px,
    desktop: 992px,
    wide:    1280px,

*/

//Continer Half
.container-left-half,
.container-right-half {
    padding-right: 15px;
    padding-left: 15px;
    @include mq($from: wide){
      padding-right: 57px;
      padding-left: 57px;
    }
    @include mq($from: mobile){
      width:100%;
    }
    @include mq($from: tablet){
        width: 375px;
    }
    @include mq($from: desktop){
         width: 485px;
    }
    @include mq($from: wide){
         width: 626px; // ( $wide / 2 ) $col.padding + ¿ 1 ?
    }


}
.container-left-half {
    margin-right: 0;
    margin-left: auto;

}
.container-right-half {
    margin-right: auto;
    margin-left: 0;


}
