
#header{
.login-form{
      width: 320px;
      padding:20px;
}

.navbar-toggle{
  padding:0;
  margin:0;
  height: 134px;
  line-height: 134px;
  vertical-align: middle;
  .icon-bar{
    width: auto;
    height: auto;
  }
}
nav{
  margin-bottom:0;
  background: #fff;
  height: 134px;
  font-size: 16px;
  div > ul.navbar-primary{
      > li{
        a {
           padding:0 42px 0 0;
        }

      }
      > li.last-child{
        a{
          padding-right: 0;
        }
      }
  }

  .navbar-right{
    font-size: 14px;
  }


  .navbar-brand{
  }
  .dropdown-menu{
    margin-top: -50px;
    padding:25px;
    background: transparentize(#fefefe, 0.1);
    li>a{
      padding:3px 20px !important;
      font-weight: $default-weight;
    }
    .text-weight-bold{
      font-weight: bold;
    }
  }
  div > ul{
    > li{
      > a, >i.icon{
        height: 134px;
        line-height: 145px;
        padding:0 10px;
      }
    }
  }

  a{
    color: black;
  }
  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover,
  .nav > li > a:focus, .nav > li > a:hover{
    background: none;
    border:0px;
  }
  a:hover,a:focus{
    outline: none;
    background-color:transparent;
  }
}
.navbar-header{
  /*position: absolute;

  top:0;
  left:0;*/
  height: 134px;
  .navbar-brand{
    padding:0;
    height: 134px;
    line-height: 134px;
    .brand-divider{
      height: 15px;
      margin-top:7px;
      background: #9aa2ad;
      width: 1px;
      margin-left: 23px;
    }
    span{
        height: 100%;
        vertical-align: middle;
        display: inline-block;
      }
    img{
      height: 17px;
      width: auto;
      vertical-align: middle;
    }
    img.ozo-logo{
      width: auto;
      margin-left: 23px;
    }
  }
}


}

  @include mq($from: mobile,$until:navbar-breakpoint) {
  #header{
    nav div > ul.navbar-primary > li a{padding: 0 15px 0 0;}
    nav{

    }
    .navbar-header{
      position:relative;
      height: auto;
      .navbar-brand{
        height: auto;
      }
    }
    .navbar-primary{
    }
    .dropdown-menu{
      margin-top: 0px !important

    }
    div > ul{
      > li{
        > a, >i.icon{
        }
      }
    }
  }
}

@include mq($until:navbar-breakpoint){
  #header{
  nav{
    height: auto;
  }
  div > ul{
    > li{
      > a, >i.icon{
        height: auto !important;
        line-height: 20px !important;
        padding:0 10px;
      }
    }
  }
  .navbar-primary{margin:0;}
  .navbar-right{position: relative;}
  }
}

@include mq($from: tablet,$until:desktop) {
  #header{
    nav div > ul.navbar-primary > li a{padding: 0 15px 0 0;}
  }
}
@include mq($from: mobile,$until:desktop) {
  #header{
    img.ozo-logo{
      margin-left: 20px !important;
    }
  }
}

@include mq($from: navbar-breakpoint) {
    .navbar-primary{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-right{
      /*float:none;
      position: absolute;
      top: 0;
      right: 0;*/
    }
}


@include mq($from:desktop,$until:wide){
  /*#header{
    .navbar-header{
      width: 106px;
      .navbar-brand{
        height: 67px;
        line-height: 67px;
        span{
          text-align: center;
          width: 106px;
        }
        img.ozo-logo{
          margin-left: 0;
          vertical-align: top;
        }
      }

    }
  }*/

}


@include mq($from:desktop) {
  #header{
  .navbar-primary{
      text-align: center;
      li{
        float:none;
        display: inline-block;
      }
  }
  .navbar-brand{
    .brand-divider{
      //display:none !important;
    }
  }
  }
}


@include mq($until:desktop){
  #header nav{
    height: auto;
  }
  #header nav div > ul.navbar-primary > li{
    height: auto;
  }
  .navbar-right{
    margin-left: -10px;
    padding-bottom: 20px;
  }
  .navbar-right li a,
  #header nav div > ul.navbar-primary > li a{
    font-size: 24px;
    line-height: 32px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  #header .navbar-header .navbar-brand,
  #header .navbar-toggle{
    height: 80px;
    line-height: 80px;
  }
}
@import "navbar-breakpoint";
