$text-info-color: #3cc6f2;
//bg
.bg-primary{
  background: $primary;
}
.bg-light{
  background: #f4f4f4;
}
.bg-blue{
  background: $blue;
}
.bg-gray{
  background: #eaecef;
}
.bg-info{
  background: #3cc6f2;
  color: #fff;
}
.bg-navy{
  background-color: #24293D;
  color: #fff;
}
.bg-purple{
  background-color: #4c4b5d;
  color: #fff;
}

.bg-black{
  background-color: #000;
  color: #fff;
}
.bg-white{
  background-color: #fff;
  color: #000;
}
//Colors
.text-color-primary{
    color:$primary;
}
.text-info{
  color: $blue;
}
.text-info-light{
  color: #00c9ff;
}
.text-white{
  color: #fff;
}
.text-black{
  color: #000;
}

// font weight

.font-weight-bold{
  font-weight: bold;
}

.font-weight-$default-weight{
  font-weight: $default-weight !important;
  p{
    font-weight: $default-weight;
  }
}

.font-weight-100{
  font-weight: 100;
}

.font-weight-normal{
  font-weight: normal !important;
  p{
    font-weight: normal;
  }
}


// margins
.m-b-0{margin-bottom: 0;}
.m-b-1{margin-bottom: 1rem;}
.m-b-2{margin-bottom: 1.5rem;}
.m-b-3{margin-bottom: 2rem;}
.m-b-4{margin-bottom: 4rem;}
.m-b-5{margin-bottom: 5rem;}
.m-b-6{margin-bottom: 6rem;}
.m-b-7{margin-bottom: 7rem;}
.m-b-8{margin-bottom: 8rem;}
.m-b-9{margin-bottom: 9rem;}
.m-b-10{margin-bottom: 10rem;}

.m-t-0{margin-top: 0;}
.m-t-1{margin-top: 1rem;}
.m-t-2{margin-top: 1.5rem;}
.m-t-3{margin-top: 2rem;}
.m-t-4{margin-top: 4rem;}
.m-t-5{margin-top: 5rem;}
.m-t-6{margin-top: 6rem;}
.m-t-7{margin-top: 7rem;}
.m-t-8{margin-top: 8rem;}
.m-t-9{margin-top: 9rem;}
.m-t-10{margin-top: 10rem;}

.m-l-1{margin-left: 1rem;}
.m-l-2{margin-left: 1.5rem;}
.m-l-3{margin-left: 2rem;}
.m-l-4{margin-left: 4rem;}
.m-l-5{margin-left: 5rem;}
.m-l-6{margin-left: 6rem;}
.m-l-7{margin-left: 7rem;}
.m-l-8{margin-left: 8rem;}
.m-l-9{margin-left: 9rem;}
.m-l-10{margin-left: 10rem;}

//paddings
.p-l-0{padding-left: 0}
.p-r-0{padding-right: 0}

//paddings all
.p-a-0{padding: 0}
.p-a-2{padding: 1.5rem;}
.p-a-4{padding: 4rem;}
.p-a-6{padding: 6rem;}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */
 @include mq($from:desktop){
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}


// paddings
.logo-padding{
  padding-left: 91px;
}


//titles
.title-line-bottom{
  padding-bottom: 33px;
  margin-bottom: 33px;
  background: url(../img/title-line-bottom.png) no-repeat center bottom;
}

.title-line-bottom-full{
  padding-bottom: 33px;
  margin-bottom: 33px;
  background: url(../img/title-line-bottom.png) repeat-x center bottom;
}

.title-line-bottom-white{
  background: url(../img/title-line-bottom-white.png) no-repeat center bottom;
}



//quotes
.text-quoted{
  &:before{
    content: "“";
  }
  &:after{
    content: "”";
  }
}


@include mq($until:tablet){
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
    .float-xs-left{float:left !important;}
    .float-xs-right{float:right !important;}
}

@include mq($from:tablet,$until:desktop)
{
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}


@include mq($from:desktop,$until:wide)
 {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@include mq($from:wide)
{
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

.inline-block{
  display: inline-block;
  float:none;
}


.bg-cover{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-full-display{
  background-size: 100% !important;
}

.bg-cover.bg-cover-top{
  background-position: top;
}
.bg-cover.bg-cover-left{
  background-position: left;
}
