.icon {
  display: inline-block;
  font: normal normal normal 14px/1 'nokia_pure_symbolsregular';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
.icon-fw {
  width: 1.28571429em;
  text-align: center;
}
.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.icon-li.icon-lg {
  left: -1.85714286em;
}
.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.icon-pull-left {
  float: left;
}
.icon-pull-right {
  float: right;
}
.icon.icon-pull-left {
  margin-right: .3em;
}
.icon.icon-pull-right {
  margin-left: .3em;
}

.icon-search:before {
  content: "?";
}

.icon-bar:before {
  content: "=";
}

.ozo-icon-right-more{
    content:url('../img/icon-right-more.png')
}
.ozo-icon-right-more-white{
    content:url('../img/next_white.png')
}

