.intro{
  .intro-title{
    padding: 63px 0;
    text-align: center;
    a{
      font-weight: bold;
    }
    a.btn{
      font-weight: 500;
    }
    h2{
      font-weight: 100;
      font-size: 48px;
    }
    p{
      color: #4c4b5d;
      font-size: 20px;
    }
  }


  .intro-paragraph{
    p{
      margin-bottom: 50px;
    }
     @include mq($from:desktop){
       padding: 63px 63px 0px 63px;
     }
  }

}



.intro-gray,
.intro-info,
.intro-purple,
.intro-navy,
.intro-blue-strong,
.intro-blue{
  background: #273142;
  .subscribe-form{
    background: #273142;
  }
  position: relative;
  .intro-title{
    padding: 28px 0;
    h2{
      font-weight: $default-weight;
    }
    h2,p,a{
      color: #fff;
    }
    a:hover{
      color: #fff;
    }
  }
  .caret-bottom{
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    text-align: center;
    z-index: 50;
    img{
      margin-bottom: -42px;
    }
  }

}
.intro-gray,
.intro-info{
  background: #00c9ff;
  .subscribe-form{
    background: #00c9ff;
  }
  .intro-title{
    h2,p,a{
      color: #000;
    }
  }
}
.intro-gray{
  background: #eaecef;
  .subscribe-form{
    background: #eaecef;
  }
}
.intro-blue-strong{
  background: $blue;
  .subscribe-form{
    background: $blue;
  }
}
.intro-navy{
  background: #24293D;
  .subscribe-form{
    background: #24293D;
  }
  a{
    color: #fff;
  }
}
.intro-purple{
  background: #4d5766;
  .subscribe-form{
    background: #4d5766;
  }
}
