@import "./import";
body,html{
  overflow-x: hidden;
  min-width: 320px;
}
body{
    font-family: "nokia_pure_headline", sans-serif;
    font-weight: $default-weight;
    font-size: 16px;
    background-color: #fff;
    color:#313131;
    overflow-x: hidden;
}

a{
  color: #124191;
}

a:focus,
a:hover{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: $default-weight;
}


section{
    font-size: 18px;
}

.img-responsive{
    width: auto;
}



@include mq($from:desktop){
    .pull-md-right{
        float:right;
    }

}


@include mq($from:wide){
    .container{
        width: 1168px + (57px * 2);
    }
    .container,.container-fluid{
        padding-left: 57px;
        padding-right: 57px;
    }
    .row{
        margin-left: -57px;
        margin-right: -57px;
    }

}

.content-expand{
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
}


.global-site-notice{
    font-weight: normal;
    font-family: "nokia_pure_text";
    display:none;
    background: #2a2a2a;
    opacity: 0.9;
    filter: alpha(opacity=90);
    height: auto;
    min-height: 24px;
    font-size: 16px;
    color: #999;
    text-align: left;
    padding: 20px 35px;
    z-index: 10000;
    width: 100%;
    position: fixed;
    bottom: 0px;
    .notice-inner {
        margin-left: auto;
        margin-right: auto;
        background-position: left;
        background-repeat: no-repeat;
        padding: 20px 0;
        color:#fff;
        a{
          color:#fff;
        }
    }
}



.flagged-banner {
    background: #ff3154;
    font-size: 17px;
    padding: 5px 10px 3px 30px;
    margin-right: 40px;
    @include mq($until:tablet){
      padding: 5px 10px 3px 10px;
      margin-right: 0px;
    }
    position: absolute;
    top: 0;
    left:0;
    z-index: 2;
    a:hover,
    p,
    a{
      font-size: 17px;
      color:#fff;
      text-decoration: none;
      line-height: 35px;
      margin: 0;
      @include mq($until:tablet){
        line-height: initial;
      }
      font-weight: normal;
    }

}
@include mq($from:tablet){
.flagged-banner:after {
    content: "";
    display: inline-block;
    height: 43px;
    position: absolute;
    right: -41px;
    top: 0;
    border: 21px solid #ff3154;
    border-color: transparent transparent transparent #ff3154;
}
.flagged-banner-rectangle:after{
  border-color: #ff3154;
}
}



.sticky{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 9999 !important;
}


.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index: 9999;
    border: 1px solid #273142;
}

.popover{
  max-width: 200px;
  background-color: $text-info-color;
  a{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  &.left{
    .arrow{

      &:after{
      border-left-color: $text-info-color;
      }
    }
  }
}


ul,ol{
  list-style-position: inside;
}



.page-specs{
  color: #000;
  font-size:20px;
  ol,ul{
    padding:0;
    ol,ul{
      padding-left: 6rem;
    }
    ul{
      list-style: disc;
    }
  }
  .intro{
     .bg-gray{
      .intro-title{
        color: #000;
        h2,p{
          color: #000;
        }
      }
    }
  }


}


/** new events */
#ibc-events-hero{
  background-image: url(../img/ibc/hero.jpg);
}

.horizontal-checkbox .checkbox{
  display: inline-block;
  margin-right: 8px;
  margin-top: 0px;
}


.intro.intro-text-left .intro-title{
  text-align: left;
}


.owl-carousel-hero{
  height: 491px;
  overflow: hidden;
}
.owl-carousel-hero .owl-item{
  height: 491px;
  width: 100%;
}
.owl-carousel-hero .section-table .main-container,
.owl-carousel-hero .owl-item .section-table .main-container{
  height: 491px;
  text-align: left;
}
.owl-carousel-hero .section-table .main-container .main-content{
  padding-top: 0;
  vertical-align: middle;
}
.owl-carousel-hero .owl-item img{
  width: auto;
}
.owl-carousel-hero .owl-dots{
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}


.owl-carousel-hero .owl-dots .owl-dot span{
  width: 15px;
  height: 15px;
  background: #bcc8d3;
}

.owl-carousel-hero .owl-dots .owl-dot.active span{
  background: #004096;
}
