$menu-color: #98a2ae;

.page-menu{
    background-color: $menu-color;
    color: #fff;
    .page-menu-title-content{
        position:relative;
        .page-menu-title{
            color: #3cc6f2;
            font-size: 24px;
            line-height: 57px;
            padding-left: 57px;



        }

        .navbar-toggle{
            background: transparent;
            border: 0;
            outline: none !important;
            padding: 0;
            position:absolute;right:0;top:0;
            span{

            }
        }
    }
    .page-menu-nav{
        padding-right: 57px;

    }
    ul{
        li{
            a{
                position: relative;
                font-size:14px;
                &:after{
                    content: "I";
                    position: absolute;
                    right: 0;
                }

                padding:0 17px;
                color: #fff;
                line-height: 57px;
                vertical-align: middle;
                //text-transform: uppercase;
                &:hover, &:focus{
                    outline: none;
                    background-color:transparent;
                }
                font{
                    color:#3cc6f2;
                }
            }

            &:last-child{
                a:after{
                    content: "";

                }
            }
        }
    }

    @include mq($until:tablet){
        .page-menu-nav{
            padding-right: 15px !important;
        }
        .page-menu-title{
            padding-left: 15px !important;
        }
        height: auto;
        .navbar-nav{
            li{
                float:left;
                &:after{
                    content:"";
                }
            }
        }
        .page-menu-nav{
            button{
                position: absolute;

                right: 16px;
                top: 0;
                margin-top: -57px;
            }
        }
    }
}


.page-menu-nav{
  @include mq($until:tablet){
      display:none;
    }
    background-color: $menu-color;
    color: #fff;
    border-radius: 0px;
    min-height: 57px;
    margin-bottom: 0;
    border:none;
    a{
        &:hover{
            background: transparent;
        }
    }
    .navbar-brand{
        color: white;
        //text-transform: uppercase;
        font-size: 20px;
        line-height: 57px;
        padding: 0px 0px 0px 15px;
        line-height: 57px;
        height: 57px;
    }
    .navbar-toggle{
        padding:0;
        margin:0;
        color:#fff;
        outline:none;border:none;
        text-decoration:none;
        .icon-bar{
            width: auto;
            height: auto;
        }
        &:hover{cursor:pointer;}
        @include mq($until:tablet){
            padding-right: 15px;
        }
    }
    .navbar-collapse{
        padding:0px;

        .page-menu{
            li{
                a{
                    position: relative;
                    font-size: 14px;
                    padding: 0 17px;
                    color: #fff;
                    line-height: 57px;
                    vertical-align: middle;
                    //text-transform: uppercase;
                    &:after{
                        content: "I";
                        position: absolute;
                        right: 0;
                    }
                    &:hover, &:focus{
                        outline: none;
                        background-color:transparent;
                    }

                    &:last-child{

                    }

                    &.get-now{
                      line-height: 54px;
                      .btn-flat{
                        font-size: 14px;
                        font-weight: $default-weight;
                        padding:2.5px 20px 2.5px 20px;
                      }
                    }
                }

                a:hover{
                  color:#d8d8db;

                }
                &:last-child{
                    a
                    {       padding-right: 0;
                            &:after{content:""}
                    }
                }
            }
        }
        @include mq($until:navbar-breakpoint){
            .page-menu{
                li{
                    a{
                        &:after{content: "";}
                    }
                }
            }
        }

        @include mq($until:tablet){
            padding:0px 15px;
        }

    }


}
