@import 'node_modules/photo-sphere-viewer/src/scss/photo-sphere-viewer';

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.psv-loader-image{
	animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.panorama{
  position: relative;
  width: 100%;
  height: 646px;
  .psv-container{
    /*background: transparent !important;
    .psv-loader-container{
      display: none;
    }*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .container{
    pointer-events:none;
		@include mq($until:desktop){
			pointer-events:all;
		}
    height: 100%;
    position: relative;
  }
  .panorama-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .panorama-bottom{
    z-index: 1;
    font-size: 16px;
    font-weight: normal;
    color:white;
    text-align: left;
    padding-right: 14px;
    a{
      font-weight: bold;
      color:white;
    }

    p{
      margin:0;
    }
  }
  .panorama-content{
    z-index: 1;
    font-weight: regular;
    position: absolute;
    top: 20%;
    left: 0;
    width: 55%;

    color: #fff;
		.img-responsive{
				margin: 0 auto;
		}
    .panorama-title{
      font-size: 55px;
      line-height: 55px;
    }
    .panorama-subtitle{
      font-size:20px;
    }
    .panorama-button{
      font-weight: $default-weight;
      font-size: 16px;
      line-height: 16px;
      vertical-align: middle;
      .text-weight-bold{
        font-weight: bold;
      }

    }


  }

  .panorama-float-bottom-right{
    position: absolute;
    right: 17px;
    bottom: 17px;
    z-index: 1;
    color:#fff;
    font-size: 16px;
		width: 392px;
		img{
			width: 60px;
			height: 60px;
		}
		img.logo-360{
			width: 50px;
			height: 50px;
		}
		.min-56{
//			@include mq($from:tablet){
				line-height: 50px;
				vertical-align: middle;
	//		}

		}
		@include mq($until:tablet){
			width: 296px;
			right: 5px;
		}
    p{
      margin-bottom: 0;
    }
		small{
			font-size:10px;
			font-weight: bold;
		}
  }

    @include mq($from: mobile,$until:tablet) {
      height: 600px;
      .container{
        height: 600px;
      }
      .panorama-content{
        width: 100%;
        top:10%;
        left:0;
        padding:0px 15px;
        position: relative;
        .panorama-title{
          padding-right: 0;
          font-size: 40px;
          line-height: 45px;
        }
      }
    }
}

.home-panorama{
  .panorama{
    .panorama-bottom{
      border-right: 0px;
      height: auto;
      padding-bottom:10px;
    }
  }
}




section.panorama-internal  {
       /*background-image: url(../img/audio/audio-home.jpg);
        background-size: cover;
        background-position:  center;
        background-repeat: no-repeat;*/
    .panorama-wrapper{
        display:table;

        .panorama-content{
            display: table-cell;
            vertical-align: top;
						padding-top:60px;
            text-align: center;
            position: relative;
            top: 0;
            width: 100%;
						@include mq($until:tablet){
							vertical-align: top;
							padding-top: 80px;
						}
						.img-responsive{
								margin: 0 auto;
								@include mq($until:tablet){
									max-height: 39px;
								}
						}
						h2{
							font-size: 30px;
						}
            .panorama-title{
                h1{
                  @include default-font-header();
                  color:#fff;
                  font-size:60px;
                }
                img{
                    max-width: 100%;
                    //margin-bottom: 22px;
                }
                h2{
                  font-size:48px;
                  margin-top: 0;
									@include mq($until:tablet){
										font-weight: bold;
										font-size: 28px;
										line-height: 28px;
									}
                }
								p{
									font-size:30px;
									margin-top: 30px;
									@include mq($until:tablet){
										font-weight: bold;
										font-size: 24px;
										line-height: 24px;
									}
								}

            }
            .panorama-subtitle{
                p{
                    @include default-font();
                    color:#fff;
                }
            }
        }
    }
}
