.paralax-bg {
   position : relative;

   height : 600px;
   @include paralax-bg();

   color:#fff;
   text-align: center;
   .paralax-title{
     font-size: 48px;
   }
   h2{
     font-size: 30px;
   }
   h3{
     font-size: 26px;
     font-weight: normal;
   }
   p{
       font-size: 18px;
   }
}
