.has-info{
  position: relative;
  height: 100%;
  .container{
    position: relative;
    height: 100%;
  }
  .section-info{
    color:#fff;
    font-weight: $default-weight;
    font-size: 14px;
    padding:20px 30px 0px 50px;
    width: 358px;
    height: 165px;
    background: url(../img/bubble.png) no-repeat;
    position: absolute;
    bottom:20px;
    left: 20px;

    a{
      color: #fff;
      font-weight: bold;
    }
  }
  .dropup{
    position: absolute;
    left:-7px;
    top:20px;
    text-align: center;
    color:#fff;
  }

  @include mq($from:mobile,$until:tablet){
    height:auto;
    .section-info{
      //margin-top:20px;
      //position: relative;
      background: black;
      padding:30px;
      bottom:0;
      left:0;
      right:0;
      width: 100%;
    }
  }
}
