.table-feature{
  tr{
    th  {
      font-size: 26px;
      font-weight: 400;
      border-top: 0px !important;
      text-align: center;
    }
    th:first-child{
      text-align: left;
    }
  }
  tr{
    td{
      border-top: 2px solid #f1f1f3 !important;
      padding: 15px 8px !important;
      text-align: center;
    }
    td:first-child{
      text-align: left;
    }
  }
  tr.active{
    td{
      background-color: #f1f1f3 !important;
    }
  }

}
