.top-banner{
  background: #000;
  color: #fff;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-weight: bold;
  a{
    color: #fff;
  }
}


@include mq($until:tablet){
  .top-banner{
    height: auto;
    padding: 20px 0px;
    line-height: inherit;
    a,p{
      line-height: inherit;
      margin-bottom: 0;
    }
  }
}
