// ==========================================================================
// Brainy variables
// ==========================================================================
//
// Table of Contents:
//  1. Globals
//  2. Colors
//  3. Typography

// 1. Globlas
// ==========================================================================

$mq-breakpoints: (
    mobile:  320px,
    tablet:  768px,
    desktop: 992px,
    navbar-breakpoint: 992px,
    wide:    1280px,


    xs: 480px
);
// 2. Colors
// ==========================================================================


//Colors

$primary: #000423;
$secondary : #4c4b5d;
$dark:#26293d;

$nokia-blue:#124191;
$blue:$nokia-blue;
$blue-light:#3cc7f3;
$blue-dark:#25293d;
$grey:#f4f4f4;
$grey-light:#ededed;
$grey-dark:#4c4b5d;



// 3. Typography
// ==========================================================================

$light : 'nokia_pure_headline';
$bold : 'nokia_pure_headline';
$default-font-family : "nokia_pure_headline",Roboto,Helvetica Neue,sans-serif;
$default-font-size :18px;
$default-font-size-header :48px;
$font-size-large :24px;
$font-size-small :10px;

$header-font-family : "nokia_pure_headline",Helvetica Neue,sans-serif;
//To Default
$default-weight:200;
$font-light :lighter;
$font-normal :400;
$font-strong :500;

//Default Font
@mixin default-font () {
   font-family:   $default-font-family;
   font-size: $default-font-size;
   font-weight: $default-weight;

}
//Default Title
@mixin default-font-header () {
   font-family:   $header-font-family ;
   font-size: $default-font-size-header;
   font-weight: $default-weight;

}
// Header Styles
$h1-fontsize: 50px;
$h2-fontsize: 48px;
$h3-fontsize: 36px;
$h4-fontsize: 34px;
$h5-fontsize: 32px;
$h6-fontsize: 30px;
