<div class="row row-eq-height">
        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 {{include.bgClass}} bg-cover wow fadeInLeft" data-wow-duration="1s">
          <div class="text-container">
            <div class="text-block-container">
              {{include.bgContent}}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray{%if include.info%} has-info{%endif%}" {%if include.pophover%} data-toggle="popover" data-placement="left"{%endif%}>
          {%if include.promo%}
          <div class="banner flagged-banner" style="z-index:1"><a href="{{ site.baseurl }}{% link reality.html %}"> Introducing OZO Reality: new updates to OZO<span class="flag-maker"></span></a></div>
          {%endif%}
            <div class="text-left wow fadeInRight" data-wow-duration="2s">
                    <div class="text-container">
                      <div class="text-block-container">
                            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 ">
                                <h2 class="">{{include.title}}</h2>
                                <p class="">{{include.content}}</p>
                                {{include.button}}
                            </div>
                            {%if include.pophover%}
                            <div class="pophover-content hidden">
                                      {{include.pophover}}
                            </div>
                            {%endif %}
                            {%if include.info%}
                            <div class="section-info">
                                      {{include.info}}
                                      {%comment%}
                                      <span class="dropup">
                                          <span class="caret"></span>
                                      </span>
                                      {%endcomment%}

                            </div>
                            {%endif %}
                          </div>
                    </div>
            </div>
    </div>


</div>
