<div class="row equal-height-container">

        <div class="equal-height-item col-lg-6 col-md-6  col-sm-6 col-xs-12 bg-cover {{include.bgClass}} wow fadeInRight pull-xs-right pull-right{%if include.info%} has-info{%endif%}" data-wow-duration="1s" {%if include.pophover%} data-toggle="popover" data-placement="left"{%endif%}>
          <div class="text-container">
            <div class="text-block-container">
              {{include.bgContent}}
              {%if include.pophover%}
              <div class="pophover-content hidden">
                        {{include.pophover}}
              </div>
              {%endif %}
              {%if include.info%}
              <div class="section-info">
                        {{include.info}}
                        {%comment%}
                        <span class="dropup">
                            <span class="caret"></span>
                        </span>
                        {%endcomment%}
              </div>
              {%endif %}
            </div>
          </div>
        </div>

        <div class="equal-height-item col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray {{include.contentClass}}">
              <div class="text-left wow fadeInLeft" data-wow-duration="2s">
                      <div class="text-container">
                        <div class="text-block-container">
                              <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 ">
                                  <h2 class="">{{include.title}}</h2>
                                  <p class="">{{include.content}}</p>
                                  {{include.button}}
                              </div>
                            </div>
                      </div>
              </div>
        </div>

</div>
