<section class="get-ozo get-ozo-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/ozo-player-sdk-purchase-page/"
                   class="btn btn-primary btn-big btn-flat-white  xs-button wow fadeIn">
                    Get OZO Player SDK
                </a>
            </div>
        </div>
    </div>
</section>
