<section class="get-ozo get-ozo-single get-ozo-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/get-ozo"
                   class="btn btn-light-blue wow fadeIn">
                    Get OZO+ Camera
                </a>
            </div>
        </div>
    </div>
</section>
