<section class="get-ozo get-ozo-blue visible-xs visible-sm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="{%if include.link%}{{include.link}}{% else %}{{ site.baseurl }}{% link reality.html %}{% endif%}"
                   class="btn btn-transparent">
                    Learn more about the OZO Reality platform
                </a>
            </div>
        </div>
    </div>
</section>
