<section id="learn-section" class="m-b-2">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 news bg-navy">
        <h3 class="news-title">Introducing OZO Audio, best-in-class spatial audio technology for camera manufacturers</h3>
        <p class="m-b-6">At Nokia, we believe that a core ingredient to making virtual reality feel like life is spatial 360° audio ...</p>
          <p class="m-b-10">&nbsp;</p>
        <div class="news-more">
          <a class="btn" href="camera.html">
            View all News
          </a>
        </div>
      </div>
      <div class="col-md-6 learn bg-gray">
          <h3 class="learn-title">Learn</h3>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">OZO Camera Quick Start Guide</a></li>
            <li class="list-group-item"><a href="#">OZO Camera Specifications</a></li>
            <li class="list-group-item"><a href="#">OZO Docking Station Quick Start Guide</a></li>
            <li class="list-group-item"><a href="#">Exposure manual: General guidelines for effective<br/>
            lighting and exposure control of the OZO</a></li>
            <li class="list-group-item"><a href="#">Shooting for Stitching: How to design a shoot to minimize stitching artifacts.</a></li>
            <li class="list-group-item"><a href="#">Ordering and Shipping (Camera)</a></li>

          </ul>
          <p class="m-b-7"></p>
          <a class="btn btn-primary reverse" href="creator.html">
            View all
          </a>

      </div>
    </div>
  </div>
</section>
