<section class="intro subscribe-form">
  <div class="intro-title">
    <div class="container">
        <div class="row">
           </form>
            <div class="col-md-6 col-xs-12 text-center">
              <h2 class="subscribe-title">{%if include.subscribeText %}{{include.subscribeText}}{%else%}Sign up for our newsletter{%endif%}</h2>
              <p class="subscribe-subtitle">{%if include.subscribeSubtitleText %}{{include.subscribeSubtitleText}}{%else%}We will never share your information and you can unsubscribe at any time.{%endif%}</p>
              <form class="form-horizontal" type="POST" action="https://cl.s7.exct.net/subscribe.aspx?" id="subscribe-form">
                    <div class="col-md-5 col-sm-12 col-xs-12 text-center inline-block">
                      <input type="email" name="Email Address" placeholder="Enter your email" class="form-control" ></input>
                      <input type="hidden" name="GCLID">
                      <input type="hidden" name="MID" value="7292304">
                      <input type="hidden" name="lid" value="44468">
                      <input type="hidden" name="thx" value="">
                      <input type="hidden" name="err" value="">
                      <input type="hidden" name="Domain" value="US">
                      <input type="hidden" name="Page" value ="">
                    </div>
                    <div class="col-md-4 col-sm-12 p-l-0 col-xs-12 text-center inline-block">
                      <button class="btn btn-light btn-flat submit-button">
                        Subscribe
                      </button>
                      <span class="hidden btn btn-light btn-flat success-button">
                        <i class="fa fa-check"></i>Thanks!
                      </span>
                    </div>
              </form>
            </div>
            <div class="col-md-6 text-center col-xs-12">
              <h2 class="subscribe-title">
                {% if include.storeTitle %}{{ include.storeTitle }}{% else %}Get OZO products{% endif %}

              </h2>
              <p class="subscribe-subtitle">&nbsp;</p>
              <div class="col-xs-12">
                <a class="btn btn-light btn-flat" href="{% if include.storeLink %}{{ include.storeLink }}{% else %}{{ site.baseurl }}{% link store.html %}{% endif %}">
                  {% if include.storeText %}{{ include.storeText }}{% else %}Visit store{% endif %}

                </a>
              </div>
            </div>
        </div>

    </div>
  </div>
</section>


{% comment %}
<section class="intro intro-gray" id="subscribe">
  <div class="intro-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="col-md-5">
              <h2>interested in ozo latest news?</h2>
            </div>
            <div class="col-md-7">
              <form class="form-horizontal">
                  <div class="col-md-8">
                  <input type="email" placeholder="Sign up for our newsletter" class="form-control" ></input>
                  </div>
                  <div class="col-md-4">
                  <button class="btn btn-flat btn-transparent btn-auto">Subscribe <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                  </div>
              </form>
            </div>
            </div>
            <div class="col-md-4 text-left">
              <span class="separator"></span>
              <a class="btn btn-flat btn-primary font-weight-bold btn-auto" href="/eu/ozo-player-sdk-purchase-page/">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                &nbsp;Get OZO
              </a>
            </div>
        </div>

    </div>
  </div>
</section>
{% endcomment %}
