<!--Testimonials-->
<section class="testimonials" id="{{include.id}}">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        <h1 class="text-center wow slideInDown">Testimonials</h1>
                        <h5 class="text-center wow slideInDown">What people are saying</h5>

                    </div>
                </div>
                <div class="testimonial-list">

                    <div class="col-xs-12 col-md-4 col-md-offset-2 col-sm-4 col-lg-4 ">
                        <div class="testimonial wow fadeInDown">
                          <div class="testimonial-avatar">
                            <img src="{{ site.baseurl }}/assets/img/live/testimonial1.png"></img>
                          </div>
                            <div class="testimonial-information">
                                <span>Ben Grossmann</span>
                                <span>Co Founder -  Magnopus</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                        <div class="testimonial wow fadeInDown">
                            <div class="testimonial-avatar">
                              <img src="{{ site.baseurl }}/assets/img/live/testimonial3.png"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Alex Henning</span>
                                <span>Co Founder  -  Magnopus</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 text-center">
                    <p class="testimonial-text wow fadeInDown"><span class="text-quoted">Having integrated 360-degree spatialized audio is really important – knowing that you'll always get a spatialized audio signal that you can then later experience in a headset, that makes a huge difference.</span> | <a href="#" class="text-info">WATCH</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
