<!--Home-->
<section id="live-specs-hero" class="section-table paralax-bg with-overlay">
    <div class="container">
        <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                    <img src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_LIVE_050817.png" class="img-responsive" alt="OZO Creator">
                    <h2>
                      Specifications
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>
