#audio{
    .full-row-bg{
        background-image: url(../img/home/image5.jpg);
        background-size: cover;
        //@include paralax-bg();
    }

}

#audio-specs-hero{
  background-image: url(../img/home/image5.jpg);
}

//Workflow
section#audio-workflow{
    .bg1{
        background-image: url(../img/audio/overview/overview-1.jpg);
      }
      .bg2{
          background-image: url(../img/audio/overview/overview-2.jpg);
      }
    .bg3{
      background-image: url(../img/audio/overview/overview-3.jpg);
    }
}

#audio-panorama{
.panorama .panorama-float-bottom-right{
  @include mq($until:tablet){
    .min-56{
      line-height: inherit;
    }
  }
    a{
    pointer-events: all;
    color: #fff;

    }
    a:focus{
      outline: none;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
}
}
