#cannes-hero{
  height: 652px;
  background-attachment:inherit;
  background-image: url(../img/cannes/hero.jpg);

  .cannes-hero-bottom{
    position: absolute;
    bottom:0px;
    left: 0px;
    right: 0px;
    text-align: center;
  }

  @include mq($until:tablet){
    height: auto;
    .cannes-hero-bottom{
      position: inherit;
      left:inherit;
      right: inherit;
      bottom: inherit;
    }
  }
}

.cannes{

  @include mq($until:tablet){
    .featured-item{
      margin-bottom: 32px;
    }
    .intro .intro-title{
      padding: 32px 0px;
    }
    .intro{
      .intro-title{
        p.text-danger{
          color: #ff3154;
        }
      }
    }
    .section-table{
      .main-content,
      .main-container{
        height: auto;
      }
      .main-content{
        padding-bottom: 10px;
        padding-top: 10px;
        h2{
          font-size: 24px;
        }
        h3{
          font-size: 20px;
        }
      }
    }
  }
  #cannes-subscribe-form-ajax-disabled,
  #cannes-subscribe-form{
      .col-md-2{
        width: 20%;
      }
  }
  #subscribe{
    margin-top: 0;
  }
  .intro-purple{
    .intro-title{
      p{
        color: #fff !important;
      }
    }
    form{
      label{
        color: #fff;
      }
    }
  }
  .featured-item{
    @include mq($from:tablet,$until:desktop){
      height: 400px;
    }
    @include mq($from:desktop){
      height: 320px;
    }
  }
  ul.no-dot-space{
    li{
      span{
        @include mq($from:desktop){
          position: relative;
          left:-17px;
          @-moz-document url-prefix(){
            left:0;
          }
        }
      }
    }
  }
  .intro{
    .intro-title{
      color:#000;
      p{
        color:#000;
      }
    }
  }

  #showcase-featured{
    a{
      img:hover{
        opacity: 0.6;
      }
    }
  }
}

#cannes-quote-hero{
  background-image: url(../img/cannes/quote.jpg);
  h2{
    font-weight: $default-weight;
  }
  @include mq($until:tablet){
    background-position: 60%;
    h5{
      padding-right: 40%;
    }
  }
  .main-container{
    color: #000;
    .text-quoted:before,
    .text-quoted:after{
      color: $text-info-color;
    }
  }
}

.cannes-testimonial{
  .cannes-testimonial-title{
    font-size: 20px;
    color: #273142 !important;
  }
  .cannes-testimonial-subtitle{
    font-size: 20px;
    color: #273142 !important;
  }
}


.intro-cannes{
  h3{
    font-size: 27px;
    font-weight: bold;
  }
  h4{
    font-size:23px;
    font-weight: normal;
  }
  p{
    font-size: 22px;
  }
}
