//Home
section#connect-home
{
    h1{
        @include default-font-header();
        font-size: 48px;
        margin: 45px 0 30px 0;
        color:$primary;
    }
    p{
        @include default-font();
        color:$secondary;

        max-width: 750px;
        display: block;margin:0 auto 40px auto;
    }
    figure.connect-experience{
        width:100%;
        min-height: 338px;
        background-image:url('../img/connect/connect-home.jpg');
        @include paralax-bg();
    }
}

//Connect
section#connect
{
    .connect-content{
        padding:56px  57px 28px 57px;
        background-color: $grey;
        float: left;
        h6{
            margin:0 auto 15px auto;
            color:$dark;
        }
        p{
            color:$secondary;
            margin-bottom: 50px;
            padding: 0 29px;
        }
    }
}
//News
section#connect-new-tabs
{
    .title{
        @include default-font-header();
        color:$primary;
        margin-top: 80px;margin-bottom: 20px;

    }
}
//Conatct us
section#connect-contact-us
{
    .buttons{
        margin-bottom:35px;
        .btn{
            padding-left: 35px;padding-right: 35px;
        }
    }
}

//Social
section#connect-social
{
    margin-bottom: 136px;
}


//Connect tabs
section#connect-tabs{
    .connect-tab{
        padding:70px 0px 35px 0px;
        h3{
            font-size: 40px;
            margin:0px 0px 20px 0px;
        }
        p{
            margin: 0;
        }
        //Form
        &.connect-tab-connect{
            form{
                margin-left: -15px;margin-right: -15px;
                max-width: 419px;
                margin-top: 41px;
                display:inline-block;
                .btn-primary{
                    margin-top: 23px;
                    margin-bottom: 24px;
                }
            }
        }
        //Social
        &.connect-tab-social
        {
            .social-content{
                margin-top: 26px;
                max-width: 439px;
                padding-bottom:26px;
                font-size:16px;
                .social-content-header{
                    margin-bottom: 11px;
                }
                &.twitter-content{
                    .twitter{
                        span{
                            display: block;
                        }
                        &+.twitter
                        {
                            margin-top: 15px;
                        }
                    }
                }
                &.forums-link{
                  a{
                    color:#124191;
                    font-size: 24px;
                  }
                }
                &.youtube-content{
                    margin-top: 0;padding-top: 14px;
                    //border-top:1px solid rgba(#000000,0.48);
                    .youtube-video{
                        display:inline-block;
                        .video
                        {
                            img{
                                max-width: 100%;
                            }
                        }
                        .description{
                            span{
                                display: block;
                            }
                        }
                    }
                }
            }

        }

    }
}

//Connect Events
section#connect-events{
    div.table{
      .table-head{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        div{
          padding: 8px;
          line-height: 1.42857143;
          font-weight: bold;
          @include mq($until:tablet){
            font-size: 14px;
          }
        }
      }
      .event{
        overflow: hidden;
        border-bottom: 1px solid #ddd;
      }
    }
    .content{
        padding-top:59px;
        table{
          th{
            @include mq($until:tablet){
              font-size: 14px;
            }
          }
        }
        .event{
            padding-bottom:31px;
            &:after{
                content: "";
                position: absolute;
                width: 1px;
                top:14px;
                bottom: 0;
                right: 7.5px;
                background-color: #ededed;

            }
            &:last-child{
                &:after{
                    width: 0;
                }
            }
            @include mq($until:xs){
                  &:after{
                    width: 0;
                }
            }
            @include mq($from: mobile,$until:desktop){
                  &:after{
                    width: 0;
                }
            }

            h3{
                font-size: 40px;
                margin: 4px auto;
                @include mq($until:tablet){
                  font-size: 26px;
                }
            }

            .description,.location{
                span{
                    display: block;
                }
            }
            .location{
                span{
                  @include mq($until:tablet){
                    font-size: 14px;
                  }
                    &:last-child{
                        font-weight: bold;
                    }
                }
            }
            .description{
                span{
                }
                a{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 23px;
                    display: inline-block;
                    span{
                        font-size: 23px;
                        color:$primary;
                        font-weight: $font-light;
                        font-size: 18px;
                        display: inline-block;
                        float: left;
                        margin-right: 6px;
                        @include mq($until:tablet){
                          display:none;
                        }
                    }
                }
            }
        }
    }

    .indicators{
      .list-group-item{
        border: 0;
      }
      .dates{
        padding-bottom: 0;
      }
      .location{
        padding-top: 0;
      }
      .description{
        padding-bottom: 61px;
      }
    }

}


.events-table{
  tbody{
    tr{
      td{
        vertical-align: middle;
      }
    }
  }
  .event{
    align-items: center;
  }
}
