section#creator-home {
    @extend .section-table;
    @extend .section-background-parallax;
    background-image: url(../img/creator/creator-home.jpg);
    .main-content{
        img{
            max-width: 100%;
        }
        p{
            @include default-font();
            color:#fff;
        }
    }

}
//Workflow

section#creator-workflow
{
   background-color: #ededed;

      .bg1{
        background-image: url(../img/creator/creator-wf-1.jpg);
        }
       .bg2{
         background-image: url(../img/creator/creator-wf-3.jpg);
       }
       .bg3{
           background-image: url(../img/creator/creator-wf-2.jpg);
       }

}
