#deliver-hero{
  background-image: url(../img/deliver/hero.jpg);
  height: 600px;
}
/*.hero{
  .hero-content{
    padding:330px 0px 0px 0px;
    text-align: center;
    @include mq($until:tablet){
      padding-top: 100px;
    }
    @include mq($until:mobile){
      padding-top: 50px;
    }
  }
  h2{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 60px;
  }
  p{
    font-size: 24px;
    margin-bottom: 0;
  }
}*/


#deliver-intro-section{
  .bg1,.content1{
    @include mq($from:desktop,$until:wide){
      height: 673px;
    }
  }
  .bg1{
      background-image: url(../img/deliver/image1.jpg);
      background-position: right;

  }
  .bg2{
      background-image: url(../img/deliver/image2.jpg);
      background-position: 70%;
  }
}


#deliver-join{
    font-weight: normal;
}
