//Features
section.features{
    .features-content{
        max-width: 967px;
        padding: 41px 4px 27px 4px;
        display: block;
        margin: 0 auto;
        .features-title{
            position:relative;
            margin-bottom:39px;
            h1{
                margin: 0;
                text-align: center;
                color:$secondary;
                @include default-font-header();
                padding-bottom: 28px;


            }
            &:after{
                content:'';
                position: absolute;
                z-index: -1;
                bottom: 0;
                left:0;
                height: 1px;width:100%;
                margin: 0 auto;
                background:url('../img/features/features-divider.png') no-repeat bottom center;
                background-size:100% 15px;
            }
        }
        .features-list
        {
            padding: 0px 20px 30px 20px;
            text-align: center;
            .feature{
                padding:0px 57px 27px 57px;
                p{
                    color:$primary;
                    @include default-font();
                    margin: 0;
                    margin-bottom: 20px;
                }
                .feature-ul{
                    margin-bottom: 0px;
                }
                ul{
                  padding:0;
                  margin-bottom: 20px;
                  list-style: none;
                  li{

                  }
                }
                .feature-list-title{
                    font-weight: 400;
                    margin-bottom:20px;
                    img{
                      vertical-align: top;
                    }
                }
                 @include mq($until: xs){
                padding-left: 0;padding-right: 0;

            }
            @include mq($until: mobile){
                padding-left: 0;padding-right: 0;

            }
            }


        }
    }
}
