
@import "home/create";

@import "home/create-deliver-experience";
@import "home/live";
@import "home/deliver";
@import "home/experience";
@import "home/get_ozo";
@import "home/what_creators_are_saying"; // TODO: remove
@import "home/what-people-are-saying";
@import "home/learn";
@import "home/newsletter";


.full-row{
  .full-row-content{
    padding:140px 0px;
  }
  .full-row-bg{
    background-position: center;
    background-repeat: no-repeat;
  }
  .full-row-content,
  .full-row-bg{
    height: 666px;
  }
  h2,h3{
    font-weight: 100;
  }
  h3{
    font-size: 30px;
  }
  p{
    font-size: 18px;
    font-weight: $default-weight;
  }
}

.generic-half-box-left{
  .full-row-bg{
    background-image:url(../img/image2.jpg);
    background-size: cover;
    //@include paralax-bg();
  }
}

.generic-half-box-right{
  .full-row-bg{
    background-image:url(../img/image1.jpg);
    background-size: cover;
    //@include paralax-bg();
  }
}


#camera{
    .full-row-bg{
      background-image:url(../img/home/image1.jpg);
      background-size: cover;
      //@include paralax-bg();
    }
  }

#creator{
  .full-row-bg{
    background-image:url(../img/home/image2.jpg);
    background-size: cover;
  }
}

#live{
  .full-row-content{
    }
    .full-row-bg{
      background-image:url(../img/home/image3.jpg);
      background-size: cover;
      //@include paralax-bg();
    }
  }


  #deliver{
    .full-row-bg{
      background-image:url(../img/home/image4.jpg);
      background-size: cover;
    }
  }


.created-with-ozo{
  .created-with-ozo-title{
    font-size:18px;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  .created-with-ozo-subtitle{
    color: #273142;
    font-size:18px;
  }
  .created-with-ozo-content{
    font-size:15pz;
  }
}


.subscribe-form{
  @include mq($until:tablet){
    margin-top: 0;
  }
  background: $blue;
  .container{
    @include mq($from:desktop){
      background: url(../img/home/subscribe-line-bg.png) no-repeat;
      background-position: center;
    }
  }
  color: #fff;
  .intro-title{
    text-align: left;
  }
  .intro-title{
        .subscribe-title{
          font-size: 27px;
          color: #fff;
        }
        .subscribe-subtitle{
          font-size: 14px;
          color: #fff;
        }
        h2{
          font-size: 17px;
          display: inline-block;
          margin:0;
          line-height: 40px;
        }

        form{
          vertical-align: top;
            > div{
              padding:0;
              vertical-align: top;
            }
            input{
              @include border-radius(30px);
              text-align: center;
              font-size: 16px;
              color: #4d5766;
              height: 40px;
            }
            .btn{
              margin-left:10px;
              @include mq($until:desktop){
                margin-top:10px;
                margin-bottom:20px;
                margin-left:0;
              }
            }
          }
        }

}


[class~='subscribe-form']:last-of-type{
  margin-top: 3rem;
}
