section#inspiration-hero{
  background-image: url(../img/inspiration/banner1.jpg);
  height: 687px;
}

.section-article{
  .article-title{
    font-size: 24px;
    font-weight: 100;
  }
  .list-style-none{
    padding-left: 0;
    margin-bottom: 20px;
  }
}
