#learn-hero{
  background-image: url(../img/learn/hero.jpg);
  height: 600px;

}


.learn-page{

  .section-article{
    margin-bottom: 50px;
    .text-center{
      h2{
        font-size: 30px;
      }
    }
  }


}
