#live-workflow{
  .workflow-bg{
      background-size: cover;
      background-position:  center;
      background-repeat: no-repeat;
      &.workflow-bg-1{
        background-image: url(../img/live/image1.jpg);
      }
      &.workflow-bg-2{
          background-image: url(../img/live/image2.jpg);
      }
      &.workflow-bg-3{
          background-image: url(../img/live/image3.jpg);
      }
      &.workflow-bg-4{
          background-image: url(../img/live/image4.jpg);
      }
  }
}

.live-page{
section.get-ozo{
  margin-top: 0px;
}
section.partners .partners-section-content{
  section.partners .partners-section-content .partners-list{
    margin-bottom: 0;
  }
}
}



#live-specs-hero{
  background-image: url(../img/live/image2.jpg);
}

.page-specs{
  .img-responsive{
    margin: 0 auto;
  }
}
