section.news-tabs
{

    .tab{
        min-height: 580px;
        height: 100%;
        background-color: #f4f4f4;
        padding: 85px 0px 69px 0px;
        color:$primary;
        margin: 0px -15px;
        position:relative;

        &.new{
            background-color: #25293d;
            border-radius: 35px 0px 0px 0px;
            color:#fff;
            @include mq($from: mobile){
                border-radius: 0;
            }
            @include mq($from: tablet){
                border-radius: 35px 0px 0px 0px;
            }
        }
        &.blue-light{
            background-color: #3cc6f2;
            color:#fff;
        }
        &.border-radius{

            &.top-left{
                border-radius: 35px 0px 0px 0px;
            }
            &.top-right{
                border-radius: 0px 35px 0px 0px;
            }
            &.bottom-left{

                border-radius: 0px 0px 0px 35px;
            }
            &.bottom-right{
                border-radius: 0px 0px 35px 0px;
            }

        }


        &.with-divider{

            &:after{
                content: "";
                width: 1px;
                background-color: #fff;
                position: absolute;
                top:10%;
                right: 0;
                height: 80%;
            }  
            @include mq($until:xs){
                
                
                &:after{
                    height:0;
                }
            }
            @include mq($from:mobile){
                
                
                &:after{
                    height:0;
                }
            }
      
            @include mq($from: tablet,$until:desktop){
                
                
                &:after{
                    height:0;
                }
            }   @include mq($from: desktop){
                
                
                &:after{
                    height:80%;
                }
            }
    
        }     
        .tab-content{

            max-width: 436px;padding: 0 20px;
            display: block; margin: 0 auto;
            h1{
                @include default-font-header();
            }
            h6{
                @include default-font-header();
                font-size: 30px;
                margin: 11px 0px 17px 0px;
            }
            p{
                @include default-font();   
                margin-bottom: 30px;
            }
            //Event
            .event-block{
                margin-top: 50px;
                font-size:18px;
                .event-header{
                    ul{
                        padding: 0;margin:0;
                        list-style:none;
                        li{
                            font-size:18px;
                            display: inline-block;
                            padding-right: 10px;
                            position:relative;
                            &:after{
                                content: "-";
                                position:absolute;right: 0px;
                            }
                            &:last-child{
                                &:after{
                                    content: ""
                                }
                            }
                        }
                    }   
                }
                .event-content{
                    p{font-weight: $font-normal;margin-bottom:20px;}

                    .btn{
                        margin-left: 51px;
                    }
                }
            }
            &.resources{
                h1{
                    //Desaligned Headers

                }
                a.gateway{
                    font-size: 14px;
                    line-height: 24px;
                    color:$primary;
                    padding-left:21px;
                    position:relative;
                    display:inline-block;
                    font-weight:400;
                    &:hover{text-decoration: none;}
                    &:before{
                        content:url('../img/resources-lock-icon.png');
                        position: absolute;
                        left: 0;
                        width: 24px;
                        height: 24px;
                    }

                }
                ul{

                    padding-left: 20px;
                    li{
                        font-size: 18px;
                        padding: 5px 0px;
                        font-weight: 100;
                        a{
                            color:$primary;
                            line-height:30px;
                            &:hover{
                                text-decoration: none;
                            }
                            i{margin-left: 12px;}
                        }
                    }
                }
            }
        }
    }
}