section.partners
{
    background-color: #273142;
    color:#fff;
    .partners-section-content{
        padding:28px 57px 28px 57px;
        .partners-title
        {

            /*max-width:  473px;*/
            margin:0 auto 40px auto;
            display:block;
                    padding: 0 15px;

            h1{
                font-size: 48px;
                font-weight: 100;


            }
            p{
                font-size: 18px;
                font-weight: 100;
                margin-top: 12px;
            }
        }
        //Testimonial-col
        .partners-list{
            width:100%;
            padding:0 98px;
            margin-bottom:68px;
            @include mq($until:tablet){
              margin-bottom:0px;
            }


            .partner
            {
                width: 100%;
                margin-bottom:36px;
                position:relative;
                .partner-image-wrapper{
                    display:table;
                    width:100%;
                    .partner-image-content{
                        display:table-cell;
                        vertical-align: middle;
                        text-align:center;
                        height:60px;
                        a,
                        p,
                        img{
                            display: inline-block;
                            max-width: 80%;
                            max-height: 60px;
                            @include mq($from:tablet){
                              &.img-responsive{
                                max-width: 100%;
                              }
                              &.img-responsive-sizedown{
                                max-width: 60%;
                              }
                            }

                        }
                        p{
                          font-size:34px;
                        }
                        &.v-top{
                            vertical-align:top;
                        }
                        &.v-bottom{
                            vertical-align: bottom;
                        }

                    }
                }
                .partner-information{
                    display:block;
                    margin-top:26px;
                    p{
                        font-size: 16px;
                        display:block;
                        max-width: 200px;
                        margin: 10px auto 0 auto;
                        text-align: center;

                    }
                }
                &:after{
                    content: url('../img/partners/partner-separator.png');
                    position: absolute;
                    right: -20px;
                    top:50%;
                    margin-top: -(125px /2);
                }
                &.last-partner{

                    &:after{
                        content: "";
                    }

                }

                @include mq($until: xs){
                    &:after{content:"";}
                }
                    @include mq($from: mobile){
                    &:after{content:"";}
                }
                    @include mq($from: tablet){
                    &:after{content: url('../img/partners/partner-separator.png');}
                }
            }

            @include mq($until: xs){
                padding:0;
            }
            @include mq($from: mobile){
                padding:0;
            }
              @include mq($from: tablet){

            }
            @include mq($from: desktop){

            }
            @include mq($from: wide){

            }
        }

        @include mq($until: xs){
            padding:28px 0px 28px 0px;
        }

        @include mq($from: mobile){
            padding:28px 0px 28px 0px;
        }
        @include mq($from: tablet){

        }
        @include mq($from: desktop){

        }
        @include mq($from: wide){

        }

    }

}
