#reality-hero{
  background-image: url(../img/reality/hero.jpg);
  height: 652px;
  @include mq($until:tablet){
    height: 600px;
  }
}

#reality-workflow{
  .bg1{
    background-image: url(../img/reality/image1.jpg);
  }
  .bg2{
    background-image: url(../img/reality/image2.jpg);
  }
  .bg3{
    background-image: url(../img/reality/image3.jpg);
  }
}
