#sdk-workflow{
      .bg1{
        background-image: url(../img/sdk/image1.jpg);
        background-size: 100%;
        background-color: #283142;
        min-height: 300px;
        @include mq($from:tablet,$until:desktop){
          background-image: url(../img/sdk/image1-tablet.jpg);
        }
        @include mq($from:600px,$until:tablet){
          //background-image: url(../img/sdk/image1-wide.jpg);
          min-height: 400px;
        }
      }
      .bg2{
          background-image: url(../img/sdk/image2.jpg);
          background-position: left;
      }
      .bg3{
          background-image: url(../img/sdk/image3.jpg);
      }
}


.sdk-page{
  section.partners .partners-section-content .partners-list .partner .partner-image-wrapper .partner-image-content{
    height: 200px;
  }
}



#sdk-specs-hero{
  background-image: url(../img/sdk/image3.jpg);

}
