

.featured-item{
    margin-bottom:65px;
    //Image
    .featured-image{
        margin-bottom: 25px;
        position:relative;
        .caption{
            display:inline-block;
            padding: 0 26px;
            height: 26px;
            background-color: #00c9ff;
            position: absolute;bottom:15px;left:0;
            font-size: 12px; font-weight: bold;
            line-height: 26px;
            text-transform: uppercase;
            color:#fff;
        }
    }
    p{
        font-size: 15px;
    }


    .featured-content-wrapper{
        position: relative;


        .featured-title{
            font-size: 20px;
            @include mq($until:desktop){
              font-size: 24px;
            }
            a{
              color: #000;
            }
            font-weight: bold;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        .featured-subtitle{
            font-size: 16px;
            @include mq($until:desktop){
              font-size: 20px;
            }
            margin-bottom: 20px;
            color:$primary;
        }
        .featured-content{
            font-weight: normal;
            font-size: 14px;
            @include mq($until:desktop){
              font-size: 18px;
            }
        }
        .featured-highlight{
            font-weight: bold;
        }

    }
}


section#showcase-hero{
    background-image: url(../img/showcase/hero.jpg);
    height: 652px;
    @include mq($until:tablet){
      height: 600px;
    }
    @include mq($until:373px){
      height: auto;
    }
    background-position: center;

}
//Showcase
section#showcase-featured{
    padding:50px 0  0  0;
    h2{
        margin-bottom:50px;
    }
}
//People Are Saying
section#showcase-people-saying
{
    padding:50px 0  0  0;
    h2{
        margin-bottom:50px;
    }
}
//People Saying Item
.people-saying-item{
    padding: 45px 30px 30px 30px;
    background-color: #f2f4f6;
    border-top:5px solid #00c9ff;
    text-align: center;
    margin-bottom:25px;
    .people-saying-text{
        margin-bottom: 45px;
        @include mq($from:desktop){
          height:180px;
        }
        p{
            font-size: 16px;
            color:#000000;
            font-weight: normal;
            padding:0 15px;position:relative;
            margin:0;
            span{
                color:#00c9ff;
                margin-right: 10px;
                font-size:30px;
                height:20px;
                display: inline-block;
                vertical-align: top;
                &:last-child{
                    margin-right: 0px;
                    margin-left: 10px;
                }
            }
        }

    }
    .people-saying-avatar{
        margin-bottom:30px;
        img{
            max-width: 106px;
            display: block;margin: 0 auto;
        }
    }
    .people-saying-info{
        margin-bottom:25px;
        span{
            display: block;
            text-align: center;
            font-size: 15px;
            &.name{

                font-weight: bold;
            }
        }
    }
    .people-saying-watch{
        font-size: 15px; font-weight: bold;
        color:#124191;
        span{
            font-size: 10px;
        }
    }

}
section#showcase-experiences{
    padding:50px 0  0  0;
    h2{
        font-size: 26px;
        font-weight: bold;
    }

    .featured-title{
        min-height: 50px;
    }
    .read-more-inside{
        font-weight: normal;
    }
}

section#showcase-calling{
    padding-top: 57px;
    padding-left:145px;
    background-image: url(../img/showcase/calling-bg.jpg);
    height: 245px;
    h3{
        font-size: 40px;
        margin-top: 0;
    }
    p{
        font-size: 15px;
        margin-bottom: 30px;
    }

    color:#fff;

    @include mq($until:desktop){
        padding-left:75px;
    }
    @include mq($until:tablet){
        padding-left:0px;
        padding-top: 15px;
    }
    @include mq($until:xs){
        padding-left:0px;
    }
}

section#showcase-interested{
    background-image: url(../img/showcase/insterested-bg.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 10% center;
    height: 467px;
    padding-top: 123px;
    h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
    }
    p{
        font-size: 15px;
        margin-bottom: 20px;
    }
    a{margin-top:10px;}

    color:#fff;

}
