.social-tab{
    position:relative;
    background-color:#f4f4f4;
    border-radius: 0 0 20px 0;
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
    height: 100%;
    color:$secondary;
    &.facebook{
        .main-content{
            padding-left: 57px;
            padding-right: 41px;
        }
    }
    &.twitter{
        .main-content{
            padding-left:42px;
            padding-right: 42px;
        }
    }
    &.youtube,&.instagram{
        .main-content{
            padding-left:36px;
            padding-right: 36px;
        }
    }
    .main-content{
        position: relative;
        padding-bottom:40px; 
        .header{
            height: 119px;
            display: table;
            width: 100%;margin-bottom:25px;
            .header-content{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                .social-icon
                {
                    width: 50px;

                }
            }

        }
        .content{
            min-height:190px;
            p{
                font-size: 16px;
                margin-bottom: 17px;
                &.twitter{
                    line-height: 16px;
                }
                &.video-text{
                    padding-left: 20px;
                }
            }
            img{
                max-width: 100%;
            }
            @include mq($until:xs){
                text-align: center;

            }
            @include mq($from:mobile){

                text-align: center;
            }
        }
        a.more{
            position: absolute;
            bottom:17px;right:18px;
        }
    }

    &.reverse{
        background-color: #3cc6f2;

        border-radius: 20px 0 0 0;
        color:#fff;
    }

    &:after{
        content: " ";
        right: -1.5px;
        top: 0;
        background-color: #fff;
        width: 3px;
        height: 100%;
        /* display: block; */
        position: absolute;

    }
    &.youtube{
        &:after{
            height: 0;
        }  
    }


    @include mq($from: xs,$until:desktop){
        border-radius: 0 !important;
        &:after{
            height: 0;
        }
    }
    
}

.item-social{
    @include mq($from: tablet,$until:desktop){
        &.item-youtube{
            float: left;
        }

        &.item-instagram{
            float: right;
        }
    }
}

