#store-hero{
  background-image:url(../img/store/hero.jpg);
  height: 450px;
  @include mq($until:tablet){
    height: 600px;
    background-image:url(../img/store/hero-mobile.jpg);

  }
  .main-container{
    height: 450px;
    @include mq($until:tablet){
      height: 600px;
    }
  }
  h2{
    font-size: 48px;

  }
}


.store-page{
  .intro-title{
    h2{
          margin-top: 0;
    }
  }
  .links{
    span{
      color:#3cc7f2;
      a{color:#3cc7f2;}
      font-weight: normal;
      @include mq($until:desktop){
        display:block;

      }
      &:after{
        @include mq($from:desktop){
          content: "I";
          margin-left: 36px;
          margin-right: 36px;
        }
      }
    }
    span:last-child{
      &:after{
        content: "";
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }

  .intro{
    .container{
      border-bottom: 1px solid #ededed;
    }
  }

}
