//Testimonials
.testimonials
{
    position:relative;
    background-color:#ffffff;
    .testimonial-section-content{
        //        padding:78px 57px 95px 57px;
    }
    //Title
    .testimonials-title{
        margin-bottom:38px;
        h1{
            font-size:48px;
            font-weight:100;
            color:#000423;
            margin:0;
        }
        h5{
            font-size:30px;
            font-weight:100;
            color:#000423;
            margin:0;
        }
        @include mq($until: xs){
            h1{
                font-size:35px;

            }
            h5{
                font-size:25px;

            }

        }
    }
    //Testimonial-col
    .testimonial-list{
        display:inline-block;
        width:100%;
        padding:0 98px;
        position:relative;
        .testimonial
        {   padding:0 15px 25px 15px;
            .testimonial-avatar{
                display:block;margin:0 auto;
                text-align: center;

            }
            .testimonial-information{
                display:block;
                margin-top:26px;
                span{
                    color:#4c4b5d;
                    display:block;
                    text-align:center;
                    font-size:18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:nth-child(1){font-weight:bold;}
                }
            }
            .testimonial-caret{
                position:absolute;
                bottom: 0;left:0;
                display:none;
                width: 100%;
                text-align: center;
                span.caret{
                    border-top: 8px dashed $blue;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    display:inline-block;
                    margin:0;
                }
            }
            @include mq($from: wide){
                max-width: 330px;margin: 0 auto;

            }
        }
        @include mq($until: xs){
            padding:0 30px;
        }
        @include mq($from: mobile){
            padding:0 30px;
        }
        @include mq($from: desktop){
            padding:0 15px;
        }
        @include mq($from: wide){
            padding:0 98px;

        }

    }

    @include mq($until: xs){
        padding:78px 0px 0px 0px;
    }
    @include mq($from: mobile){
        padding:36px 0px 0px 0px;
    }

    .testimonial-list {
        .show-testimonial{
            .testimonial-caret{
                display: block;
            }
        }
    }
}

.testimonial-text{
    display: none;
    min-height: 102px;
    &.active{
        display: block;
    }

    font-weight: 100;
    font-size: 24px;
    //max-width: 911px;

    margin:0 auto 27px auto;
    a{
        font-weight: bold;
        font-size:14px;
    }
}


.owl-carousel .owl-item img{
  width: 188px;
  margin: 0 auto;
}
