.section-article{
  .section-article-list{
    padding-top: 42px;
    padding-bottom: 20px;
    padding-left:57px;
    padding-right: 57px;
    a{
      color: #fff;
      @include mq($until:tablet){
        font-weight: bold;
      }
    }

  }
  .section-article-item{
    h2{
      a{
        color:#313131;
      }
    }
    padding-bottom: 80px;
    padding-top: 42px;
    padding-left:57px;
    padding-right: 57px;
    .subtitle{
      margin: 25px 0px 0px 0px;
    }
    .btn-lock{
      color:#4c4b5d;
      span{
        line-height: 18px;
        display: inline-block;
        vertical-align: middle;
      }
      line-height: 23px;
      vertical-align: middle;
      &:hover{
        text-decoration: none;
      }
    }
    .section-article-image{
      border: 1px solid #d7d7d7;
    }
  }

  [class*="col-"] {
    position: relative;
  }

  .btn-float{
    position: absolute;
    bottom: 34px;
    right: 15px;
  }

  h2{
    font-size: 24px;
  }
  font-size:18px;
}


ul.lock-list {
    list-style-image: url(../img/lock-white.png);
}

ul.list-style-none{
    list-style: none;
}
