.section-hero{
  @include paralax-bg();
  padding-top: 148px;
  .section-hero-title{
    font-size:60px;
    margin-bottom: 0;
  }
  .section-hero-subtitle{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 44px;
  }
  .section-hero-content{
    font-size: 18px;
  }
}

.section-hero-white{
  color:#fff;
}
