<section id="showcase-featured" class="bg-white">
  <div class="container">
    <h2 class="text-center">
        AdVRtising created with OZO
    </h2>
    <div class="featured-items">
            {% include cannes/elements/featured-items.html %}
    </div>

  </div>
</section>
