@import 'video';


#camera-remote,
#camera-preview{
    .bg1{
        background-image: url(../img/camera/image1.jpg);
    }
    .bg2{
        background-image: url(../img/camera/image2.jpg);
    }
}


#camera-hero{
        background-image: url(../img/camera/hero.png);
        height: 600px;
        @include mq($until:tablet){
          background-position:right;
        }
}

.camera-page,
.camera-page-2{
  .camera-bg1{
    background-image: url('../img/camera/camera1.png');
  }
  .camera-bg2{
    background-image: url('../img/camera/camera2.png');
    //@include mq($from:tablet){
      background-size:contain;
    //}
  }
  .camera-bg3{
    background-image: url('../img/camera/camera3.png');
  }
  .camera-bg4{
    background-image: url('../img/camera/camera4.png');
    @include mq($from:tablet){
      //background-size:contain;
    }
  }
  .camera-bg5{
    background-image: url('../img/camera/camera5.png');
  }

}
