@import "./fade";
#video-section{
  //margin-bottom: 500px;
  overflow: hidden;
}
.camera-page-2{
  header{
    position: relative;
    background: white;
    z-index: 2;
  }
  .page-menu-nav
  {
    z-index: 1;
  }

  .page-menu-nav{
    background: #939495;
    .page-menu{
        background: #939495;
        li{
            a{
              .get-now{
                color: #fff;
              }
            }
        }
    }
  }

.panorama-internal{
  position: relative;
  height: 580px;
  .panorama{
    height: 100%;
    .container{
      pointer-events: all;
    }

  }
  .video-toggle-item{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;


    @include mq($from:wide){
      bottom: 0px;
      padding-bottom:15px;
    }
    @include mq($from:desktop, $until:wide){
      padding-bottom: 5px;
    }

    /*@media screen and (max-height: 660px) {
      padding-bottom: 5px;
    }

    @media screen and (min-height: 661px) and (max-height: 700px) {
      padding-bottom: 5px;
    }
    @media screen and (min-height: 1000px) and (min-width: 1700px) {
      padding-bottom: 40px;
    }
    @include mq($from: 1000px, $until:5000px,$media-feature: height) {
      padding-bottom: 40px !important;
    }*/

    h4{
      font-weight: $default-weight;
        //font-size: 4vh;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 1px;
    }
    p{
      font-size: 18px;
      margin-bottom: 0;
      min-height: 50px;
    }
  }
  .data-seek-index-0{
      top:150px;
      bottom: initial;
  }

      @-webkit-keyframes bounce {
      0%, 100% {
        -webkit-transform: translateY(0);
      }
      50% {
        -webkit-transform: translateY(-5px);
      }
    }
    @keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-5px);
      }
    }
  .video-toggle-item-show-more{
    z-index: 100;
    top: initial;
    color: #fff;
    a{
      color: #fff;
    }
    opacity: 0.8;
    bottom: 130px;
    p{
      font-size: 15px;
      display:none;
      margin-bottom: 0px;
      font-weight: normal;
    }

    .fa{
      font-size: 50px;
      font-weight: 100;
      /*-webkit-animation-duration: .5s;
      animation-duration: .5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: bounce;
       animation-name: bounce;*/

    }
  }
  .video-toggle-item-show-more:hover{
    p{
      display: block;
      min-height: auto;
    }
  }

  .data-seek-index-1{

  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }
  .video-toggle-item.active{
    display: block;
    -webkit-animation: fadeInUpCamera 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInUpCamera 1s; /* Firefox < 16 */
     -ms-animation: fadeInUpCamera 1s; /* Internet Explorer */
      -o-animation: fadeInUpCamera 1s; /* Opera < 12.1 */
         animation: fadeInUpCamera 1s;
  }
  .video-toggle-item.data-seek-index-0{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
  }
  .panorama-wrapper{
    .panorama-content{
      vertical-align: bottom;
      position: inherit;
      top:0;
      .panorama-title{
        h1{
          color: #000 !important;
        }
      }
    }
  }
  ol.list{
    display: none;
    position: absolute;
    right:40px  ;
    top:30%;
    z-index: 1;
    li{
      position: relative;
      cursor: pointer;
      font-family: "FontAwesome";
      font-size: 8px;
      margin-bottom: 10px;
      list-style: none;
      &:before{
        content:"\f111";
        color: #CCCCCC;
      }
      .label{
        color: #000;
        display: block;
        position: absolute;
        width: 150px;
        top: -4px;
        padding-right: 28px;
        font-size: 12px;
        text-align: right;
        font-family: "nokia_pure_headline", sans-serif;
        right: 0;
        opacity: 0;
        -webkit-transition-property: color, opacity;
        -moz-transition-property: color, opacity;
        transition-property: color, opacity;
        -webkit-transition-duration: 350ms;
        -moz-transition-duration: 350ms;
        transition-duration: 350ms;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
      }
    }
    li:hover{
      > .label{
        opacity: 1;
      }
    }
    li:last-child{
      margin-bottom: 0;
    }
    li.active{
      &:before{
        color:#000000;
      }
    }
  }
}
.panorama{

  .panorama-content{
    color: #000;
    .panorama-title{
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      text-align: center;
      img{
        height: 200px;
      }
    }
  }

}

.video-loading{
  vertical-align: middle;
  width: 100%;
  display:table-cell;
  text-align: center;
  img{
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.video-container{
  position: fixed;
  bottom:0;
  left:0;
  right: 0;
  text-align: center;



}
#v0{
  height: 100%;
  margin: 0 auto;
  z-index: 0;
  vertical-align: bottom;
}

}


.camera-page-2{

  &.mobile{
    /*.panorama{
      background: url(../img/camera/video-mobile-bg.jpg);
      background-size:cover;
      background-position: center;
    }
    .video-container
    {
      display:none;
    }
    ol.list{
      display:none;
    }*/
    #video-section{
      display:none;
    }

  }

}
