<!--Connect tabs-->
<section id="connect-tabs" class="subscribe-form">
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-purple">
                <div class="container-left-half">
                    <div class="connect-tab connect-tab-connect">
                        <h3>Stay connected</h3>

                        <p>Stay informed on the latest OZO news and offers, learn from OZO creators, and join the OZO community.</p>
                        <p>&nbsp;</p>
                            <p>Sign up for our newsletter:</p>
                            <p>We will never share your information and you can unsubscribe at any time.</p>
                        <!--Form-->

                        <form name="Suscribe" action="https://cl.s7.exct.net/subscribe.aspx?" type="post" id="connect-subscribe-form">

                            <div class="col-xs-12 ">
                                <div class="input-group input-text input-text-big input-text-light">
                                  <input type="email" name="Email Address" placeholder="Enter your email" class="form-control" ></input>
                                  <input type="hidden" name="GCLID">
                                  <input type="hidden" name="MID" value="7292304">
                                  <input type="hidden" name="lid" value="44468">
                                  <input type="hidden" name="thx" value="">
                                  <input type="hidden" name="err" value="">
                                  <input type="hidden" name="Domain" value="US">
                                  <input type="hidden" name="Page" value ="">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button class="btn btn-primary light submit-button" id="connect-newsletter-submit-button" >Subscribe</button>
                                <span class="hidden btn btn-light btn-flat success-button" id="connect-newsletter-success-button" >
                                  <i class="fa fa-check"></i>Thanks for subscribing!
                                </span>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 bg-cover bg-gray" >
                <div class="container-right-half">
                    <div class="connect-tab connect-tab-social text-color-primary">
                        <h3>Follow us</h3>
                        <p>Explore the world of virtual reality and 360 video through the eyes and ears of Nokia OZO. Join the conversation and follow us on social media and in our forums for education, insights, trends, and more.</p>
                        <p>&nbsp;</p>
                        <div class="social-content twitter-content">
                            <div class="social-content-header twitter-content-header">
                                <a href="https://twitter.com/nokiavr"><img src="{{ site.baseurl }}/assets/img/socials/social-tw-purple.png" alt="twitter"></a>
                            </div>

                        </div>
                        <div class="social-content youtube-content">
                            <div class="social-content-header youtube-content-header">
                                <a href="https://www.youtube.com/playlist?list=PLgKNvl454BxcUlDLU7AYrSZmg_HLm-Ua_"><img src="{{ site.baseurl }}/assets/img/socials/social-yt-purple.png" alt="youtube"></a>
                            </div>

                        </div>
                        <div class="social-content forums-link">
                          <a href="https://support.ozo.nokia.com/s/" class="more-link font-weight-bold">OZO Forums</a>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</section>
