<!--Conect-->
<section id="connect">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <!--Conect content-->
                <div class="connect-content content-expand">
                    <div class="col-xs-12 text-center">
                        <h6 class="wow slideInLeft">Subscribe to our Newsletter</h6>
                        <p class="wow bounceIn">Usce eu sagittis leo. Etiam accumsan viverra justo ac dictum. Cras pulvinar ipsum in lorem malesuada efficitur. Fusce metus est, interdum, tempus vel ex. Duis rutrum rhoncus metus quis mattis. Cras viverra nulla dolor, et rhoncus tortor facilisis ac.<br>* Mandatary Fields</p>

                    </div>
                    <form name="Suscribe" class="wow fadeIn" action="{{ site.baseurl }}/newsletter/save.php">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="input-group input-text input-text-big">
                                <input type="input1"
                                       class="form-control" id="input1" placeholder="Duis rutrum metus">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="input-group input-text input-text-big">
                                <input type="input2"
                                       class="form-control" id="input2" placeholder="Duis rutrum metus">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                             <div class="input-group input-text input-text-big">
                                <select name="select-1" class="form-control" >
                                    <option value="" selected disabled>Duis rutrum metus</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                              <div class="input-group input-text input-text-big">
                                <input type="input4"
                                       class="form-control" id="input4" placeholder="Duis rutrum metus">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12col-md-6 col-lg-6">
                              <div class="input-group input-text input-text-big">
                                <input type="input5"
                                       class="form-control" id="input5" placeholder="Duis rutrum metus">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="input-group input-text input-text-big">
                                <select name="select-2" class="form-control" >
                                    <option value="" selected disabled>Duis rutrum metus</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-primary btn-big  reverse">Subscribe</button>
                        </div>
                    </form>

                </div>
                <!--/Conect content-->

            </div>
        </div>
    </div>

</section>
