<section class="section-with-header text-color-primary" id="connect-events">
    <div class="container">
        <div class="col-xs-12">
            <div class="content-wrapper content-wrapper-with-border">
                <div class="header text-center wow fadeIn">
                    <h1>Events</h1>
                    <h6>Come explore OZO Reality in person at one of our upcoming events:</h6>
                </div>
                <div class="content">
                  <div class="table events-table">
                    <div class="row table-head">
                      <div class="col-xs-4">EVENTS</div>
                      <div class="col-xs-3">DATES</div>
                      <div class="col-xs-3">LOCATION</div>
                      <div class="col-xs-2">DETAILS</div>
                    </div>
                    <div class="event row row-eq-height">
                      <div class="col-xs-4"><h3>The Nokia OZO MR-athon</h3></div>
                      <div class="col-xs-3"><div class="location"><span>August 12, 2017</span><span></span></div></div>
                      <div class="col-xs-3"><div class="location"><span>Sunnyvale, California</span></div></div>
                      <div class="col-xs-2"><div class="description">
                        <a class="more-link" href="https://www.eventbrite.ca/e/the-nokia-ozo-mr-athon-tickets-36213904764" target="_blank"> View more</a>
                        </div></div>
                    </div>
                    <div class="event row row-eq-height">
                      <div class="col-xs-4"><h3>BIRTV</h3></div>
                      <div class="col-xs-3"><div class="location"><span>August 23-26, 2017</span><span></span></div></div>
                      <div class="col-xs-3"><div class="location"><span>Beijing, China</span></div></div>
                      <div class="col-xs-2"><div class="description">
                        <a class="more-link" href="http://www.birtv.com/ENGLISH/" target="_blank"> View more</a>
                                      </div></div>
                    </div>

                    <div class="event row row-eq-height">
                      <div class="col-xs-4"><h3>IBC</h3></div>
                      <div class="col-xs-3"><div class="location"><span>September 15-19, 2017 </span><span></span></div></div>
                      <div class="col-xs-3"><div class="location"><span>Amsterdam, Netherlands</span></div></div>
                      <div class="col-xs-2">
                                        <div class="description">
                        <a class="more-link" href="{{site.baseurl}}{% link ibc-events.html%}">View more</a>
                                      </div></div>
                    </div>
                    <div class="event row row-eq-height">
                      <div class="col-xs-4"><h3>Slush Helsinki</h3></div>
                      <div class="col-xs-3"><div class="location"><span>November 30 - December 1, 2017</span><span></span></div></div>
                      <div class="col-xs-3"><div class="location"><span>Helsinki, Finland</span></div></div>
                      <div class="col-xs-2">                <div class="description">
                        <a class="more-link" href="http://www.slush.org/" target="_blank"> View more</a>
                                      </div></div>
                    </div>


                  </div>
                </div>

            </div>
        </div>

    </div>

</section>
