<section class="section-with-header" id="connect-contact-us">
    <div class="container">
        <div class="col-xs-12">
            <div class="content-wrapper">
                <div class="header text-center">
                    <h1>Contact us</h1>
                    <h6>We’d love to hear from you.</h6>
                </div>
                <div class='content'>

                    <div class="buttons text-center">
                        <p>To contact sales, please submit your information:</p>
                        <a  href="/contact-sales-marketing" class="wow fadeInUp btn btn-primary btn-big condensed reverse xs-button" data-wow-duration="1s">Contact us</a>

                    </div>
                    <div class="buttons text-center">
                        <p>To contact support, please open a ticket:</p>
                        <a  href="https://support.ozo.nokia.com/OZOSupportCases" class="wow fadeInUp btn btn-primary btn-big condensed reverse xs-button m-b-1"  data-wow-duration="1.5s">Request support</a>
                          <p class="m-b-0">In the U.S., you can also call us at 1 408 663 6304</p>
                          <p>between 8 am and 4 pm Pacific Time.</p>

                    </div>
                    <div class="buttons text-center">

                        <p>For job opportunities, please see open positions on LinkedIn</p>
                        <a  href="https://www.linkedin.com/company-beta/9200169/" class="wow fadeInUp btn btn-primary btn-big condensed reverse xs-button"  data-wow-duration="2s">See jobs</a>
                    </div>
                </div>


            </div>
        </div>

    </div>

</section>


<section class="bg-purple intro">
  <div class="container">
    <div class="intro-title">
      <img src="{{site.baseurl}}/assets/img/connect/marker.png" alt="Contact Us"></img>
      <h3>Our offices</h3>
      <address>Karaportti 3, FI-02610 Espoo, Finland</address>
      <address class="m-b-0">200 S. Mathilda Avenue, Sunnyvale, CA 94086</address>
      <address>101 Second Street, San Francisco, CA 94105</address>
      </div>
  </div>
</section>
