<!--Home-->
<section id="connect-home" class='text-color-primary'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="content-expand">
                    <h1 class="wow fadeIn">OZO Connect</h1>
                    <p class="wow slideInLeft">Sed purus dui, elementum quis purus sit amet, lacinia vulputate tortor. Phasellus ac lectus dignissim, aliquam velit ut, bibendum risus.</p>
                    <!--<figure class="connect-experience wow fadeIn"></figure>-->
                </div>
            </div>
        </div>
    </div>
</section>
