<!--News Tabs-->
<section class="news-tabs" id="connect-new-tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="title">Events</h1>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-12 col-md-6 col-lg-6">

                <div class="tab blue-light  with-divider border-radius top-left wow bounceInLeft">
                    <div class="tab-content ">
                        <!--Event block-->
                        <div class="event-block">
                            <div class="event-header">
                                <ul>
                                    <li>02.04.2017</li>
                                    <li>San Diego</li>
                                    <li>USA</li>
                                </ul>
                            </div>
                            <div class="event-content">
                                <p>Etiam accumsan viverra justo ac dictum. Cras pulvinar ipsum in lorem malesuada efficitur. Fusce metus est, interdum ut commodo vel.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-flat-white btn-big condensed">View more</a>
                                
                            </div>
                        </div>
                        <!--Event block-->
                        <div class="event-block">
                            <div class="event-header">
                                <ul>
                                    <li>02.04.2017</li>
                                    <li>San Diego</li>
                                    <li>USA</li>
                                </ul>
                            </div>
                            <div class="event-content">
                                <p>Etiam accumsan viverra justo ac dictum. Cras pulvinar ipsum in lorem malesuada efficitur. Fusce metus est, interdum ut commodo vel.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-flat-white btn-big condensed">View more</a>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">

                <div class="tab blue-light border-radius bottom-right wow bounceInRight">
                    <div class="tab-content">
                        <!--Event block-->
                        <div class="event-block">
                            <div class="event-header">
                                <ul>
                                    <li>02.04.2017</li>
                                    <li>San Diego</li>
                                    <li>USA</li>
                                </ul>
                            </div>
                            <div class="event-content">
                                <p>Etiam accumsan viverra justo ac dictum. Cras pulvinar ipsum in lorem malesuada efficitur. Fusce metus est, interdum ut commodo vel.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-flat-white btn-big condensed">View more</a>
                                
                            </div>
                        </div>
                        <!--Event block-->
                        <div class="event-block">
                            <div class="event-header">
                                <ul>
                                    <li>02.04.2017</li>
                                    <li>San Diego</li>
                                    <li>USA</li>
                                </ul>
                            </div>
                            <div class="event-content">
                                <p>Etiam accumsan viverra justo ac dictum. Cras pulvinar ipsum in lorem malesuada efficitur. Fusce metus est, interdum ut commodo vel.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-flat-white btn-big condensed">View more</a>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>