<section class="section-with-header" id="connect-social">
    <div class="container">
        <div class="row equal-height-container">
            <div class="col-xs-12">
                <div class="content-wrapper">
                    <div class="header text-center wow slideInUp">
                        <h1>Be part of the OZO Community</h1>
                    </div>
                    <div class="content text-center">
                        <p class="wow fadeIn">Contact OZO Sales and Marketing, Order Processing or Product Support</p>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 equal-height-item item-social item-facebook">
                <div class="social-tab facebook reverse wow bounceInLeft">
                    <div class="main-content">
                        <a href="javascript:void(0)" class="more"><i class="ozo-icon-right-more-white"></i></a>
                        <div class="header">
                            <div class="header-content">
                                <img class="social-icon" src="{{ site.baseurl }}/assets/img/socials/social-fb.png" alt="facebook">
                            </div>
                        </div>
                        <div class="content">
                            <p>Cras sit amet leo non urna volutpat pharetra id vitae lectus. Fusce mattis in metus at commodo. Sed id feugiat enim, a interdum massa. Nulla at dictum risus, a vehicula quam...</p>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6  col-md-3 col-lg-3 equal-height-item item-social item-twitter">
                <div class="social-tab twitter wow bounceInLeft">
                    <div class="main-content">
                        <a href="javascript:void(0)"  class="more"><i class="ozo-icon-right-more"></i></a>
                        <div class="header">
                            <div class="header-content">
                                <img class="social-icon" src="{{ site.baseurl }}/assets/img/socials/social-tw.png" alt="twitter">
                            </div>
                        </div>
                        <div class="content">
                            <p class="twitter">@ Cras sit amet leo non urna volutpat pharetra id vitae lectus.</p>
                            <p class="twitter">@ Fusce mattis in metus at commodo. Sed id feugiat enim, a interdum massa.</p>
                            <p class="twitter">@ Nulla at dictum risus, a vehicula quam...</p>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 equal-height-item item-social item-instagram">
                <div class="social-tab instagram reverse wow bounceInRight">
                    <div class="main-content">
                         <a href="javascript:void(0)" class="more">
                             <i class="ozo-icon-right-more-white"></i>
                        </a>
                        <div class="header">
                            <div class="header-content">
                                <img class="social-icon" src="{{ site.baseurl }}/assets/img/socials/social-in.png" alt="linkedin">
                            </div>
                        </div>
                        <div class="content">
                            <img src="{{ site.baseurl }}/assets/img/socials/video-1.jpg" alt="video">
                            <p class="video-text">Cras sit amet leo non urna volutpat pharetra id vitae lectus.</p>
                        </div>
                    </div>


                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  equal-height-item item-social item-youtube">
                <div class="social-tab youtube  wow bounceInRight">
                    <div class="main-content">
                        <a href="javascript:void(0)" class="more"><i class="ozo-icon-right-more"></i></a>
                        <div class="header">
                            <div class="header-content">
                                <img class="social-icon" src="{{ site.baseurl }}/assets/img/socials/social-yt.png" alt="youtube">
                            </div>
                        </div>
                        <div class="content">
                            <img src="{{ site.baseurl }}/assets/img/socials/video-2.jpg" alt="video 2">
                            <p class="video-text">Cras sit amet leo non urna volutpat pharetra id vitae lectus.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
