<!--Home-->
<section id="creator-home" class="with-overlay wow fadeIn">
    <div class="container">
        <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                    <img src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_CREATOR_050817.png" class="img-responsive" alt="OZO Creator">
                    <h2>
                      Specifications
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>
