<section id="sdk-news" class="news-widget">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 news bg-navy">
        <h3 class="news-title m-b-3">Latest</h3>




        <h4 class="m-b-2">In 1.3.0, we launched:</h4>
        <p>Build incredible scenes in your video using the new Chroma keying (or “green screen” compositing) functionality within the Mixed Reality API for Unity. Easily replace blocks of a color within your video with your own graphics or images.</p>
        <p>Multi-platform support now extends to Windows Mixed Reality. Begin building your VR experiences for the upcoming Windows Mixed Reality headsets.</p>
        <p>Support for 180-degree video. In addition to supporting the playback of all standard video and 360 video formats captured on any camera, the OZO Player SDK now support 180-degree videos for even more flexibility of playback options.</p>

      </div>

      <div class="col-md-6 learn bg-gray">
          <h3 class="learn-title m-b-3">Learn</h3>
          <p>How-to videos</p>
          <ul>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/xgwQureTdXk?rel=0">OZO Player SDK: Prerequisites</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/SOg6Z0iwO88?rel=0">OZO Player SDK: Basics</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/tzjYznMRkPc?rel=0">OZO Player SDK: API Overview</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/SZxOuCEvcv4?rel=0">OZO Player SDK: Creating With White Label Applications</a></li>
          </ul>

          <p>FAQs</p>
          <ul>
            <li><a href="https://support.ozo.nokia.com/s/search/All/Home/ozo%20player%20sdk?tabset-d14af=2">OZO Player SDK</a></li>
          </ul>
          <p>User guide</p>
          <ul>
            <li><a href="{{site.baseurl}}{%link sdk-getting-started.html%}">Getting started with OZO Player SDK</a></li>
            <li><a href="{{site.baseurl}}{%link sdk-using-sdk.html%}">Using Player SDK</a></li>
            <li><a href="{{site.baseurl}}{%link sdk-player-plugin.html%}">OZO Player SDK Unity plugin</a></li>
          </ul>

          <p>Forum</p>
          <ul>
            <li><a href="https://support.ozo.nokia.com/s/search/All/Home/ozo%20player%20sdk">OZO Player SDK</a></li>
          </ul>


      </div>
    </div>
  </div>
</section>
