<section class="intro intro-navy">
  <div class="intro-title">
    <div class="container">
      <p class="wow fadeIn">OZO Player SDK (software development kit) enables developers to quickly and efficiently add VR and mixed reality playback support to apps across all major viewing platforms. It supports all standard video and 360° formats, as well as best-in-class OZO VR format extensions captured with OZO+ camera and output by OZO Live and OZO Creator. </p>
    </div>
  </div>
</section>

{% include commons/learn-more-cta.html %}


{% capture info%}

      <p class="wow fadeIn">The final step of the <a href="{{ site.baseurl }}{% link reality.html %}">OZO Reality Platform</a>, OZO Player SDK ensures that audiences experience OZO Reality-quality VR.</p>

{% endcapture %}

<!--Worlflows-->
<section id="sdk-workflow">
    <div class="container-fluid">

      {%
          include commons/full-row-right.html
          bgClass="bg1"
          title="Multiple platforms, one interface"
          content=" Work in a single, unified development interface that lets you support VR video playback of standard 2D, 360° video and OZO formats, and ensure a unified experience across Oculus Rift, Samsung Gear VR, HTC Vive (Steam VR), Google Daydream, Google Cardboard (Android and iOS), Windows Mixed Reality, and more."
       %}


       {%
           include commons/full-row-left.html
           bgClass="bg2"
           info=info
           title="Advanced development control"
           content="Integrate virtual and mixed reality playback into your new app or an existing video app or add those capabilities to your existing video app. Kickstart development with our included full-featured reference app. Use our Unity plug-in for greater flexibility and creativity. And know what users like with player analytics and usage heatmaps."
        %}

        {%
            include commons/full-row-right.html
            bgClass="bg3"
            title="Mixed reality made easy"
            content="Our powerful new mixed reality API enables you to insert synthetic content such as advertising or other CGI elements using depth carriage from OZO+ for a compelling mixed reality experience."
         %}
    </div>
</section>
