<section id="panorama" class="panorama-internal">
  <div class="panorama" data-pano="{{ site.baseurl }}/assets/img/sdk/pano.jpg">
    <div class="container  main-content">
      <div class="panorama-wrapper">
        <div class="panorama-content">
          <div class="panorama-title">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_PLAYERSDK_050817.png" alt="OZO Player SDK"  id="sdk-overview">
              <h2>Easily develop VR video apps that awe. </h2>
          </div>

        </div>
        <div class="panorama-float-bottom-right row">
          <div class="col-xs-3 col-sm-2">
            <img src="{{site.baseurl}}/assets/img/360-icon.png" alt="360" class="logo-360"></img>
          </div>
          <div class="col-xs-9 col-sm-10">
          <p class="font-weight-lighter">The Argos File</p>
          <p class="font-weight-lighter">Josema Roig, USA</p>
          {%comment%}
          <p class="visible-md visible-lg"><small>Click and drag to experience 360 photo</small></p>
          {%endcomment%}
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
