<!--Partners-->
<section class="partners">
    <div class="container">
        <div class="partners-section-content">
            <div class="row">
                <div class="partners-title text-center">

                            <h1>Looking for a partner?</h1>
                            <p> Make your OZO VR project reality. Nokia has best-in-category partners that can help you at each step of the VR workflow.</p>



                </div>
                <div class="partners-list col-xs-12 text-center">

                    <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 ">
                        <div class="partner wow fadeIn">
                            <div class="">
                                <p class="m-b-5">
                                    3S STAGE DESIGN
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 ">
                        <div class="partner wow fadeIn">
                            <div class="">
                                <p class="m-b-5">
                                    ACCEDO
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 ">
                        <div class="partner wow fadeIn">
                            <div class="">
                                <p class="m-b-5">
                                    YOUKU
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 ">
                        <div class="partner last-partner wow fadeIn">
                            <div class="">
                                <p class="m-b-5">
                                    IDEAL
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</section>
