<!--Features-->
<section class="features" id="sdk-specs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                  {% if include.noTitle%}
                  {% else %}
                    <div class="features-title wow fadeIn">
                          <h1>Specifications</h1>
                    </div>
                  {%endif%}
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                          <p class="feature-ul">Deployment Platforms</p>
                          <ul>
                            <li>Oculus Rift</li>
                            <li> HTC Vive</li>
                            <li>GearVR (Oculus Mobile)</li>
                            <li>Cardboard / GoogleVR for Android & iOS</li>
                            <li>Windows Mixed Reality (preliminary support)</li>
                          </ul>
                          <p class="feature-ul">Development Platforms</p>
                          <ul>
                            <li>Windows (for Rift, HTC Vive, Android)</li>
                            <li>Mac (for Android, iOS)</li>
                          </ul>

                          <p>Unity Game Engine plugin</p>
                          <p class="feature-ul">Mixed Reality</p>
                          <ul>
                            <li>Mixed Reality API with Color and Depth buffers that allow you greater control to enable mixed reality experiences</li>
                            <li>Chroma keying (or “green screen” compositing) functionality to build incredible CGI backgrounds in your mixed reality experiences</li>
                          </ul>

                          <p class="feature-ul">Supports local, streaming, and live playback</p>
                          <ul>
                            <li>Local playback from MP4 files</li>
                            <li>DirectX 11 support to realize the latest in hardware features on Windows</li>
                            <li>MPEG-DASH, HLS and RTP streaming with ABR for both on-demand and live playback</li>
                              <li>Support for https protocols</li>
                          </ul>
                          <p class="feature-ul">Video Format Support </p>
                          <ul>
                            <li>Plays all standard 360 and 2D video formats</li>
                            <li>Native rendering performance on all platforms</li>
                            <li>Frame size: up to 4K per eye (if device supports)</li>
                            <li>Frame rate: up to 60fps (if device supports)</li>
                            <li>Frame format options:</li>
                            <li>
                              <ul>
                                <li>Stereoscopic 360</li>
                                <li>Stereoscopic 180</li>
                                <li>Monoscopic 360</li>
                              </ul>
                            </li>
                            <li>Projection format options:</li>
                            <li>
                              <ul>
                                <li>Equirectangular</li>
                                <li>Lambert</li>
                                <li>Cubemap</li>
                              </ul>
                            </li>
                          </ul>


                          <p>Audio Format Support </p>
                          <ul>
                            <li>OZO Audio 360 spatial content</li>
                            <li>First order ambisonics</li>
                            <li>5.0, 4.0, 7.0 surround formats and stereo</li>
                          </ul>
                          {% if include.noViewMore%}
                          {% else %}
                          <a class="btn btn-primary wow fadeInUp" href="https://ozo.nokia.com/media/custom/upload/Product-Sheet-PlayerSDK.pdf">
                            View all
                          </a>
                          {% endif %}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
