<!--Testimonials-->
<section class="testimonials m-b-5" id="sdk-testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        {% comment %}
                        <h1 class="text-center wow fadeIn">Testimonials</h1>
                        {% endcomment %}
                        <h2 class="text-center wow fadeIn">What people are saying</h2>

                    </div>
                </div>
                <div class="testimonial-list owl-carousel owl-theme" data-reponsive='{"0": {"items": 1},"480": {"items": 2},"768": {"items": 2},"992": {"items": 2}}'>


                        <div class="testimonial wow fadeIn" data-target="#comment-1">
                          <div class="testimonial-avatar">
                            <img src="{{ site.baseurl }}/assets/img/sdk/testimonial2.png" alt="Lewis Smithingham Photo"></img>
                          </div>
                            <div class="testimonial-information">
                                <span>Lewis Smithingham</span>
                                <span>CTO & VR Specialist, 30 Ninjas</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                        <div class="testimonial wow fadeIn" data-target="#comment-2">
                            <div class="testimonial-avatar">
                              <img src="{{ site.baseurl }}/assets/img/sdk/testimonial1.png" alt="Alex Lindsay"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Alex Lindsay</span>
                                <span>Chief Architect, Pixel Corps</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                </div>
                <div class="col-xs-12 text-center">
                    <p id="comment-1" class="testimonial-text active"><span class="text-quoted">The great thing about the OZO Player SDK, which is pretty much the same thing about every OZO product, is quite simply, it works – and it works every time. Reliability, functionality, and performance are really what take OZO Player's SDK to the next level.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/tKLC589_6fE?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>
                    <p id="comment-2" class="testimonial-text"><span class="text-quoted">One of the things that is exciting about OZO Player SDK is that it really does provide all of the tools that you need for 360.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/SoNGBIS64oI?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
