<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>
    {% if page.page-title %}
    {{page.page-title}}
    {% else %}
    {{page.meta-title}}
    {%endif%}
  </title>
  <meta name="title" content="{{page.meta-title}}">
  <meta name="description" content="{{page.meta-description}}">
  <meta name="keywords" content="Nokia OZO" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico" type="image/x-icon" />
  <link rel="alternate" href="{{ site.baseurl }}/sitemap.xml" hreflang="en" />


  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  {%if page.gtmIgnore%}
  {%else%}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5WJPBP2');</script>
  <!-- End Google Tag Manager -->
  {%endif%}
    <script src="//assets.adobedtm.com/2895912bd432660bcfb7e1da65a0c8187df24189/satelliteLib-30d66b90fccf9e6c623d6fac04686ec77da65f97.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css?v=20170627">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body class="{{page.bodyClass}}">
  {% include layout/header.html %}
    {{ content }}
  {% include layout/footer.html %}
  {% include layout/cookie-alert.html %}
  {% include layout/javascript.html %}

  <a id="back-to-top" href="#" class="btn btn-light back-to-top btn-auto" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-arrow-up"></span></a>
  <script type="text/javascript">_satellite.pageBottom();</script>
  {%if page.gtmIgnore%}
  {%else%}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WJPBP2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {%endif%}
</body>
</html>
