#create-section{
  .create-camera{
      @include mq($from:desktop){
        margin-bottom: -5rem;
        margin-top: -4rem;
      }
      @include mq($until:tablet){
        .img-responsive{
          max-width: 70%;
          margin: 0 auto;
        }
      }

    }
    @include mq($from:desktop){
      margin-bottom: 5rem;
    }
}


#create-software{
  .workflow-bg{
    background-image:url(../img/home/image6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
