.cde{
    color: #273142;
    .cde-border{
      border-left: 5px solid #364562;
      border-right: 5px solid #364562;
    }
    padding-bottom: 63px;
    p{
      font-size: 18px;
      font-weight: $default-weight;
    }
    .img-responsive{
      display: inline-block;
    }
    ul{
      font-size: 16px;
      li{
        margin: 30px 0px;
      }
    }
    h2{
      font-size: 30px;
      text-transform: uppercase;
      font-weight: $default-weight;
    }
    .create-ellipse{
      h2{
        padding-left: 24%;
      }
    }
    @include mq($until:tablet){
      .deliver-ellipse,
      .experience-ellipse{
          h2{
            margin-bottom: -50px;
            margin-top:50px;
            position: relative;
            z-index: 1;
          }
          .img-responsive{
            position: relative;
            z-index: 0;
          }
        }
    }
    @include mq($from:tablet,$until:desktop){
      .img-responsive{
        max-width: initial;
        max-height:280px;
      }
    }
    @include mq($from:desktop,$until:wide){
      .img-responsive{
        max-width: initial;
        max-height:311px;
      }
    }
      @include mq($from:desktop){
        //width: 90%;
        //margin: 0 auto;

        .cde-text-content{
          padding-left: 90px;
          padding-right: 90px;
        }
      }


    .cde-text{
      @include mq($from:desktop){
      //background: url(../img/home/cde-text-bg.png) no-repeat;
      //background-position: right center;
      }
      @include mq($from:wide){
        //padding: 0px 50px;
      }
    }
    .cde-text:last-child{
      //background: transparent;
    }
  .create-ellipse{
    //@include mq($from:desktop){
      //position: relative;
      //z-index: 0;
      //margin-left: 90px;
    //}
    @include mq($until:tablet){
      //margin-left: 50px;
    }
  }
  .deliver-ellipse{
    //@include mq($from:desktop){
      //position: relative;
      //z-index: 1;
      //margin-right: -90px;
      //margin-left: -90px;
    //}
    @include mq($until:tablet){
      //margin-right: -50px;
      //margin-left: -50px;
    }
  }
  .experience-ellipse{
    //@include mq($from:desktop){
      //position: relative;
      //z-index: 2;
    //}
  }
}
