.cde{
  background-color: #fff;
  background-size: cover;
  min-height: 327px;
  .cde-footer{
      color: #4c4b5d;
  }
  ul{
    margin:0;
    width: 100%;
    text-align: center;
    li{
      text-align: center;
      line-height: 327px;
      height: 327px;
      background: url(../img/home/cde-border.png) no-repeat right center;
      @include mq($from: mobile,$until:desktop) {
        height: auto !important;
        line-height: auto;
        background: none;
        > a{
          margin-top: 30px !important;

        }&:last-child{padding-bottom: 80px;}
          &:focus,&:hover{
            background: none !important;
          }
        }
      .cde-description{
        line-height: 18px;
        padding: 0px 60px;
        a{
          color: #4c4b5d;
          line-height: 18px;
        }
      }
      > a{
        margin-top:50px;
        font-size: 36px;
        line-height: 100px;
        height: 100px;
        color: #3cc6f2;
        &:focus,&:hover{
//          background: url(../img/home/cde-border.png) no-repeat right center;
            background: transparent;
        }
      }
    }
    li:last-child{
        background: none;
    }
  }


}
