  #deliver-section{
    .half-left{
      height: 666px;
      background: url(../img/home/deliver.jpg) no-repeat;
      background-position   : top center;
      background-size       : cover;
      min-width: 320px;
      @include mq($from: mobile,$until:tablet) {
        height: 400px;
      }
    }
  }
