.get-ozo{
  background-color: rgb(244, 244, 244);
  .intro-title{
    padding: 43px 0px;
  }
}

.get-ozo-blue{
  background-color: $blue;
}


.get-ozo-dark{
  background: #000000;
  min-height: 124px;
  text-align: center;
  .button{
    margin-top: 33px;
  }
}
