//promote
.news-widget,
#learn-section{
  @include mq($until:tablet){
  }
  .list-group{
    .list-group-item{
      border:0;
      background: transparent;
      a{
        color: #4c4b5d;
        font-size: 18px;
      }
    }
  }
    .learn{
      @include mq($from:tablet){
        @include border-radius(0px 0px 45px 0px);
      }
      padding:45px 90px 60px 90px;
      @include mq($until:tablet){
        padding:15px;
      }
      background: #f4f4f4;
      .learn-title{
        font-size: 48px;
        font-weight: 100;
      }
      .learn-subtitle{
        font-size: 30px;
        color:#0b58a1;
      }
      a{
          font-weight: normal;
      }
      ul{
        li{
          a{
            @include more-link-after();
            font-weight: normal;
          }
        }
      }


    }
    .news{
      @include mq($from:tablet){
        @include border-radius(45px 0px 0px 0px);
      }
      padding:45px 90px 60px 90px;
      @include mq($until:tablet){
        padding:15px;
      }
      .news-title{
        font-size: 48px;
        font-weight: 100;
      }
      a{
        color: #fff;
      }
      .text-info{
        color: $text-info-color;
      }
      color: #fff;


  }
}
