#newsletter-section{
  background: url(../img/home/newsletter-bg.jpg) no-repeat;
  height: 574px;
  padding-top:155px;
  text-align: center;
  .input-group{
    width: 100%;
    margin-bottom: 20px;
  }
  .input-text{
      input{
        color: #faf8f7;
        @include placeholder-color(#faf8f7);
        display: inline-block;
        border: 1px solid #f4f4f4;
        background: transparent;
      }
  }
  .input-submit{
    text-align: right;
  }
}
