#what-creators-are-saying{
  h2{
    margin-top: 80px;
    margin-bottom:80px;
  }
  text-align: center;
  .row{
    margin-left: -15px;
    margin-right: -15px;
  }
}

.feedback-box{
  font-size: 18px;


  .feedback-item{
    text-align: center;
    img{
      border: 3px solid #efefef;
    }
    .feedback-title{
      font-family: $bold;
      margin-top: 18px;
      margin-bottom: 0;
      text-align: left;
    }
    .feedback-subtitle{
      font-family: $light;
      marign:0;
      text-align: left;
    }

    &:first-child{

    }&:last-child{

    }
  }
}

.feedback-box-text-hover{
  .feedback-item{
    position: relative;
    color: #fff;
    img{
    }
    .feedback-box-text{
      position: absolute;
      left: 50px;
      bottom:30px
    }
    .feedback-title{
      font-size: 18px;
      line-height: 18px;
    }

    .feedback-subtitle{
      font-size: 18px;
      line-height: 18px;
    }


  }
}
