.feedback-home-box{
  color: #000;
  text-align: center;
  .feedback-home-item{
    padding:53px;
    background: #f2f4f6;
    .feedback-home-item-comments{
      height: 185px;
      font-size:20px;
      &:before{
        line-height: 20px;
        content: "“";
        color: #00c9ff;
        font-size:33px;
      }
      &:after{
        content: "”";
        color: #00c9ff;
        font-size:33px;
        line-height: 20px;
      }
    }
    .feedback-home-item-more{
      color: #124191;
      font-weight: bold;
    }
  }

}
