
@font-face {
    font-family: 'nokia_pure_symbolsregular';
      src: url('nokiapuresymbols-webfont.eot');
    src: url('nokiapuresymbols-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapuresymbols-webfont.woff2') format('woff2'),
         url('nokiapuresymbols-webfont.woff') format('woff'),
         url('nokiapuresymbols-webfont.ttf') format('truetype'),
         url('nokiapuresymbols-webfont.svg#nokia_pure_symbolsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_headline';
    src: url('nokiapureheadline_bold-webfont.eot');
    src: url('nokiapureheadline_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapureheadline_bold-webfont.woff2') format('woff2'),
         url('nokiapureheadline_bold-webfont.woff') format('woff'),
         url('nokiapureheadline_bold-webfont.ttf') format('truetype'),
         url('nokiapureheadline_bold-webfont.svg#nokia_pure_headlinebold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_headline';
    src: url('nokiapureheadline_extrabold-webfont.eot');
    src: url('nokiapureheadline_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapureheadline_extrabold-webfont.woff2') format('woff2'),
         url('nokiapureheadline_extrabold-webfont.woff') format('woff'),
         url('nokiapureheadline_extrabold-webfont.ttf') format('truetype'),
         url('nokiapureheadline_extrabold-webfont.svg#nokia_pure_headlineextra_bold') format('svg');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_headline';
    src: url('nokiapureheadline_light-webfont.eot');
    src: url('nokiapureheadline_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapureheadline_light-webfont.woff2') format('woff2'),
         url('nokiapureheadline_light-webfont.woff') format('woff'),
         url('nokiapureheadline_light-webfont.ttf') format('truetype'),
         url('nokiapureheadline_light-webfont.svg#nokia_pure_headlinelight') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_headline';
    src: url('nokiapureheadline_regular-webfont.eot');
    src: url('nokiapureheadline_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapureheadline_regular-webfont.woff2') format('woff2'),
         url('nokiapureheadline_regular-webfont.woff') format('woff'),
         url('nokiapureheadline_regular-webfont.ttf') format('truetype'),
         url('nokiapureheadline_regular-webfont.svg#nokia_pure_headlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_headline';
    src: url('nokiapureheadline_ultralight-webfont.eot');
    src: url('nokiapureheadline_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapureheadline_ultralight-webfont.woff2') format('woff2'),
         url('nokiapureheadline_ultralight-webfont.woff') format('woff'),
         url('nokiapureheadline_ultralight-webfont.ttf') format('truetype'),
         url('nokiapureheadline_ultralight-webfont.svg#nokia_pure_headlineultraLt') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_text';
    src: url('nokiapuretext-bold-webfont.eot');
    src: url('nokiapuretext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapuretext-bold-webfont.woff2') format('woff2'),
         url('nokiapuretext-bold-webfont.woff') format('woff'),
         url('nokiapuretext-bold-webfont.ttf') format('truetype'),
         url('nokiapuretext-bold-webfont.svg#nokia_pure_textbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_text';
    src: url('nokiapuretext-light-webfont.eot');
    src: url('nokiapuretext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapuretext-light-webfont.woff2') format('woff2'),
         url('nokiapuretext-light-webfont.woff') format('woff'),
         url('nokiapuretext-light-webfont.ttf') format('truetype'),
         url('nokiapuretext-light-webfont.svg#nokia_pure_textlight') format('svg');
    font-weight: lighter;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_text';
    src: url('nokiapuretext-medium-webfont.eot');
    src: url('nokiapuretext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapuretext-medium-webfont.woff2') format('woff2'),
         url('nokiapuretext-medium-webfont.woff') format('woff'),
         url('nokiapuretext-medium-webfont.ttf') format('truetype'),
         url('nokiapuretext-medium-webfont.svg#nokia_pure_textmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'nokia_pure_text';
    src: url('nokiapuretext-regular-webfont.eot');
    src: url('nokiapuretext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('nokiapuretext-regular-webfont.woff2') format('woff2'),
         url('nokiapuretext-regular-webfont.woff') format('woff'),
         url('nokiapuretext-regular-webfont.ttf') format('truetype'),
         url('nokiapuretext-regular-webfont.svg#nokia_pure_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
