<section class="column-info">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="column-info-content bg-light">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/img/audio/1.jpg">
              <div class="column-info-text">
                <h2>A superior audio experience</h2>
                <p>Advanced psychoacoustic technology allows sound to be captured and played back just like it would in real life, transporting you and amplifying your experiences in every direction. Audio Focus mode lets you accentuate the right sounds you need while reducing ambient sounds or background noise.</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="column-info-content bg-light">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/img/audio/2.jpg">
              <div class="column-info-text">
                <h2>Easily fits into your device</h2>
                <p>Built with modern industrial design in mind and requiring only two microphones, OZO Audio is adaptable to virtually any form factor. Whether it's a smartphone or a camera, OZO Audio is the ideal solution for manufacturers looking to entice new customers with world-class immersive 3D audio.</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="column-info-content bg-light">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/img/audio/3.jpg">
              <div class="column-info-text">
                <h2>Prepared for virtual reality</h2>
                <p>Without the right audio cues to match the visuals, the brain won't buy into the illusion of virtual reality. Also used in the world-class OZO Camera, OZO Audio capture technology delivers on immersiveness - which means your device will be 100% ready for the kinds of experiences consumers are craving.</p>
              </div>
          </div>
      </div>
    </div>
  </div>
<section>
