<section id="learn-section" class="m-b-2">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 news bg-info">
        <h3 class="news-title">Introducing OZO Audio, best-in-class spatial audio technology for camera manufacturers</h3>
        <p class="m-b-6">At Nokia, we believe that a core ingredient to making virtual reality feel like life is spatial 360° audio ...</p>
        <div class="news-more">
          <a class="btn" href="#">
            View all News
          </a>
        </div>
      </div>
      <div class="col-md-6 learn bg-gray">
          <h3 class="learn-title">Learn</h3>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">OZO Camera: Setup</a></li>
            <li class="list-group-item"><a href="#">OZO Camera: Start</a></li>
          </ul>
          <h4>User Guides</h4>
          <ul class="list-group">
          <li class="list-group-item"><a href="#">OZO Camera Quick Start Guide</a></li>
          <li class="list-group-item"><a href="#">OZO Camera Specifications</a></li>
          </ul>
          <p class="m-b-6"></p>
          <a class="btn btn-primary" href="#">
            View all
          </a>

      </div>
    </div>
  </div>
</section>
