<section class="intro">
  <div class="intro-title">
    <div class="container">
      <p class="wow slideInLeft">We believe transformative OZO Reality experiences depend on life-like, spatial 360° audio. It’s why we built OZO+ with eight microphones and the ability to produce spatial audio in a highest quality format, OZO Audio, that can be played by OZO Player SDK. Together they create an unparalleled sense of presence with best-in-class spatial audio.

        <p class="wow slideInRight">To drive a world of OZO Reality, we are now licensing OZO Audio capture technologies to camera and mobile manufacturers to further our mission of increasing access to transformative VR experiences.
        </p>
    </div>
  </div>
  <div class="caret-bottom">
    <span class="caret"></span>
  </div>
</section>
