<!--News Tabs-->
<section class="news-tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">

                <div class="tab new wow bounceInLeft">
                    <div class="tab-content ">
                        <h1>News</h1>
                        <h6>Introducing OZO Audio, best-in-class spatial audio technology for camera manufacturers</h6>
                        <p>At Nokia, we believe that a core ingredient to making virtual reality feel like life is spatial 360° audio, At Nokia, we believe that a core ingredient to making virtual reality feel like life is spatial 360° audio  ...</p>
                        <a href="javascript:void(0)"
                           class="btn btn-primary btn-big btn-flat-white  xs-button">View all</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">

                <div class="tab wow bounceInRight">
                    <div class="tab-content resources">
                        <h1>Resources</h1>
                        <a class="gateway" href="javascript:void(0)">*Gateway content TBC</a>
                        <ul>
                            <li>Nullam ut tincidunt ipsum. </li>
                            <li>Sed maximus sodales lectus.</li>
                            <li>Sed maximus sodales lectus.</li>
                            <li>Sed maximus sodales lectus.</li>
                            <li>Sed maximus sodales lectus.</li>
                            <li>Sed maximus sodales lectus.</li>
                            <li>Sed maximus sodales lectus.</li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>