<!--Testimonials-->
<section class="testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        <h1 class="text-center wow slideInDown">Testimonials</h1>
                        <h5 class="text-center wow slideInDown">What people are saying</h5>

                    </div>
                </div>
                <div class="testimonial-list">

                    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 ">
                        <div class="testimonial wow fadeInDown">
                            <div class="testimonial-avatar "></div>
                            <div class="testimonial-information">
                                <span>Ben Grossmann</span>
                                <span>Co Founder -  Magnopus</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4  col-sm-4 col-lg-4 ">
                        <div class="testimonial wow fadeInUp">
                            <div class="testimonial-avatar image-2"></div>
                            <div class="testimonial-information">
                                <span>Christine Clark</span>
                                <span>Senior Integrated Producer  -  ThinkingBo</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                        <div class="testimonial wow fadeInDown">
                            <div class="testimonial-avatar image-3"></div>
                            <div class="testimonial-information">
                                <span>Alex Henning</span>
                                <span>Co Founder  -  Magnopus</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 text-center">
                    <h1 class="testimonial-text wow fadeInDown">"Having integrated 360-degree spatialized audio is really important – knowing that you'll always get a spatialized audio signal that you can then later experience in a headset, that makes a huge difference.” </h1>
                </div>
                <div class="col-xs-12 text-center">
                    <a class="btn btn-primary btn-big reverse wow slideInUp" href="#">
                        View more
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
