<!--Worlflows-->
<section id="audio-workflow">
    <div class="container-fluid">

        <div class="row ">
            <div class="equal-height-container workflow">

                <div class="equal-height-item col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info pull-left">
                    <div class="container-left-half">

                            <div class="content-table reverse">
                                <div class="content-table-cell">
                                    <div class="col-xs-12">
                                        <h1 class="wow slideInLeft">A superior audio experience.</h1>
                                        <p class="wow slide fadeInDown">Advanced psychoacoustic technology allows sound to be captured and played back just like it would in real life, transporting you and amplifying your experiences in every direction. Audio Focus mode lets you accentuate the right sounds you need while reducing ambient sounds or background noise.</p>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="equal-height-item col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg wow zoomIn pull-right" >
                    <div class="container-right-half ">

                    </div>
                </div>


            </div>


        </div>
        <div class="row ">
            <div class="equal-height-container workflow">
                <div class="equal-height-item col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info pull-right">
                    <div class="container-right-half">

                        <div class="content-table">
                            <div class="content-table-cell">
                                <div class="col-xs-12">
                                    <h1 class="wow slideInRight">Easily fits into any device</h1>
                                    <p class="wow slide fadeInDown">Built with modern industrial design in mind and requiring a minimum of two microphones, OZO Audio is adaptable to virtually any form factor and is the ideal solution for manufacturers looking to entice new customers with world-class immersive 3D audio.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="equal-height-item col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg audio-2 wow zoomIn pull-left" >
                    <div class="container-left-half ">

                    </div>
                </div>



            </div>


        </div>
        <div class="row ">
            <div class="equal-height-container workflow">

                <div class="equal-height-item col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info pull-left">
                    <div class="container-left-half">

                            <div class="content-table reverse">
                                <div class="content-table-cell">
                                    <div class="col-xs-12">
                                        <h1 class="wow slideInLeft">Virtual reality ready</h1>
                                        <p class="wow slide fadeInDown">Also used in the world-class OZO+, OZO Audio capture technology delivers on immersiveness, making any device 100% ready for the kinds of music and sound experiences that move consumers.</p>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="equal-height-item col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg audio-3 wow zoomIn pull-right" >
                    <div class="container-right-half ">

                    </div>
                </div>


            </div>


        </div>
    </div>
</section>
