<div class="col-md-4 featured-item wow fadeIn" data-wow-delay="{{include.delay}}">
  <div class="featured-image">
    <img class="img-responsive" src="{{ site.baseurl }}/assets/img/{{ include.img }}" alt="{{ include.title }} Photo"/>
    <span class="caption">{{include.caption}}</span>
  </div>
  <div class="featured-content-wrapper">
    <p class="featured-title">{{ include.title }}</p>
    <p class="featured-subtitle">{{ include.subtitle }}</p>
    <p class="featured-content">{{ include.content }}</p>

  </div>
</div>
