<div class="row row-eq-height">
    {% include showcase/elements/featured-item.html
        img="showcase/featured1.jpg"
        title="“Kids” by Onerepublic"
        subtitle="Directed by Hal Kirkland"
        caption="MUSIC"
        content="Filmed in Mexico City in a single take, OneRepublic’s music video for “Kids” tells the story of a budding romance between a boy and girl who live across the street. The OZO camera was mounted to a wire connecting the two apartments, and travels back and forth between them, moving easily between indoor and outdoor lighting. "
        highlight="3D 360 video, Spatial audio, Moving camera, Single take, Inverted mounting, 4-camera mode"
        delay="0s"
      %}
      {% include showcase/elements/featured-item.html
          img="showcase/featured2.jpg"
          title="PETE'S DRAGON"
          subtitle="Directed by Walt Disney Studios"
          caption="NARRATIVE"
          content="Hop onto the back of a huge dragon and experience the majesty of “Elliot’s Flyover,” shot on location in New Zealand with a Nokia OZO. To capture this stunning scene, the camera was mounted on the bottom of a helicopter and then the footage was merged with CGI overlays to give you a dragon’s-eye view of New Zealand’s gorgeous landscape."
          highlight="3D 360 video, Spatial audio, Single take, Dynamic Conditions, Outdoor lighting, Low temperature, Standard mount, Multi-camera shoot"
          delay="0.5s"
        %}
        {% include showcase/elements/featured-item.html
            img="showcase/featured3.jpg"
            title="50 SHADES DARKER: MASQUERADE BALL"
            subtitle="Directed by James Foley"
            caption="NARRATIVE"
            content="In this visually lush first-person scene from the sequel of 50 Shades of Gray. Originally premiered at Sundance, this piece features a highly colorful and dynamic dance floor scene where masked attendees interact and engage with you in POV. Involving over 200 cast members and extras, it’s one of the largest coordinated VR shoots ever."
            highlight="3D 360 video, Spatial audio, Single take, Outdoor lighting, Multi-camera shoot, Dynamic lighting, Mixed mounting"
            delay="1s"
        %}
</div>
<div class="row row-eq-height">
            {% include showcase/elements/featured-item.html
            img="showcase/featured4.jpg"
            title="LIFE IN THE TIME OF REFUGE"
            subtitle="Directed by David Gough"
            caption="News/Documentary"
            content="Put yourself in the shoes of nine-year old Omar, a Syrian boy suffering from a debilitating hormone deficiency while living as a refugee in Lebanon. Shot in Lebanon and Finland exclusively with the OZO camera and made in cooperation with Nokia and The Humanitarian Cooperative, this film shows the impact of the heartbreaking refugee crisis through an entirely new lens. "
            highlight="3D 360 video, Spatial audio, Single take, Outdoor lighting, Multi-camera shoot, Dynamic lighting, Mixed mounting"
            delay="0s"
        %}
            {% include showcase/elements/featured-item.html
            img="showcase/featured5.jpg"
            title="HEROES: A Duet in Mixed Reality"
            subtitle="Directed by Melissa Painter"
            caption="NARRATIVE"
            content="Enter the extravagant ACE Dance Theater in LA and experience a fiercely athletic and romantic dance set to David Bowie’s iconic “Heroes”. The OZO camera was set in a stationary position to capture various scenes in both low interior light and bright outdoor light. And mixed reality elements were inserted into the video in a big way. Director Melissa Painter collaborated closely with the OZO team to choreograph the motion around the OZO camera."
            highlight="3D 360 video, Spatial audio, Single take, Outdoor lighting, Multi-camera shoot, Dynamic lighting, Mixed mounting"
            delay="0.5s"
        %}
            {% include showcase/elements/featured-item.html
            img="showcase/featured6.jpg"
            title="The Argos File"
            subtitle="Directed by Josema Roig"
            caption="NARRATIVE"
            content="What if you could solve a murder by reliving the memories of the victim? In creating this Proto Award-winning trailer for a virtual reality sci-fi crime series, the OZO camera was set above the actor’s head and supported by a shoulder-mounted rig for a first person point of view and captured in a single take. Directed by award-winning AFI director Josema Roig, this is a perfect example of how to shoot low light in VR."
            highlight="3D 360 video, Spatial audio, Single take, Outdoor lighting, Multi-camera shoot, Dynamic lighting, Mixed mounting"
            delay="1s"
        %}
</div>
