<div class="row row-eq-height">
    {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-1.png"
        name="TED SCHILOWITZ"
        corp="Futurist, 20th Century Fox"
        text="The industrial design is phenomenal, the concept behind is revolutionary, and it’s something you’re seeing for the first time… a purpose-built camera."
        video="https://youtu.be/3ZxC2_Lb41k"
        delay="0s"
      %}
     {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-2.png"
        name="ALEX LINDSAY"
        corp="Founder, Pixel Corps"
        text="One of the things that is exciting about OZO Player SDK is that it really does provide all of the tools that you need for 360. You can have mono, you can have stereo, and of course you can have surround."
        video="https://youtu.be/SoNGBIS64oI?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="0.5s"
      %}
        {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-3.png"
        name="DIRK WALLACE"
        corp="Director, Live 360 Video"
        text="What Nokia has done with the OZO is they have set the professional standard for 360 video by far."
        video="https://youtu.be/jhdYUN4E9tY?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="1s"
      %}
</div>
<div class="row row-eq-height">
    {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-4.png"
        name="ALEX HENNING"
        corp="Co-Founder, Magnopus"
        text="The size, weight and performance of it, in terms of us being able to see what we were doing, definitely emboldened us to try more and more as we saw the results and saw things that we felt good about or that worked."
        video="https://youtu.be/1zTyXIcGZFg?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="0s"
      %}
     {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-5.png"
        name="DEAN JOHNSON"
        corp="Head of Innovation, Brandwidth"
        text="Preview is priceless, for us, that we're not taking something away from a set hoping that it's actually what we filmed."
        video="https://youtu.be/orAo0UZG5yE?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="0.5s"
      %}
        {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-6.png"
        name="BEN GROSSMANN"
        corp="Co-Founder, Magnopus"
        text="If you need to go mobile - mount it to a stunt person's head sliding down an escalator or any of this kind of stuff, you can go battery-powered and you're free to do whatever you'd like to do as an actor, which is fantastic."
        video="https://youtu.be/tERonZHfDss?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="1s"
      %}
</div>
<div class="row row-eq-height">
    {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-7.png"
        name="MATTHEW GLATZNER"
        corp="Co-Founder, Creative Director New Deal Studios"
        text="The post workflow is terrific. With OZO Creator, you render out a proxy and cut it up in a timeline. Then once you get all your cuts, and you're feeling like the cuts are working, you can export in MP4 and watch it on a headset, tweak, and do a final stitch."
        video="https://youtu.be/EBi0WSxzjyU?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="0s"
      %}
     {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-8.png"
        name="RANDAL KLEISER"
        corp="Director, Randal Kleiser Productions"
        text="The thing I like best about OZO is being able to view what was going on while it was going on and not have to download stuff and process it. And then we could look at it right after it was happening by playing it back."
        video="https://www.youtube.com/embed/5HDTCvmYR18?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="0.5s"
      %}
        {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-9.png"
        name="LEWIS SMITHINGHAM"
        corp="CTO & VR Specialist, 30 Ninjas"
        text="OZO Remote is amazing. Being able to use it wirelessly is totally next-level. And being able to remotely monitor your camera, look at your settings, your visual, your stitch... a game-changer in terms of my workflow and workflow of my colleagues."
        video="https://youtu.be/tKLC589_6fE?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="1s"
      %}
</div>
<div class="row row-eq-height">
    {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-10.png"
        name="ALEX LINDSAY"
        corp="Chief Architect, Pixel Corps "
        text="My favorite aspect of working with the Nokia OZO in a live environment is just the fact that it fits inside of a known production pipeline."
        video="https://youtu.be/SoNGBIS64oI?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3"
        delay="0s"
      %}
     {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-11.png"
        name="JUAN SANTILLAN"
        corp="Founder & CEO, Vantage.tv"
        text="The last show we did with the Nokia OZOs was Austin City Limits - a three-day festival in Austin, TX. It's something that potentially right now the OZO is the only equipment capable of doing at this quality and with this level of professional reliability."
        video="https://youtu.be/OQUvudSzhbg"
        delay="0.5s"
      %}
        {% include showcase/elements/people-saying-item.html
        avatar="showcase/people-12.png"
        name="CHRISTINE CLARK"
        corp="Senior Integrated Producer, Thinkingbox"
        text="My favorite thing about OZO Live is the simplicity of the controls in the interface. Being able to adjust stitch lines and color correction simply and quickly in a live setting is incredibly important."
        video="https://youtu.be/wATZgEBDNSk"
        delay="1s"
      %}
</div>
