<div class="col-md-4 people-saying wow fadeIn" data-wow-delay="{{include.delay}}">
    <div class="people-saying-item">
        <div class="people-saying-text">
            <p><span>&#8220;</span>{{ include.text }}<span>&#8221;</span></p>
        </div>
        <div class="people-saying-avatar">
            <img class="" src="{{ site.baseurl }}/assets/img/{{ include.avatar }}" alt="{{ include.name}} Photo"/>
        </div>
        <div class="people-saying-info">
            <span class="name">{{ include.name}}</span>
            <span class="corp">{{ include.corp}}</span>
        </div>
        <a class="people-saying-watch" data-fancybox=""
           href="{{include.video}}">
            Watch video <span>></span>
        </a>
    </div>
</div>
