<section class="intro" id="camera-intro">
  <div class="container">
    <div class="intro-title">
      <h2>Expertly Created</h2>
      <p>Crafted by Nokia Technologies, OZO combines the ultimate in engineering capabilities and intelligent design to offer you the best Virtual Reality production experience.</p>
    </div>
  </div>
</section>

<section id="camera-view">
  <div class="container text-center">
    <img src="/assets/img/camera/camera.png" alt="OZO Camera"></img>
  </div>

</section>
