<nav class="navbar page-menu-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#page-menu-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="icon icon-bar icon-3x"></span>
            </a>
            <span class="navbar-brand">{{   include.title  }}{{include.latest}}</span>
        </div>
        <div class="collapse navbar-collapse" id="page-menu-collapse">
            <ul class="nav navbar-nav pull-right page-menu">
                <li><a href="#{{   include.page  }}-overview">OZO+ camera</a></li>
                <li><a href="#{{   include.page  }}-remote">OZO Remote</a></li>
                <li><a href="#{{   include.page  }}-preview">OZO Preview</a></li>
                {% if include.testimonialHidden %}
                {% else %}
                <li><a href="#{{   include.page  }}-testimonials">Testimonials</a></li>
                {% endif %}
                {% if include.specsHidden %}
                {% else %}
                <li><a href="#{{   include.page  }}-specs">Specs</a></li>
                {% endif %}

                {% if include.platformShow %}
                  <li><a href="#{{   include.page  }}-platform">Platform</a></li>
                {% else %}
                {% endif %}


                {% if include.partnersShow %}
                <li><a href="#{{   include.page  }}-partners">Partners</a></li>
                {% else %}
                {% endif %}

                {% if include.latestHidden %}
                {% else %}


                <li><a href="#{{   include.page  }}-news">Latest</a></li>
                {% endif %}
                <li><a href="{{ include.getNow }}" class="get-now"><span class="btn btn-primary btn-flat btn-auto">
                  {% if include.getNowText %}{{ include.getNowText }}{% else %}Get now{% endif %}


                </span></a></li>
            </ul>

        </div>
    </div>
</nav>
