<section id="camera-news" class="news-widget">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 news bg-navy">
        <h3 class="news-title m-b-3">Latest</h3>
        <h4>In version 2.0.0, we launched:</h4>
        <ul>
            <li>Enhanced Real-Time Monitoring – The Real-Time Monitoring feature in OZO Remote now displays sharper images in the HMD that are cleaner and much more natural providing production crews with a much more accurate representation of what’s being captured</li>
            <li>HTC Vive Real-Time Monitoring – Additional freedom of choice for creators who wish to use their HTC Vive headset during Real-Time Monitoring via HMD</li>
             <li>Time-Lapse Capture Mode – Creators now have the option of creating time-lapse video directly from OZO+ camera natively to add them to their VR experiences</li>


           </ul>
        <p class="m-b-3">&nbsp;</p>

        <div class="news-more m-b-3">
          <a class="btn btn-transparent" href="/ozo-software-downloads/#software-remote">
            View all
          </a>
        </div>
      </div>

      <div class="col-md-6 learn bg-gray">
          <h3 class="learn-title m-b-3">Learn</h3>
          <p>How-to videos</p>
          <ul>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/nLcEpbU8HwM">OZO Camera Set-Up</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/6rinjrK2Hj4">OZO Remote: Controlling the Camera</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/qf6xeeuwBMo">OZO Preview: Basics</a></li>
          </ul>

          <p>User guides</p>
          <ul>
            <li><a href="https://ozo.nokia.com/media/custom/upload/docs/OZO_Workflow_Guide.pdf">OZO Workflow Guide</a></li>
            <li><a href="https://ozo.nokia.com/media/custom/upload/Ozo_Camera_QuickStartGuide.pdf">OZO Camera Quick Start Guide</a></li>
            <li><a href="https://ozo.nokia.com/media/custom/upload/Ozo_DigitalCartridge_QuickStartGuide.pdf">OZO Digital Cartridge Quick Start Guide</a></li>
            <li><a href="https://ozo.nokia.com/media/custom/upload/Ozo_DockingStation_QuickStartGuide.pdf">OZO Docking Station Quick Start Guide</a></li>

          </ul>

          <p>FAQs </p>
          <ul>
           <li><a href="https://nokiaozo.force.com/supportpage/s/search/All/OZO%20camera">OZO+</a></li>
           <li><a href="https://nokiaozo.force.com/supportpage/s/search/All/OZO%20remote">OZO Remote  </a></li>
           <li><a href="https://nokiaozo.force.com/supportpage/s/search/All/OZO%20preview">OZO Preview </a></li>
           </ul>
          <p>Forums  </p>
          <ul>
           <li><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCbCGAW/ozo-camera-and-accessories?tabset-cdc12=2">OZO+</a></li> </a></li>
           <li><a href="https://support.ozo.nokia.com/s/search/All/Home/ozo%20remote">OZO Remote </a></li>
           <li><a href="https://support.ozo.nokia.com/s/search/All/Home/ozo%20preview">OZO Preview </a></li>
           <ul>

      </div>
    </div>
  </div>
</section>
