<section id="camera-remote">
    <div class="container-fluid">
      {% capture rowTitle %}
      <img src="{{ site.baseurl }}/assets/img/camera/ozo-remote.png" alt="OZO Remote"></img>
      {% endcapture %}

      {% capture rowButton %}
      <div class="btn-group btn-dropdown hidden-xs">
          <a href="#" class="btn btn-primary dropdown-toggle wow fadeInUp" data-toggle="dropdown">
              Download <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Remote_2.0.0_setup.exe"><i class="fa fa-windows"></i> Windows</a><span class="border-bottom"></span></li>
            <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Remote_Installer_2.0.0.dmg"><i class="fa fa-apple"></i> MacOS</a></li>
        </ul>
      </div>
      {% endcapture %}


      {% capture rowContent %}
        Remotely monitor the camera, and control recordings and settings</p>
        <p><strong>Remote camera control:</strong> Wirelessly control OZO+ camera from anywhere within Wi-Fi range through our desktop app or mobile web.</p>
        <p><strong>Real-time monitoring:</strong> See and hear everything OZO+ camera captures in real-time in a VR headset or your computer or wireless devices.
      {% endcapture %}

      {%
          include commons/full-row-left.html
          bgClass="bg1"
          title=rowTitle
          button=rowButton
          content=rowContent
       %}

       {% capture rowButton %}
       <div class="btn-group btn-dropdown hidden-xs">
           <a href="#" class="btn btn-primary dropdown-toggle wow fadeInUp" data-toggle="dropdown">
               Download <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
             <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Preview_2.0.0_setup.exe"><i class="fa fa-windows"></i> Windows</a><span class="border-bottom"></span></li>
             <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Preview_Installer_2.0.0.dmg"><i class="fa fa-apple"></i> MacOS</a></li>
         </ul>
       </div>
       {% endcapture %}
</section>
<section id="camera-preview">
       {% capture rowTitle %}
       <img src="{{ site.baseurl }}/assets/img/camera/ozo-preview.png" alt="OZO Preview"></img>
       {% endcapture %}

       {% capture rowContent %}
       Preview and inspect dailies and rough cuts from OZO Creator quickly and easily</p>
       <p>
       <strong>Dynamic previewing capabilities:</strong> Easily preview camera-rendered files in an VR headset or review video sent to you from set. Or by simple drag and drop on a monitor in the field.</p>
       <p><strong>Audio angle overlay:</strong> Do angle overlays and assist with audio mixing</p>
       <p><strong>Midi control:</strong> Get a complete preview of the VR project, including audio by enabling simultaneous sound mixing playback capabilities.
       {% endcapture %}

       {%
           include commons/full-row-right.html
           bgClass="bg2"
           title=rowTitle
           button=rowButton
           content=rowContent
        %}


      </div>
</section>
