<!--Testimonials-->
<section class="testimonials " id="camera-testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        {% comment %}
                        <h1 class="text-center wow fadeIn">Testimonials</h1>
                        {% endcomment %}
                        <h2 class="text-center wow fadeIn">What people are saying</h2>

                    </div>
                </div>
                <div class="testimonial-list owl-carousel owl-theme" data-reponsive='{"0": {"items": 1},"480": {"items": 2},"768": {"items": 4},"992": {"items": 4}}'>


                        <div class="testimonial  wow fadeIn" data-target="#comment-1">
                            <div class="testimonial-avatar">
                              <img src="{{ site.baseurl }}/assets/img/camera/testimonial1.png" alt="Ben Grossman Photo"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Ben Grossman</span>
                                <span> Co-Founder, Magnopus</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                        <div class="testimonial  wow fadeIn" data-target="#comment-2">
                          <div class="testimonial-avatar">
                            <img src="{{ site.baseurl }}/assets/img/camera/testimonial2.png" alt="Alex Lindsay Photo"></img>
                          </div>
                            <div class="testimonial-information">
                                <span>Alex Lindsay</span>
                                <span>Chief Architect, Pixel Corps</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                        <div class="testimonial  wow fadeIn" data-target="#comment-3">
                            <div class="testimonial-avatar">
                              <img src="{{ site.baseurl }}/assets/img/camera/testimonial3.png" alt="Lewis Smithingham Photo"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Lewis Smithingham</span>
                                <span>CTO & VR Specialist, 30 Ninjas</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                        <div class="testimonial  wow fadeIn" data-target="#comment-4">
                            <div class="testimonial-avatar">
                              <img src="{{ site.baseurl }}/assets/img/camera/testimonial4.png" alt="Ted Schilowitz Photo"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Ted Schilowitz</span>
                                <span>Futurist, 20th Century Fox</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                </div>
                <div class="col-xs-12 text-center">
                    <p id="comment-1" class="testimonial-text active"><span class="text-quoted">The OZO is the first camera that's professional quality but simple enough to use so that you can concentrate on making a great experience that immerses the audience.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/tERonZHfDss?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>
                    <p id="comment-2" class="testimonial-text"><span class="text-quoted">OZO has really opened up our ability to take on very complex projects that we would have never touched with any other 360 camera.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/SoNGBIS64oI?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>
                    <p id="comment-3" class="testimonial-text"><span class="text-quoted">OZO Remote is amazing. Being able to use it wirelessly is totally next-level. And being able to remotely monitor your camera, look at your settings, your visual, your stitch... a game-changer.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/tKLC589_6fE?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>
                    <p id="comment-4" class="testimonial-text"><span class="text-quoted">The industrial design is phenomenal, the concept behind it is revolutionary, and it’s something you’re seeing for the first time… a purpose-built camera built literally from the ground up.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/3ZxC2_Lb41k?wmode=opaque&autoplay=1&rel=0" class="more-link">Watch</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
