<section id="video-section" class="video panorama-internal bg-white">
  <div class="video-container">
    <video id="v0" tabindex="0" autobuffer="autobuffer" preload="preload">
      {%comment%}
      <source type="video/mp4" src="{{ site.baseurl }}/assets/videos/ozo-camera.mp4"></source>
      <source type="video/webm" src="{{ site.baseurl }}/assets/videos/ozo-camera.webm"></source>
        <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
      {%endcomment%}
    </video>
  </div>
  <ol class="list" id="video-seek">
    <li data-seek-index="0" data-seek-time="0" data-seek-duration="1.833333333">
      <span class="label">Intro</span>
    </li>
    <li data-seek-index="1" data-seek-time="1.833333333" data-seek-duration="2.933333333">
      <span class="label">Design</span>
    </li>
    <li data-seek-index="2" data-seek-time="4.766666667" data-seek-duration="1.5">
      <span class="label">Lenses</span>
    </li>
    <li data-seek-index="3" data-seek-time="6.266666667" data-seek-duration="4.833333333">
      <span class="label">Audio</span>
    </li>
    <li data-seek-index="4" data-seek-time="11.1" data-seek-duration="4.866666667">
      <span class="label">Technology</span>
    </li>
    <li data-seek-index="5" data-seek-time="15.96666667" data-seek-duration="5.666666667">
      <span class="label">Cartridge</span>
    </li>
    <li data-seek-index="6" data-seek-time="21.63333333" data-seek-duration="6.1">
      <span class="label">Capture</span>
    </li>
    <li data-seek-index="7" data-seek-time="27.73333333" data-seek-duration="3.166666667">
      <span class="label">Broadcast</span>
    </li>
    <li data-seek-index="8" data-seek-time="30.9" data-seek-duration="3.233333333">
      <span class="label">CGI</span>
    </li>
    <li data-seek-index="9" data-seek-time="34.13333333" data-seek-duration="3.4">
      <span class="label">Software</span>
    </li>
    <li data-seek-index="10"data-seek-time="37.53333333" data-seek-duration="5">
      <span class="label">The Future</span>
    </li>
  </ol>
  <div class="panorama disabled">
    <div class="container  main-content">
      <div class="panorama-wrapper">
        <div class="video-loading" style="display:none;">
          <img src="{{site.baseurl}}/assets/img/ozo-logo.png"></img>
          <p>Loading...</p>
        </div>
        <div class="panorama-content">

              <div class="panorama-title data-seek-index-0 video-toggle-item ">
                <h2><img src="{{ site.baseurl }}/assets/img/product-logos/black-svg/OZOlogos_Blk_Plus.svg" alt="OZO Plus"></img></h2>
              </div>
              <div class="video-toggle-item  data-seek-index-0">
                <h4>Our award-winning camera now with enhanced capabilities.</h4>
              </div>
              <div class="video-toggle-item  data-seek-index-0 video-toggle-item-show-more">
                  <p>Scroll to continue</p>
                  <div><a href="#" id="scroll-to-continue-info"><i class="fa fa-angle-down" aria-hidden="true"></a></i></div>
              </div>

              <div class="video-toggle-item  data-seek-index-1 text-left">
                <h4>Simple, lightweight design.</h4>
                <p>At 9.3 pounds, the award-winning OZO+ is light and compact enough to handle any shoot. </p>
              </div>
              <div class="video-toggle-item  data-seek-index-2 text-right">
                <h4>Immersive image quality.</h4>
                <p>With its eight lenses, global shutters, and 195° field of vision, <br class="visible-md visible-lg" />
                  OZO+ captures a 4k stereoscopic 3D 360° image—a generational leap in quality.
                </p>
              </div>
              <div class="video-toggle-item  data-seek-index-3 text-left">
                <h4>True-to-life sound capture. </h4>
                <p>OZO+ with eight on-board microphones capture 360° spatial audio<br class="visible-md visible-lg" />
                  mapped to headset orientation to deliver a high-fidelity immersive experience.
                </p>
              </div>
              <div class="video-toggle-item  data-seek-index-4 text-right">
                <h4>Silent cooling.</h4>
                <p>By optimizing the flow of air through the camera, <br class="visible-md visible-lg" />
                  OZO+ fanless cooling technology ensures total silence and rock solid reliability.
                </p>
              </div>
              <div class="video-toggle-item  data-seek-index-5 text-left">
                <h4>Hassle-free shooting.</h4>
                <p>A single integrated 500gb memory cartridge with battery saves time on set up, transfers, and swaps.</p>
              </div>
              <div class="video-toggle-item  data-seek-index-6 text-right">
                <h4>Game-changing creative control.</h4>
                <p>See and hear everything the OZO+ captures in real time<br class="visible-md visible-lg" />
                  in a VR headset or via Windows, Mac, or mobile device.
                </p>
              </div>
              <div class="video-toggle-item  data-seek-index-7 text-left">
                <h4>Real-time reliability.</h4>
                <p>With a single coaxial output cable integrated with OZO Live, <br class="visible-md visible-lg" />
                  you’re ready for days of non-stop live broadcasting.
                </p>
              </div>
              <div class="video-toggle-item  data-seek-index-8 text-right">
                <h4>Ready for mixed reality.</h4>
                <p>By letting you capture and export depth maps, <br class="visible-md visible-lg" />
                  OZO+ and OZO Creator make it easier to introduce CGI in post.
                </p>
              </div>
              <div class="video-toggle-item  data-seek-index-9">
                <h4>Ready for today and tomorrow.</h4>
                <p>With frequent software updates, the OZO+ will remain on the technological vanguard far into the future.</p>
              </div>
              <div class="video-toggle-item  data-seek-index-10">
              </div>


        </div>
      </div>
    </div>

  </div>
</section>
