<section id="camera-hero" class="section-table paralax-bg with-overlay-4">
    <div class="container">
    <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                  <img class="img-responsive" src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_PLUS_050817.png" alt="OZO Plus"></img>
                  <h2 class="">OZO+ is our commitment to the future of virtual and mixed reality,<br class="visible-md visible-lg" />
                  continuing a Nokia tradition of reliable, beautifully-designed technologies<br class="visible-md visible-lg"/>
                  that connect and shape the world.
                  </h2>
                </div>
            </div>

        </div>
  </div>
</section>
<section id="camera-overview">
{% include commons/get-ozo-camera-single.html %}

      {% capture rowContent %}
        With uncompromising quality and unsurpassed control, OZO+ enables virtual reality creators to spend more time creating and less time worrying.</p>
        <h2>Simply efficient design.</h2>
        <p>At a lightweight 9.3 pounds and with a compact, single-bodied design, OZO+ can go anywhere you need, whether mounted on a drone or carried up Everest.
      {% endcapture %}

      {%
          include commons/full-row-right.html
          bgClass="camera-bg1"
          title="Presence made powerfully and simply."
          content=rowContent
       %}

       {% capture rowContent %}
        Eight lenses, global shutter, and 195° field of vision capture 4k per eye stereoscopic 360° images. With new advanced image signal processing through OZO Creator, OZO+ provides a generation leap in image quality.</p>
         <h2>Sounds like real life.</h2>
         <p>Eight on-board microphones capture full spatial audio from every direction, mapped to headset orientation. Output to multiple formats, including OZO Audio, to feel the difference sound makes.
       {% endcapture %}

       {%
           include commons/full-row-left.html
           bgClass="camera-bg2"
           title="Immersive image quality."
           content=rowContent
        %}

        {% capture rowContent %}
         Our award-winning fanless design utilizes thermal convection passive cooling to ensure rock solid reliability, making it perfect for any production.</p>
          <h2>The simplicity of one.</h2>
          <p>With a single integrated 500gb memory cartridge and battery, you’ll be set up for hassle-free shooting in minutes and time-saving transfers and swaps.
        {% endcapture %}

        {%
            include commons/full-row-right.html
            bgClass="camera-bg3"
            title="Function meets form."
            content=rowContent
         %}

         {% capture rowContent %}
          Directors have unsurpassed control through Windows, Mac, or mobile to get settings and shots right in one take. And real-time monitoring in a VR headset is a game changer.</p>
           <h2>Real-time reliability.</h2>
           <p>With a single output cable which integrates with OZO Live, you’re instantly set for reliable extended or continuous real-time broadcasting.
         {% endcapture %}

         {%
             include commons/full-row-left.html
             bgClass="camera-bg4"
             title="Complete creative control."
             content=rowContent
          %}

          {% capture rowContent %}
           Paired with OZO Creator, OZO+ camera lets you capture and export depth maps, enabling CGI elements to be seamlessly integrated in post-production.</p>
            <h2>A perfect fit for every production.</h2>
            <p>With professional-grade quality, powerful creative control, and budget-saving reliability, OZO+ frees you to to focus on what matters: creating immersive stories that move audiences like never before.
          {% endcapture %}

          {%
              include commons/full-row-right.html
              bgClass="camera-bg5"
              title="Ready for mixed reality."
              content=rowContent
           %}
</section>
