<section id="live-bundle-hero" class="section-table bg-cover bg-cover-top" >
    <div class="container">
            <div class="main-container">
                <div class="main-content main-content-bottom">
                    <h2 class="paralax-title">
                      Big savings on your next multi-camera live production
                    </h2>
                </div>
            </div>
    </div>
</section>
