<section class="intro">
  <div class="intro-title">
    <div class="container wow fadeIn">
      <p> What do Coachella, President Obama’s Farewell Address and the Hong Kong Seven’s Rugby Championships have in common? They all broadcast live VR using multiple <a href="{{ site.baseurl }}{% link camera.html %}">OZO+ cameras</a> paired with <a href="{{ site.baseurl }}{% link live.html %}">OZO Live</a>. </p> 
      <p>Now’s your chance to break through with your next event with a world-class VR solution. Take advantage of our first-ever bundle promotion on Nokia OZO+ camera and OZO Live software!</p>
    </div>
    <div class="container bg-blue text-white p-a-2">
      <h3>For a limited time only, you can buy <strong>3 OZO+ cameras</strong> and <strong>1 OZO Live one-year multi-node license</strong> for only <strong>$65,000</strong>, a <strong>savings</strong> of nearly <strong>50%</strong>!</h3>
    </div>

  <div class="container m-t-5">
    <p>Take advantage of this promotion through our sales team or your <a href="/resales-rentals">local reseller</a>. Offer ends September 30, 2017.</p>
    <p class="m-t-5 m-b-5"><a class="btn btn-primary" href="#contact-sales">
      Contact Sales
    </a>
    or
    <a class="more-link" href="/resales-rentals">
      Find a Reseller
    </a>
    </p>
  </div>


    <div class="container wow fadeIn">
      <h2>About OZO+ and OZO Live</h2>

      <p><a href="{{ site.baseurl }}{% link camera.html %}">OZO+ camera</a> is the broadcast industry’s leading professional VR camera that captures events with unparalleled presence. With 4K per eye video, stereoscopic 360 imagery, and spatial sound – give the entire world a front-row seat to your event. OZO+ camera’s uni-body design integrates seamlessly anywhere you want to put it, giving you unmatched creative freedom from every perspective. </p>

      <p>OZO+ paired with OZO Live is the proven 3D 360 broadcasting solution to deliver real-time, reliable broadcast quality productions. It has been the VR technology behind <a href="https://www.youtube.com/watch?v=704xfyDwDVI" data-fancybox="">Coachella 2017</a>, <a href=" https://vrscout.com/news/obama-farewell-speech-live-360/" target="_blank">President Obama’s Farewell address</a>, <a href="https://www.youtube.com/watch?v=pLlZtmfAFZY&list=UUw3Jf1kfo7Gz4TMSdye3C5w" data-fancybox="">Hong Kong 7’s</a> and more! </p>
 
      <p>So go ahead, take advantage of our limited time offer to successfully deliver your most demanding live events.</p>
    </div>
  </div>
</section>
