<div class="global-site-notice" id="cookie-alert-message">
    <div class="container notice-inner">
        <div class="col-xs-12 col-sm-9 text-xs-center">
          <div class="notice-text">Nokia sites use cookies to improve and personalize your experience and to display advertisements. The sites may also include some cookies from third parties. By using this site, you consent to the use of cookies. <a href="http://www.nokia.com/en_int/cookies" target="_blank"> Learn more</a>.</div>
        </div>
        <div class="col-sm-3 col-xs-12 text-xs-center">
          <div class="actions"><button class="btn btn-transparent" onclick="Ozo.allowSaveCookie()"><span><span>Allow</span></span></button></div>
        </div>
    </div>
</div>
