<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6">
          <ul>
            <li><span class="font-weight-bold">Our products</span></li>
            <li><a href="{{ site.baseurl }}{% link camera.html %}">OZO+ Camera</a></li>
            <li><a href="{{ site.baseurl }}{% link creator.html %}">OZO Creator</a></li>
            <li><a href="{{ site.baseurl }}{% link live.html %}">OZO Live</a></li>
            <li><a href="{{ site.baseurl }}{% link deliver.html %}">OZO Deliver</a></li>
            <li><a href="{{ site.baseurl }}{% link sdk.html %}">OZO Player SDK</a></li>
            <li><a href="{{ site.baseurl }}{% link audio.html %}">OZO Audio</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6">
          <ul>
            <li><span class="font-weight-bold">Get OZO</span></li>
            <li><a href="{{ site.baseurl }}{% link store.html %}">OZO Store</a></li>
            <li><a href="/resales-rentals">Reseller & Rental Locations</a></li>
            <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Terms_and_Condition_US.pdf">Terms of Sale</a></li>
            <li>&nbsp;</li>
            <li><span class="font-weight-bold">Support</span></li>
            <li><a href="https://nokiaozo.force.com/supportpage/s/">FAQs</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6">
          <ul>
            <li><span class="font-weight-bold">Resources</span></li>
            <li><a href="{{ site.baseurl }}{% link showcase.html %}">VR Showcase</a></li>
            <li><a href="{{ site.baseurl }}{% link learn.html %}">Learn About OZO VR</a></li>
            <li><a href="{{ site.baseurl }}{% link reality.html %}">OZO Reality Platform</a></li>
            <li><a href="/blog/">News</a></li>
            <li><a href="{{ site.baseurl }}{% link reality.html %}"></a></li>
            <li>&nbsp;</li>
            <li><span class="font-weight-bold">Regional Sites</span></li>
            <li><a href="/eu/">OZO Europe</a></li>
            <li><a href="https://ozo.nokia.cn/">OZO China</a></li>
            <li><a href="/">OZO USA</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6">
          <ul>
            <li><span class="font-weight-bold">About</span></li>
            <li><a href="http://www.nokia.com/en_int/about-us/who-we-are/our-businesses/nokia-technologies/">Nokia Technologies</a></li>
           <!-- <li><a href="#">Our Partners</a></li> -->
            <li><a href="https://www.linkedin.com/company-beta/9200169/">OZO Careers</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-6 col-md-offset-2 col-lg-offset-2 social-links">
          <ul>
            <li><span class="font-weight-bold">Follow us</span></li>
            <li>
                <a href="https://www.facebook.com/nokia"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/nokiavr"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/user/nokia"><i class="fa fa-youtube"></i></a>
                <a href="https://instagram.com/nokia/?hl=en"><i class="fa fa-instagram"></i></a>
            </li>
            <li>&nbsp;</li>
            <li><span class="font-weight-bold">Stay in touch</span></li>
            <li><a href="{{ site.baseurl }}{% link connect.html %}">Contact us</a></li>
        </div>
      </div>

  </div>
</footer>
<footer class="corporate-footer">
<div class="container">
      <div class="row footer-item">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <ul class="horizontal-items text-xs-center">
              <li><a href="http://www.nokia.com">Nokia.com</a></li>
              <li><a href="http://www.nokia.com/en_int/about-us">About Nokia</a></li>
              <li><a href="http://www.nokia.com/en_int/about-us/sustainability">Sustainability</a></li>
              <li><a href="http://www.nokia.com/en_int/investors">Investors</a></li>
              <li><a href="http://www.nokia.com/en_int/about-us/careers">Careers</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="language-change text-sm-center text-lg-right text-md-right text-xs-center">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="{{ site.baseurl }}/assets/img/globe.png" alt="" ></img> English</a>
            <ul class="dropdown-menu" aria-labelledby="LanguageMenu">
              <li><a href="/eu/">EU</a></li>
              <li><a href="/">US</a></li>
              <li><a href="https://ozo.nokia.cn/">CN</a></li>
            </ul>

          </div>
        </div>
      </div>

      <div class="footer-item copyright row">
        <div class="col-xs-12">
          <p>© 2017 Nokia. All rights reserved.
              <a href="http://www.nokia.com/en_int/cookies">Cookies</a>
              <a href="http://www.nokia.com/en_int/privacy">Privacy </a>
              <a href="http://www.nokia.com/en_int/terms">Terms</a>
            </p>
        </div>
      </div>
</div>
</footer>
