<header id="header">
<div class="container">
  <!-- Static navbar -->
     <nav class="navbar">
       <div class="navbar-container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">MENU</span>
             <span class="icon icon-bar icon-3x"></span>
           </button>
           <a class="navbar-brand" href="http://www.nokia.com/en_int" target="_blank"><span><img src="{{ site.baseurl }}/assets/img/nokia-logo.png" alt="Nokia"></img></span>
              <span class="brand-divider"></span>
           </a>
           <a class="navbar-brand" href="{{ site.baseurl }}"><span><img src="{{ site.baseurl }}/assets/img/logo.png" class="ozo-logo" alt="OZO"></img></span></a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-primary">
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products
                 <span>
                    <img src="{{ site.baseurl }}/assets/img/caret.png">
                  </span>
               </a>
               <ul class="dropdown-menu">
                 <li><span class="text-weight-bold">Create</span></li>
                 <li><a href="{{ site.baseurl }}{% link camera.html %}">OZO+ camera</a></li>
                 <li><a href="{{ site.baseurl }}{% link creator.html %}">OZO Creator</a></li>
                 <li><a href="{{ site.baseurl }}{% link live.html %}">OZO Live</a></li>
                 <li><span class="text-weight-bold">Deliver</span></li>
                 <li><a href="{{ site.baseurl }}{% link deliver.html %}">OZO Deliver</a></li>
                 <li><span  class="text-weight-bold">Experience</span></li>
                 <li><a href="{{ site.baseurl }}{% link sdk.html %}">OZO Player SDK</a></li>
                 <li><a href="{{ site.baseurl }}{% link audio.html %}">OZO Audio</a></li>
               </ul>
             </li>
             <li><a href="{{ site.baseurl }}{% link showcase.html %}">Showcase</a></li>
             <li><a href="{{ site.baseurl }}{% link learn.html %}">Learn</a></li>
             <li><a href="/blog/">News</a></li>
             <li><a href="https://support.ozo.nokia.com/s/">Support</a></li>
             <li><a href="{{ site.baseurl }}{% link connect.html %}">Connect</a></li>
             <li><a href="{{ site.baseurl }}{% link store.html %}">Store</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li>
               <a href="/customer/account/login/">Login
                  {%comment%}
                  <span>
                    <img src="{{ site.baseurl }}/assets/img/caret.png"></img>
                  </span>
                  {%endcomment%}
              </a>
             </li>
           </ul>
         </div><!--/.nav-collapse -->
       </div><!--/.container-fluid -->
     </nav>
</div>
</header>
