{%if page.topBanner%}
<div class="top-banner">
  <div class="container">
    {%if page.topBannerLink%}
    <p><a href="{{page.topBannerLink}}">{{page.topBanner}}</a></p>
    {%else%}
    <p>{{page.topBanner}}</p>
    {%endif%}
  </div>
</div>
{%endif%}
<header id="header">
<div class="container">
  <!-- Static navbar -->
     <nav class="navbar">
       <div class="navbar-container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">MENU</span>
             <span class="icon icon-bar icon-3x"></span>
           </button>
           <a class="navbar-brand" href="http://www.nokia.com/en_int"><span><img src="{{ site.baseurl }}/assets/img/nokia-logo.png" alt="Nokia"></img></span>
              <span class="brand-divider"></span>
           </a>
           <a class="navbar-brand" href="{{ site.baseurl }}"><span><img src="{{ site.baseurl }}/assets/img/logo.png" class="ozo-logo" alt="OZO"></img></span></a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
           {%comment%}
           <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
             <li>
               <a href="/customer/account/login/">Login
                  {%comment%}
                  <span>
                    <img src="{{ site.baseurl }}/assets/img/caret.png" alt=""></img>
                  </span>
                  {%endcomment%}
              </a>
             </li>
           </ul>
           {%endcomment%}
           <ul class="nav navbar-nav navbar-primary">
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products
                 <span>
                    <img src="{{ site.baseurl }}/assets/img/caret.png" alt="">
                  </span>
               </a>
               <ul class="dropdown-menu">
                 <li><span class="text-weight-bold">Create</span></li>
                 <li><a href="{{ site.baseurl }}{% link camera.html %}">OZO+ camera</a></li>
                 <li><a href="{{ site.baseurl }}{% link creator.html %}">OZO Creator</a></li>
                 <li><a href="{{ site.baseurl }}{% link live.html %}">OZO Live</a></li>
                 <li><span class="text-weight-bold">Deliver</span></li>
                 <li><a href="{{ site.baseurl }}{% link deliver.html %}">OZO Deliver</a></li>
                 <li><span  class="text-weight-bold">Experience</span></li>
                 <li><a href="{{ site.baseurl }}{% link sdk.html %}">OZO Player SDK</a></li>
                 <li><a href="{{ site.baseurl }}{% link audio.html %}">OZO Audio</a></li>
               </ul>
             </li>
             <li><a href="{{ site.baseurl }}{% link showcase.html %}">Showcase</a></li>
             <li><a href="{{ site.baseurl }}{% link learn.html %}">Learn</a></li>
             <li><a href="/blog/">News</a></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support
                 <span>
                    <img src="{{ site.baseurl }}/assets/img/caret.png" alt="">
                  </span>
               </a>
               <ul class="dropdown-menu">
                 <li><a href="https://support.ozo.nokia.com/s/">FAQs & forums</a></li>
                 <li><a href="https://ozo.nokia.com/ozo-software-downloads">OZO downloads</a></li>
                 <li><a href="https://support.ozo.nokia.com/OZOSupportCases">Request support</a></li>
               </ul>
             </li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect
                 <span>
                    <img src="{{ site.baseurl }}/assets/img/caret.png" alt="">
                  </span>
               </a>
               <ul class="dropdown-menu">
                 <li><a href="https://ozo.nokia.com/contact-sales-marketing">Contact us</a></li>
                 <li><a href="{{ site.baseurl }}{%link connect.html%}">Follow us</a></li>
               </ul>
             </li>
             <li class="last-child"><a href="{{ site.baseurl }}{% link store.html %}">Store</a></li>
             {%comment%}
             <li class="visible-xs visible-sm">
               <a href="/customer/account/login/">Login</a>
             </li>
             {%endcomment%}
           </ul>

         </div><!--/.nav-collapse -->
       </div><!--/.container-fluid -->
     </nav>
</div>
</header>
