<script>
Request = {
  base: "{{ site.baseurl }}"
}
</script>
<script src="{{ site.baseurl }}/assets/js/vendors/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/paver/jquery.ba-throttle-debounce.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/wowjs/wow.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/jquery.pano.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/owl.carousel/dist/owl.carousel.js"></script>


<script src="{{ site.baseurl }}/assets/js/vendors/three.js/build/three.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/D.js/lib/D.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/uevent/uevent.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/doT/doT.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/vendors/CanvasRenderer.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/Projector.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/DeviceOrientationControls.js"></script>

{%comment%}
<script src="{{ site.baseurl }}/assets/js/vendors/CopyShader.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/EffectComposer.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/MaskPass.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/RenderPass.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/ShaderPass.js"></script>
{%endcomment%}

<script src="{{ site.baseurl }}/assets/js/vendors/js.cookie.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendors/jquery.form.js"></script>


<script src="{{ site.baseurl }}/assets/js/vendors/Photo-Sphere-Viewer/dist/photo-sphere-viewer.min.js"></script>

<script src='https://www.google.com/recaptcha/api.js?hl=en'></script>

<script src="{{ site.baseurl }}/assets/js/main.js?v=20170707"></script>

{% if page.path == "camera_p2.html" %}
  <script src="{{ site.baseurl }}/assets/js/video.js"></script>
{% endif %}
