<section class="m-b-4" id="creator-specs">
<div class="container">
<div class="text-center">
  <h2>Find the right OZO Creator for you</h2>
</div>
<table class="table table-responsive table-feature">
	<tr>
		<th>
			CREATOR VERSIONS
		</th>
		<th>
			Free evaluation
		</th>
		<th>
			30-Day License
		</th>
		<th>
			1-Year License
		</th>
	</tr>

	<tr>
		<td>
			Audio Exports
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Fisheye Exports (DNG)
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Fisheye Exports (DPX, EXR, MP4)
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Stitching (EXR, DPX, MP4, MP4VR)
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			360° Editorial MOV
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Image Processing (denoise, sharpening, color,
			etc.)
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Depth Map Export
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Frame Rate Conversion
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Resolution Upscale
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Encoding pre-stitched frames into MP4
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Encoding pre-stitched frames into MP4VR
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
</table>
  <div class="text-center">
    <a class="btn btn-primary btn-big reverse wow slideInUp" href="https://ozo.nokia.com/media/custom/upload/OZO-Creator-Product-Sheet.pdf">
        View specs
    </a>
  </div>
</div>
</section>
