<!--Home-->
<section id="creator-home" class="with-overlay wow fadeIn">
    <div class="container">
        <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                    <img src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_CREATOR_050817.png" class="img-responsive" alt="OZO Creator"  id="creator-overview">
                    <h2>
                      Powerful image processing <br/>plus post-production made easy
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="intro intro-navy">
  <div class="intro-title">
    <div class="container">
      <p class="wow fadeIn">The perfect companion to OZO+ camera, OZO Creator provides advanced image processing and flexible yet powerful post-production. It can deliver end-to-end post, from ingestion to fast and fine stitch to encoding, or can be a powerful first-step in your editing workflow. It offers compatibility with industry-standard tools as well as the new capability to export depth map metadata ready for OZO Reality.</p>
    </div>
  </div>
</section>
