<section id="creator-news" class="news-widget">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 news bg-navy">

        <h3 class="news-title m-b-3">Latest</h3>
        <h4>In version 2.1.0, we launched:</h4>
        <ul>
          <li class="m-b-2">A free evaluation version - the free evaluation version of OZO Creator allows users to evaluate its features and performance (with watermarks) before purchasing. It also allows users of third party software tools to export DNG fisheyes and audio for free, without watermarks.</li>
          <li>More Image Signal Processing improvements - Building on the ISP improvements introduced in version 2.0, we added new features, like black level recovery, and improved existing features, like Temporal Noise Filters and color accuracy.</li>
        </ul>

        <p class="m-b-2">&nbsp;</p>

        <div class="news-more">
          <a class="btn btn-transparent" href="/ozo-software-downloads/#software-creator">
            View all
          </a>
        </div>
      </div>
      <div class="col-md-6 learn bg-gray">
          <h3 class="learn-title m-b-3">Learn</h3>
          <p>How-to videos</p>
          <ul>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/PhKFWFoBwnE">OZO Creator: Basics</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/1vsTZrUNHTk">OZO Creator: Editing & Workflow</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/watch?list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV&v=ZyKwqiNcSEs">OZO Creator: Stitching & Encoding</a></li>

          </ul>
          <p><a href="https://support.ozo.nokia.com/s/search/All/Home/ozo%20creator?tabset-d14af=2">FAQ</a></p>

      </div>
    </div>
  </div>
</section>
