<!--Features-->
<section class="features" id="creator-specs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Specifications</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p>Supported operating systems: Mac OS X® 10.11 El Capitan, macOS™ 10.12 Sierra, Windows 10</p>
                            <p>Supported hardware: Mac Pro® (Late 2013) with dual AMD FirePro™ D500 Mac Pro® (Late 2013) with dual AMD FirePro™ D700 PC with Intel quad core-i7 CPU, 16GB RAM, 2 x NVIDIA GTX 1080 GPU PC with Intel quad core-i7 CPU, 16GB RAM, 2 x AMD Radeon™ RX480 8GB</p>
                            <p>Monitor output: Stereoscopic monitoring including full 3D audio with Oculus DK2 on Mac OS X® and Oculus Rift on Windows</p>
                        </div>
                        <!--Feature-->
                        <a class="btn btn-primary btn-big reverse wow slideInUp" href="https://ozo.nokia.com/media/custom/upload/OZO-Creator-Product-Sheet.pdf">
                            View all
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
