<!--Testimonials-->
<section class="testimonials" id="creator-testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        {% comment %}
                        <h1 class="text-center wow fadeIn">Testimonials</h1>
                        {% endcomment %}
                        <h2 class="text-center wow fadeIn">What people are saying</h2>

                    </div>
                </div>
                <div class="testimonial-list">

                    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
                        <div class="testimonial wow fadeIn active">
                            <div class="testimonial-avatar ">
                              <img src="{{ site.baseurl }}/assets/img/creator/testimonial1.png" alt="Alex Lindsay"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Alex Lindsay</span>
                                <span>Chief Architect, Pixel Corps</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 text-center">
                    <h1 class="testimonial-text active">"Our clients want the highest quality they can possibly get, and Creator is that next step. It's going to actually take that footage that we shot live and allow us to restitch it at an even higher quality” </h1>
                </div>
              </div>
        </div>
    </div>
</section>
