
<!--Worlflows-->
<section id="creator-workflow">
    <div class="container-fluid">
      {% capture content %}
      OZO Creator’s newly re-designed image signal processing (ISP) transforms OZO+ RAW into video sharper, cleaner and more natural than ever before.
      </p>
      <h2>Freedom of choice</h2>
      OZO Creator provides you the power to finish your post production or the flexibility to transition into additional software. It is compatible with leading post-production tools such as Nuke, Adobe Premiere, and Pro Tools, and supports industry-standard and OZO formats.
      {% endcapture %}

        <!--Workflow 1-->
        {%
            include commons/full-row-right.html
            bgClass="bg1 bg-full-display bg-black"
            title="Next-generation image quality"
            content=content
         %}

         {% capture content %}
         OZO Creator provides high-quality stitching with control, power, and flexibility for all monoscopic and stereoscopic stitching needs. Fast Stitch works efficiently for when you need to quickly share and preview reference files, while Fine Stitch powerfully outputs high quality smooth and seamless VR video.
         </p>
         <h2>Seam visualizer and locator</h2>
         With overlapping fields of view, you can quickly make adjustments to seam locations in the scene as needed to reduce motion or overlap with actors.
         {% endcapture %}
        <!--Workflow 2-->
        {%
            include commons/full-row-left.html
            title="Best-in-class stitcher"
            bgClass="bg2 bg-full-display bg-black"
            content=content
         %}
         {% capture content %}
         Now you can export and leverage depth maps captured by OZO+ camera for 3D VFX compositing, mixed reality experiences, and more.
         </p>
         <h2>Creative flexibility</h2>
         Creators now have the option to generate 60, 90, 120, or 240 FPS footage converted through interpolation with OZO Creator.  Additionally, this interpolated frame rate footage can be played back at either 30 or 60 FPS, to achieve a desired slow-motion effect.
         {% endcapture %}
         {%
             include commons/full-row-right.html
             title="Depth map capture and export"
             bgClass="bg3"
             content=content
          %}
    </div>
</section>

{%comment%}
<section class="columns">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xs-12">
        <h2>Depth map capture and export</h2>
        <p>Now you can export and leverage depth maps captured by OZO+ camera for 3D VFX compositing, mixed reality experiences, and more.</p>
      </div>

      <div class="col-md-3 col-lg-3 col-xs-12">
        <h2>Seam visualizer and locator</h2>
        <p>With overlapping fields of view, you can quickly make adjustments to seam locations in the scene as needed to reduce motion or overlap with actors.</p>
      </div>


      <div class="col-md-3 col-lg-3 col-xs-12">
        <h2>Creative flexibility</h2>
        <p>OZO Creator now allows OZO+ captured content to be upscaled to 6k and 8k resolutions as well as do frame rate conversion to 60 FPS. You can also produce slow-motion VR by capturing at 120 or 240 FPS and playing back at 60 FPS.</p>
      </div>


      <div class="col-md-3 col-lg-3 col-xs-12">
        <h2>Freedom of choice</h2>
        <p>OZO Creator provides you the power to finish your post production or the flexibility to transition into additional software. It is compatible with leading post-production tools such as Nuke, Adobe Premiere, and Pro Tools, and supports industry-standard and OZO formats.</p>
      </div>

    </div>
  </div>
</section>
{%endcomment%}
