<section id="camera" class="full-row">
  <div class="container-fluid">
    <div class="row row-eq-height">
        <div class="wow col-lg-6 col-sm-6 col-md-6 col-xs-12 fadeInRight bg-gray full-row-content">
          <div class="container-left-half text-left">
                    <h2><img src="{{ site.baseurl }}/assets/img/home/ozo-camera-logo.png" alt="OZO + Camera"></img></h2>
                    <h3>Next-gen images with simply powerful post</h3>

                    <p>OZO Creator software seamlessly integrates with your RAW footage with your post-production workflow and helps you, process, edit, stitch, and encode. In May 2017 marks the release of the all-new, purpose-built OZO ISP, our , advanced image signal processing which delivers next-generation image quality, as well as depth map export.</p>
                    <a class="btn btn-primary reverse" href="#">
                      Learn more
                    </a>
            </div>
          </div>
          <div class="wow col-lg-6 col-sm-6 col-md-6 col-xs-12 fadeInLeft full-row-bg">
          </div>
          </div>
      </div>
</section>
