<section id="creator" class="full-row">
  <div class="container-fluid">
    <div class="row row-eq-height">
          <div class="wow col-lg-6 col-sm-6 col-md-6 col-xs-12 fadeInLeft full-row-bg">
          </div>
          <div class="wow col-lg-6 col-sm-6 col-md-6 col-xs-12 fadeInRight bg-gray full-row-content">
            <div class="container-right-half">
                      <h2><img src="{{ site.baseurl }}/assets/img/ozo-creator-logo.png" alt="OZO Creator"></img></h2>
                      <h3>Powerful image processing plus post-production made easy.</h3>

                      <p>Once you’ve captured your RAW footage, OZO Creator software seamlessly integrates with your workflow to help you import, process, edit, stitch, and encode. In May 2017, we introduce advanced image signal processing to deliver next generation image quality, as well as depth map export. Plus, it integrates with all your favorite post-production tools, workflows, and formats so you can work how you want. </p>
                      <a class="btn btn-primary" href="#">
                        Learn more
                      </a>
              </div>
            </div>
          </div>
      </div>
</section>
