<div class="cde">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <li class="wow col-lg-4 col-sm-12 col-md-4 flipInX">
            <a href="#">Create</a>
            <div class="cde-description">
              <a href="#">We make powerfully efficient hardware and software designed to enable and inspire a new generation of creators. </a>
            </div>
        </li>
        <li class="wow col-lg-4 col-sm-12 col-md-4 flipInX">
          <a href="#">Deliver</a>
          <div class="cde-description">
            <a href="#">We develop deliver-based solutions and partnerships that enable mass adoption and unlock the possibilities of VR. </a>
          </div>
        </li>
        <li class="wow col-lg-4 col-sm-12 col-md-4 flipInY">
          <a href="#">Experience</a>
          <div class="cde-description">
            <a href="#">We create technologies and formats that fuel end-user products that deliver on the promise of presence. </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="cde-footer text-center">
      <p>Welcome to the world of OZO. The journey begins here.</p>
    </div>
  </div>
</div>
