<section class="intro" id="create-section-intro">
  <div class="intro-title">
    <div class="container">
      <h2 class="wow slideInLeft">OZO Reality begins here.</h2>
    </div>
  </div>

</section>

<section class="intro intro-blue has-floating-buttons">
  {% include floating_action_buttons.html %}
  <div class="intro-title">
    <div class="container">
      <h2 class="wow slideInLeft">Bring your visions to life.</h2>
      <p class="wow slideInRight">Whether a fine-stitched narrative or real-time event, our award-winning hardware and software products
give creators powerful control to capture and produce world-class VR video and audio.
</p>
    </div>
  </div>
  <div class="caret-bottom">
    <img src="{{ site.baseurl }}/assets/img/intro-caret-blue.png" alt=""></img>
  </div>

</section>
