<section class="live-section paralax-bg has-info has-floating-buttons">
  {% include floating_action_buttons.html %}
  <div class="container">
    <h2 class="wow fadeInRight">OZO Live</h2>
    <p class="wow fadeInLeft">Transport your audience into the middle of the action at the very moment it’s happening. OZO Live is a real-time 3D 360 stitching software, running on reference hardware, that delivers live virtual reality broadcasting at scale. Designed with broadcasters in mind, OZO Live integrates with standard 4K (UHD) broadcast equipment and workflow. Use your own switchers, color correctors, and other gear for a full production workflow. Concert anyone?</p>
    <a class="btn" href="#">
      Learn more
    </a>
    <div class="section-info">
      “The reason that the OZOs are great for live is that it's a streamlined workflow. They have the audio incorporated, they have everything in one package.”

        DIRK WALLACE, Director, Live 360 Video | WATCH VIDEO
        <span class="dropup">
            <span class="caret"></span>
        </span>
    </div>
  </div>


</section>
