<section id="newsletter-section" class="paralax-bg">
  <div class="container">
    <h2>Subscribe to our newsletter</h2>
    <form class="" action="">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group input-group-lg input-text">
          <input class="form-control" type="text" placeholder="Name" name="name"></input>
        </div>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group input-group-lg input-text">
          <input class="form-control" type="text" placeholder="Company" name="company"></input>
        </div>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group input-group-lg input-text">
          <input class="form-control" type="text" placeholder="Email" name="email"></input>
        </div>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group input-group-lg input-submit">
          <input type="submit" value="Submit" class="btn"></input>
        </div>
      </div>
    </form>
  </div>
</section>
