<!--Partners-->
<section class="partners">
    <div class="container">
        <div class="partners-section-content">
            <div class="row">
                <div class="partners-title text-center">
                    <h1 class="wow slideInDow">Looking for a partner?</h1>
                    <p class="wow slideInDow"> Make your OZO VR project reality. Nokia has best-in-category partners that can help you at each step of the VR workflow.</p>

                </div>
                <div class="partners-list">

                    <div class="col-xs-12 col-md-12 col-lg-4 wow slideInLeft">
                        <div class="partner wow fadeInLeftBig">
                            <div class="partner-image-wrapper"> 
                                <div class="partner-image-content">
                                    <img class="partner-image" src="{{ site.baseurl }}/assets/img/partners/partner-1.png">
                                </div>
                            </div>
                            <div class="partner-information">
                                <p> In et tempus nibh. Sed semper fringilla nisl, in egestas sapien scelerisque nec. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4 wow slideInLeft">
                        <div class="partner wow fadeInRightBig">
                            <div class="partner-image-wrapper"> 
                                <div class="partner-image-content v-bottom">
                                    <img class="partner-image" src="{{ site.baseurl }}/assets/img/partners/partner-2.png">
                                </div>
                            </div>
                            <div class="partner-information">
                                <p> In et tempus nibh. Sed semper fringilla nisl, in egestas sapien scelerisque nec. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4 wow slideInLeft">
                        <div class="partner last-partner fadeInLeftBig">
                            <div class="partner-image-wrapper"> 
                                <div class="partner-image-content v-top">
                                    <img class="partner-image" src="{{ site.baseurl }}/assets/img/partners/partner-3.png">
                                </div>
                            </div>
                            <div class="partner-information">
                                <p> In et tempus nibh. Sed semper fringilla nisl, in egestas sapien scelerisque nec. </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 text-center">
                    <a class="btn btn-primary btn-big light wow slideInUp" href="#">
                        View all
                    </a>
                </div>

            </div>
        </div>

    </div>
</section>