<section id="what-creators-are-saying">
  <div class="container">
    <h2>What Creators Are Saying</h2>
    <div class="row feedback-box">
      <div class="col-md-6 col-lg-4 col-xs-12 feedback-item">
          <img class="img-responsive" src="{{ site.baseurl }}/assets/img/home/creator1.jpg"></img>
          <h3 class="feedback-title">Ben Grossmann</h3>
          <p class="feedback-subtitle">Co Founder -  Magnopus</p>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 feedback-item">
        <img class="img-responsive" src="{{ site.baseurl }}/assets/img/home/creator2.jpg"></img>
        <h3 class="feedback-title">Ben Grossmann</h3>
        <p class="feedback-subtitle">Co Founder -  Magnopus</p>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 feedback-item">
        <img class="img-responsive" src="{{ site.baseurl }}/assets/img/home/creator3.jpg"></img>
        <h3 class="feedback-title">Ben Grossmann</h3>
        <p class="feedback-subtitle">Co Founder -  Magnopus</p>
        <h2></h2>
      </div>
    </div>

    <div class="m-b-5 text-center">
      <a class="btn btn-primary" href="#">View all testimonials</a>
    </div>
  </div>
</section>
