<section id="what-people-are-saying" class="bg-navy m-b-4">
  <div class="container">
    <h2 class="m-b-4 text-center">What People Are Saying</h2>
    <div class="row feedback-home-box m-b-4">
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="feedback-home-item">
            <p class="feedback-home-item-comments">
              The industrial design is phenomenal, the concept behind is revolutionary, and it’s something you’re seeing for the first time… a purpose-built camera.
            </p>
            <img alt="" src="{{ site.baseurl }}/assets/img/home/people1.png"></img>
            <h3 class="feedback-home-item-title">Ben Grossmann</h3>
            <p class="feedback-home-item-subtitle">Co Founder -  Magnopus</p>
            <a href="#" class="feedback-home-item-more">Watch video</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="feedback-home-item">
            <p class="feedback-home-item-comments">
              The industrial design is phenomenal, the concept behind is revolutionary, and it’s something you’re seeing for the first time… a purpose-built camera.
            </p>
            <img alt="" src="{{ site.baseurl }}/assets/img/home/people1.png"></img>
            <h3 class="feedback-home-item-title">Ben Grossmann</h3>
            <p class="feedback-home-item-subtitle">Co Founder -  Magnopus</p>
            <a href="#" class="feedback-home-item-more">Watch video</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="feedback-home-item">
            <p class="feedback-home-item-comments">
              The industrial design is phenomenal, the concept behind is revolutionary, and it’s something you’re seeing for the first time… a purpose-built camera.
            </p>
            <img alt="" src="{{ site.baseurl }}/assets/img/home/people1.png"></img>
            <h3 class="feedback-home-item-title">Ben Grossmann</h3>
            <p class="feedback-home-item-subtitle">Co Founder -  Magnopus</p>
            <a href="#" class="feedback-home-item-more">Watch video</a>
        </div>
      </div>
    </div>

    <div class="m-b-5 text-center">
      <a class="btn btn-transparent btn-auto" href="#">See all</a>
    </div>
  </div>
</section>
