<section id="deliver-hero" class="section-table paralax-bg">
  <div class="container">
    <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                  <img src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_DELIVER_050817.png" alt="OZO Deliver" class="img-responsive" id="deliver-overview"></img>
                  <h2>Efficiently deliver content without compromise</h2>
                </div>
            </div>

        </div>
  </div>

</section>
