<section class="intro intro-navy">
  <div class="intro-title">
    <div class="container wow fadeIn">
      <p>Built for CDNs, online video providers, over-the-top services, and network operators, OZO Deliver is our innovative delivery software that powers our best-in-class viewpoint-adaptive streaming technology and format delivery engine.</p>
    </div>
  </div>

</section>
{% include commons/learn-more-cta.html %}

<section id="deliver-intro-section" class="m-b-5">
  <div class="container-fluid">
    {% capture rowContent %}
    <ul>
    <li>Deliver highest resolution stereoscopic video, up to 8K stereoscopic, even on devices that support no more than 4K decode frame</li>
    <li>Deliver spatial audio, including ambisonic and OZO Audio</li>
    <li>Deliver depth layers from OZO+ or third party sources, for mixed reality applications using OZO Player SDK</li>
    <li>Graceful failover: equirectangular video and stereo audio compatibility for legacy players</li>
    <li>Adaptive bitrate support for low or changing bandwidth conditions</li>
  </ul>
  {% endcapture%}
  {% capture info%}
       <p>At the core of the <a href="{{ site.baseurl }}{% link reality.html %}">OZO Reality Platform</a>, OZO Deliver enables efficient ingest and delivery of OZO Reality-quality content using less bandwidth.</p>
  {% endcapture %}
    {%
        include commons/full-row-left.html
        bgClass="bg1"
        contentClass="content1"
        info=info
        title="A quantum leap in immersive quality"
        content=rowContent
     %}

     {% capture rowContent %}
     <ul>
     <li>Bundles decoding, scaling, tiling, audio processing, encoding and packaging into a single software component</li>
     <li>Realize significant bandwidth savings on content delivery*</li>
     <li>Additional encoding efficiencies on stereoscopic content</li>
     <li>Lower storage utilization by close to 2x*</li>
     <li>H.264 and HEVC/h.265 compatibility on Rift, Vive, GearVR, and Daydream and work with the CDN of your choice</li>
   </ul>
    <div  class="text-right">
    <small>*based on initial market tests</small>
    </div>
     {% endcapture%}

     {%
         include commons/full-row-right.html
         bgClass="bg2"
         title="Unparalleled efficiency"
         content=rowContent
      %}

  </div>
</section>
