<section class="intro bg-gray" id="deliver-join">
  <div class="intro-title">
    <div class="container wow fadeIn">
      <h2 class="title-line-bottom">JOIN OUR PRIVATE PROGRAM</h2>
      <p class="m-b-4"><a href="mailto:jesse.beaudin@nokia.com">Contact us</a> to be a part of our private preview program.</p>
      <a href="mailto:jesse.beaudin@nokia.com" class="btn btn-primary wow fadeInUp">Contact us</a>
    </div>
  </div>

</section>
