<section class="intro" id="partners-intro">
  <div class="container">
    <div class="intro-title">
      <h2 class="title-line-bottom">PARTNERS WHO JOINED US</h2>
      <p>Many innovative partners have already joined our exclusive private preview program. </p>
    </div>

  </div>
</section>


<section class="partners-carousel">
  <div class="container">
    <div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">

                <div class="item active">
                	<div class="row">
                	  {% include deliver/partners_item.html img="1.png"%}
                	  {% include deliver/partners_item.html img="2.png"%}
                	  {% include deliver/partners_item.html img="3.png"%}
                    {% include deliver/partners_item.html img="4.png"%}
                	</div><!--.row-->
                </div><!--.item-->

                <div class="item">
                  <div class="row">
                    {% include deliver/partners_item.html img="1.png"%}
                	  {% include deliver/partners_item.html img="2.png"%}
                	  {% include deliver/partners_item.html img="3.png"%}
                    {% include deliver/partners_item.html img="4.png"%}
                  </div><!--.row-->
                </div><!--.item-->

                <div class="item">
                  <div class="row">
                    {% include deliver/partners_item.html img="1.png"%}
                	  {% include deliver/partners_item.html img="2.png"%}
                	  {% include deliver/partners_item.html img="3.png"%}
                    {% include deliver/partners_item.html img="4.png"%}
                  </div><!--.row-->
                </div><!--.item-->


                </div><!--.carousel-inner-->
                </div><!--.Carousel-->

		</div>
	</div>
</div><!--.container-->
</section>
