<div class="col-md-3">
    <a href="#" class="thumbnail">
      <span class="thumbnail-image">
        <img src="{{ site.baseurl }}/assets/img/partners/partner-gray-{{ include.img }}" alt="Image" style="max-width:100%;">
      </span>
    </a>
</div>
