---
layout: default
title: OZO Audio
permalink: /ozo-virtual-reality-audio/specifications/
meta-title: Get OZO Audio, licensable spatial audio technology for any recording device | Nokia OZO
meta-description: Born out of our 360 VR camera technology, OZO Audio is advanced spatial audio tech that allows sound to be captured and played back just like real life
bodyClass: page-specs
---
{% include audio-specs/hero.html %}

<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>Overview</h2>
        <p>OZO Audio is an advanced spatial audio technology with 3D capture and playback capabilities.
Advanced psychoacoustic technology allows sound to be captured and played back just like it would
in real life, transporting you and amplifying your experiences in every direction. Audio Focus mode
lets you accentuate the right sounds you need while reducing ambient sounds or background noise.
OZO Audio is adaptable to virtually any form factor. Whether it's a smartphone or a camera, OZO
Audio is the ideal solution for manufacturers looking to entice new customers with world-class
immersive 3D audio. OZO Audio capture technology delivers on immersiveness - which means your
device will be 100% ready for the kinds of experiences consumers are craving. </p>
    </div>
  </div>
</section>



<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Benefits</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p><strong>Quality</strong></p>
                            <ul>
                              <li>Best spatial audio capture quality with device integrated microphones</li>
                            </ul>
                        </div>
                          <div class="feature wow fadeIn">
                            <p><strong>Full 3D audio capture</strong></p>
                            <ul>
                              <li>Scalable solution for various product and microphone configurations</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Efficient OZO Audio distribution format</strong></p>
                            <ul>
                              <li>Selectable playback mode (binaural, 5.1 etc) in
playback device</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Universal format compatibility</strong></p>
                            <ul>
                              <li>Stereo playback in all devices without additional audio
tracks</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Headphone playback (binaural) with headtracking</strong></p>
                            <ul>
                              <li>Most immersive VR audio experience</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Loudspeaker playback</strong></p>
                            <ul>
                              <li>Multichannel loudspeaker output for home theatre use.</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Content sharing</strong></p>
                            <ul>
                              <li>Compatible with leading social media VR experiences</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>OZO Audio Focus Capture</strong></p>
                            <ul>
                              <li>Emphasize desired sound sources, and attenuate noise and
ambient sounds</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Audio Enhancement tools</strong></p>
                            <ul>
                              <li>Audio quality optimization in all usage conditions</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Integration optimization</strong></p>
                            <ul>
                              <li>Optimized implementation for mobile and consumer electronic
devices</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Integration support</strong></p>
                            <ul>
                              <li>Proven reference implementation provided for prominent HW platforms
devices</li>
                            </ul>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>

</section>




<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Key features</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p><strong>Product integration</strong></p>
                            <ul>
                              <li>Flexible microphone positioning in product mechanics – easy adaptation for different
microphone setups</li>
                              <li>Technology scales up for different needs with number of microphones:
                                  <ul>
                                  <li>2 Spatial capture</li>
                                  <li>3 360 spatial capture</li>
                                  <li>≥4 Full 3D spatial capture (azimuth and elevation)</li>
                                  </ul>
                              </li>
                              <li>Proven technology integrated to mass production devices</li>
                              <li>Support for mass production microphones (MEMS)</li>
                              <li>Customer support provided from concepting phase to product integration</li>
                              <li>Cross platform SW implementation</li>
                            </ul>
                        </div>



                    </div>

                </div>

            </div>

        </div>
    </div>

</section>



<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>OZO Audio Capture</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p><strong>Audio input </strong></p>
                            <ul>
                              <li>2 or more microphone channels</li>
                              <li>48 kHz, 16/24/32 bits</li>
                              <li>Support for different device orientations</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Processing</strong></p>
                            <ul>
                              <li>Accurate state-of-the-art spatial audio analysis</li>
                              <li>Audio capture enhancements such as automatic level control and noise reduction</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Output</strong></p>
                            <ul>
                              <li>OZO Audio Format</li>
                            </ul>
                        </div>



                    </div>

                </div>

            </div>

        </div>
    </div>

</section>




<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>OZO Audio Format</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <ul>
                              <li>Standard compliant MP4 file format</li>
                              <li>Most data efficient spatial audio content format</li>
                              <li>Full spatial experience with OZO Audio enabled players</li>
                              <li>High quality stereo output with any legacy player supporting AAC</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Input</strong></p>
                            <ul>
                              <li>OZO Audio Format</li>
                              <li>Loudspeaker signals</li>
                              <li>Ambisonics</li>
                              <li>Audio objects</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Audio output for playback and/or sharing</strong></p>
                            <ul>
                              <li>Binaural, headtracking support</li>
                              <li>Stereo</li>
                              <li>Multichannel (5.1, 7.1, 5.1.2 etc.)</li>
                              <li>Ambisonics (FOA and HOA)</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Enhancements</strong></p>
                            <ul>
                              <li>OZO Audio Focus</li>
                              <li>Automatic level control</li>
                              <li>Bass level control</li>
                              <li>Noise reduction</li>
                              <li>Audio effects</li>
                            </ul>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>

</section>



<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Product technology delivery and support</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <ul>
                              <li>SW library for device integration</li>
                              <li>Optimized implementation for customer HW</li>
                              <li>Integration support depending on customer needs</li>
                              <li>Audio quality assurance support</li>
                              <li>ISO 9001 certified quality management system</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>



<div class="container text-center">
  <p><small>Nokia, OZO and their respective logos are the trademarks of Nokia Corporation and/or its affiliates in Finland and other countries. All
third party company, product, or service names may be trademarks or service marks of others and are the property of their
respective owners</small></p>
</div>
