---
layout: default
title: Cannes Lions
permalink: /adVRtising/
bodyClass: cannes
gtmIgnore: true
meta-title: Nokia at Cannes Lions | Nokia OZO
meta-description: Stay on top of the rapid evolution of virtual reality and 360 camera technology with the OZO newsletter, Twitter, and YouTube channel.
---

<section id="cannes-hero" class="section-table paralax-bg">
  <div class="container">
    <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                  <h2 class="paralax-title">Nokia at Cannes Lions</h2>
                  <h2>Croisette Row Cabana #5 & Innovation Booth <br/>
                  June 19 – 22, 2017 <br/>

                  </h2>
                  <h3>Join us at Cannes Lions and get inspired to create the future of adVRtising. See how Nokia’s next generation of VR technologies can help you expand the creative possibilities for brands through innovative, interactive and immersive VR experiences.</h3>
                  <h2 class="cannes-hero-bottom">#OZO #adVRtising </h2>
                </div>
            </div>

        </div>
  </div>

</section>

<section>
<div class="intro">
  <div class="container text-center">
    <div class="intro-title">
        <h2>Daily in our cabana</h2>

      <p><strong>Cabana Chats</strong></p>
      <p>Edu-taining VR panels and master classes to inspire. Daily 19-21 June at 11am and 4pm.</p>

      <p><strong>OZO Demos </strong></p>
      <p>Get your hands on an OZO+ camera and see how OZO Creator and OZO Player SDK make advertising easy.</p>

      <p><strong>Meet the Experts</strong></p>
      <p>Brainstorm your next Lion with Nokia Technologies CMO Rob Le Bras-Brown and Brandwidth VR experts Matt Littler & Dean Johnson.</p>

      <p><strong>Healthier Together World Premiere</strong></p>
      <p>Be the first to view the new OZO VR immersive ad for Nokia health created by Brandwidth.</p>

      <p><strong>VR Bar </strong></p>
      <p>Put on a headset and see how top brands are breaking through. </p>

      <p><strong>The Bar at the VR Bar </strong></p>
      <p>Grab a cold drink and take a break on our beachside deck.</p>
      {%comment%}
      <p><strong>Daily:</strong></p>
      <ul>
      <li>Watch breakthrough VR brand experiences created with OZO</li>
      <li>Learn how OZO can bring your VR vision to life with OZO+ camera and OZO Creator</li>
      <li>Get entertained and educated by our daily panels and presentations on adVRtising</li>
      <li>Cool down with a drink while mixing and mingling with VR experts</li>
      </ul>
      {%endcomment%}
    </div>
  </div>
</div>
</section>



<section class="intro m-b-5 intro-cannes">
  <div class="container">
    <div class="itnro-title text-center m-b-5">
        <h2>Cabana Chat Series</h2>
    </div>
    <div class="bg-gray text-center intro-title">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h3>You Can't Spell Advertising without VR</h3>
            <h4 class="m-b-5 m-t-3">JUNE 19, 20, 21 @11 am</h4>
            <p>From transforming the test drive to presenting fast food you can practically taste, the ways in which VR is changing advertising is evolutionary, and sometimes revolutionary. Marketers are just beginning to scratch the surface of what impact virtual, augmented and mixed reality can have on their brand, and more importantly, on their audience.</p>

            <p class="m-b-5">Join Rob Le Bras-Brown, CMO from Nokia Technologies, as he welcomes leading CMOs, publishers, and more for intimate conversations on the possibilities today and tomorrow on the role VR can play in connecting brands to customers in ways never before possible.</p>
            <div class="row cannes-testimonial">
              <div class="col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3 text-md-right col-xs-12">
                  <img src="{{ site.baseurl }}/assets/img/cannes/rob.png"></img>
              </div>
              <div class="col-md-6 col-xs-12 col-lg-4">
                <p>&nbsp;</p>
                <p class="cannes-testimonial-title text-md-left text-xs-center text-lg-left"><strong><span class="text-uppercase">Rob Le Bras-Brown</span> </strong><br/>
                CMO, Nokia Technologies</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="intro intro-cannes">
  <div class="container">
    <div class="bg-gray text-center intro-title">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h3>From Brief to Beach: A VR Master Class from Brandwidth</h3>
            <h4 class="m-b-5 m-t-3">JUNE 19, 20, 21 @11 am and 4 pm</h4>
            <p>We gave our agency an impossible brief. </p>

            <p>Create a breakthrough VR experience that's never been done before.<br/>
Feature six different products from our Nokia health family.<br/>
Make it using Nokia OZO VR technologies, including the OZO+ camera.<br/>
Then launch it at Cannes Lions in front of the creative world's best.<br/>
Finally… do it in five weeks. </p>
            <p class="m-b-5">Come see how marketing innovation agency Brandwidth made the impossible possible for Nokia, and learn how you can do the same. </p>
            <p><strong>MEET THE SPEAKERS:</strong></p>
            <div class="row cannes-testimonial">
              <div class="col-md-4 text-center">
                  <img class="m-b-3" src="{{ site.baseurl }}/assets/img/cannes/dean.png"></img>
                  <p class="cannes-testimonial-title text-uppercase m-b-0"><strong>Dean Johnson</strong></p>
                  <p class="cannes-testimonial-subtitle">Head of Innovation, Brandwidth </p>
              </div>
              <div class="col-md-4 text-center">
                  <img class="m-b-3" src="{{ site.baseurl }}/assets/img/cannes/matt.png"></img>
                  <p class="cannes-testimonial-title text-uppercase m-b-0"><strong>Matt Littler</strong></p>
                  <p class="cannes-testimonial-subtitle">Head of Moving Image, Brandwidth </p>
              </div>
              <div class="col-md-4 text-center">
                  <img class="m-b-3" src="{{ site.baseurl }}/assets/img/cannes/andy.png"></img>
                  <p class="cannes-testimonial-title text-uppercase m-b-0"><strong>Andy Edwards</strong></p>
                  <p class="cannes-testimonial-subtitle">Creative Director, Brandwidth</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
<div class="intro">
  <div class="container">
    <div class="intro-title">
          <h2 class="font-weight-normal">Nokia on Nokia</h2>
          <div class="row text-left">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 featured-item" style="height:auto">
              <div class="featured-image">
                  <p class="featured-content text-danger visible-xs"><small><i class="fa fa-warning"></i> Use the YouTube app to view this. YouTube 360 videos do not play correctly in mobile browsers.</small></p>
                <a href="http://www.youtube.com/watch?v=E9jq6XpZjGo" data-fancybox-desktop="">
                  <img class="img-responsive" src="{{site.baseurl}}/assets/img/cannes/nokiaonnokia1.png"></img>
                </a>
              </div>
              <div class="featured-content-wrapper">
                <p class="featured-title">
                  <a href="http://www.youtube.com/watch?v=E9jq6XpZjGo" data-fancybox-desktop="">
                  Healthier together: a shoppable Nokia 360 VR experience created with OZO
                  </a>
                </p>
                <p class="featured-content">This YouTube 360 experience was created using OZO+ camera and OZO Creator’s depth map export capabilities to enable seamless CGI integration. Visit our Cannes cabana to view in an immersive VR headset.</p>
              </div>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 featured-item" style="height:auto">
              <div class="featured-image">
                <a href="http://www.youtube.com/watch?v=292ZlRVlaTg" data-fancybox-desktop="">
                  <img class="img-responsive" src="{{site.baseurl}}/assets/img/cannes/nokiaonnokia2.png"></img>
                </a>
              </div>
              <div class="featured-content-wrapper">
                <p class="featured-title">
                  <a href="http://www.youtube.com/watch?v=292ZlRVlaTg" data-fancybox-desktop="">
                  Behind-the-scenes of Healthier together
                  </a>
                </p>
                <p class="featured-content">See how innovation agency Brandwidth used OZO to bring a family’s home filled with Nokia health products to life in ways only possible using 360 VR.</p>
              </div>

            </div>

          </div>
    </div>

  </div>
</div>
</section>


<section class="bg-gray">
<div class="intro">
  <div class="container text-center">
    <div class="intro-title">
          <h2 class="m-b-5">Did you know?</h2>

          <ul class="no-dot-space">
          <li><span><a href="{{site.baseurl}}{%link camera.html%}">OZO+</a> has been the VR camera of choice for <a href="https://www.youtube.com/watch?v=704xfyDwDVI" data-fancybox="">Coachella</a>, <a href="https://www.ibc.org/production/champions-league-final-to-air-in-360-degrees/1971.article" target="_blank">the Champions League final</a> and <a href="http://www.nokia.com/en_int/news/releases/2017/04/24/nokia-partners-with-lucasfilm-to-deliver-an-immersive-behind-the-scenes-vr-experience-of-star-wars-the-last-jedi" target="_blank">Star Wars-The Last Jedi</a></span></li>
          <li><span><a href="{{site.baseurl}}{%link camera.html%}">OZO+</a> and <a href="{{site.baseurl}}{%link creator.html%}">OZO Creator</a> enable the capture and export of depth maps for seamless integration with VR ads</span></li>
          <li><span><a href="{{site.baseurl}}{%link sdk.html%}">OZO Player SDK</a> lets you easily create VR video apps compatible with most major VR platforms</span></li>
          <li><span><a href="{{site.baseurl}}{%link sdk.html%}">OZO Player SDK</a> enables graphical ad insertions with occlusion, meaning you can insert computer generated elements into a scene with accurate perspective and depth</span></li>
          <li><span><a href="{{site.baseurl}}{%link sdk.html%}">OZO Player SDK</a> can dynamically deliver interactive ad elements into a VR video based on a user interaction or even user profile</span></li>
          <li><span><a href="{{site.baseurl}}{%link sdk.html%}">OZO Player SDK comes with built-in with analytics</a>, so you can track what people look at inside your VR video</span></li>
          <li><span><a href="{{site.baseurl}}{%link storytellers.html%}">OZO Storytellers program</a> enables creators to help shape the vision of the VR medium with significant savings</span></li>
          </ul>
      </div>
    </div>
</div>
</section>


<section>
<div class="intro intro-purple">
  <div class="container text-center">
    <div class="intro-title">
        <h2>Got a killer adVRtising idea? </h2>

      <p class="m-b-5">Talk to us about your project and we can share our expertise to help you bring it to life.</p>
      <form name="Suscribe" action="{{site.baseurl}}/salesforce/save.php" method="post" id="cannes-subscribe-form" class="text-left">
        <input type="hidden" name="oid" value="00D37000000K0CT">
        <input name="lead_source" type="hidden" value="OZO Website" />
        <input type=hidden name="retURL" value="http://ozo.nokia.com/vr">
        <input type=hidden name="lead_source" value="Web">
        <input type=hidden name="00N5800000DG7Jk" value="Advertising">

          <div class="row m-b-2">
            <div class="col-md-2 col-xs-12">
                <div class="input-group input-text input-text-big input-text-white required">
                  <label>FIRST NAME <span class="text-info">*</span></label>
                  <input type="text" name="first_name" class="form-control" required="required" ></input>
                </div>
            </div>
              <div class="col-md-2 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white required">
                    <label>LAST NAME <span class="text-info">*</span></label>
                    <input type="text" name="last_name" class="form-control" required="required" ></input>
                  </div>
              </div>
              <div class="col-md-2 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white required">
                    <label>EMAIL <span class="text-info">*</span></label>
                    <input type="email" name="email" class="form-control" required="required"></input>
                  </div>
              </div>
              <div class="col-md-2 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white required">
                    <label>COMPANY NAME <span class="text-info">*</span></label>
                    <input type="text" name="company" class="form-control" required="required"></input>
                  </div>
              </div>
              <div class="col-md-2 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white">
                    <label>COMPANY PHONE</label>
                    <input type="text" name="phone" class="form-control"></input>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <div class="input-group input-text input-text-big input-text-white">
                <textarea name="00N5800000BsGoX" rows="5" class="col-xs-12"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-text-white checkbox">

                  <label>
                    <input  id="00N58000004rlWT" name="00N58000004rlWT" type="checkbox" value="0"/>
                    I consent to receiving sales and marketing communication from Nokia and its partners
                  </label>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button class="btn btn-light m-t-3" id="cannes-subscribe-form-submit-button">
                  Contact us
                </button>
                <span class="hidden btn btn-light m-t-3" id="cannes-subscribe-form-success-button">
                  <i class="fa fa-check"></i>Thanks!
                </span>
                <!--
                Thanks for subscribing!
                -->
              </div>
        </div>

        </form>

    </div>
  </div>
</div>
</section>

{% include cannes/featured.html %}


<section id="cannes-quote-hero" class="bg-cover section-table with-overlay-white-xs">
  <div class="container">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-8 text-left">
                  <h2>Amanda Malko</h2>
                  <p>Chief marketing officer, Tongal</p>

                  <h5 class="text-quoted">The pace at which VR is evolving is extremely rapid. So the brands who are ahead of it now are going to have a leg up.</5>
                </div>
              </div>
            </div>
        </div>

  </div>
</section>





{% include commons/newsletter.html
  subscribeText="Learn all about creating adVRtising with OZO and more"
  subscribeSubtitleText="Subscribe to our email newsletter."
  %}
