---
layout: default
title: OZO Creator
permalink: /ozo-creator-virtual-reality-software/specifications/
meta-title: Buy Professional VR 360 Post Production Software | Nokia OZO
meta-description: OZO Creator is an easy-to-use VR post production software that integrates with the editing, effects, mixing, and color correction tools you already use
---
{% include creator-specs/home.html %}

<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>Header</h2>
        <p>OZO Creator™ transforms captured content into amazing VR experiences</p>
        <h2>Overview</h2>
        <p>OZO Creator is a powerful, easy-to-use VR creation tool that seamlessly integrates with
            professional workflows and tools to deliver the most professional looking stitched content
            while dramatically reducing the time, complexity, and cost of professional VR production.
            In addition to next-generation image quality for VR via OZO ISP™, OZO Creator enables realityunlocking
            VR capabilities of today and tomorrow alike through exporting depth maps for 3DVFX
            compositing, mixed-reality experiences and more.</p>
<h2>Benefits</h2>
<h3>Next-Generation Image Quality:</h3>
<p>The all-new purpose-built OZO ISP™ image signal processing pipeline delivers next-gen visual quality to OZO+
captured content for images that are sharper, cleaner and more natural than ever before.</p>
<h3>Depth Map Capture & Export:</h3>
<p>OZO Creator allows you to export and leverage depth captured by OZO+ camera for compositing for 3DVFX, mixed
reality experiences, and more.</p>
<h3>Best-in-class Stereoscopic Stitcher:</h3>
<p>Our robust, high-quality stereoscopic stitcher offers control, power, and flexibility for your 2D and 3D stitching
needs. OZO Creator’s™ Fast Stitch provides convenience for sharing and previewing when you simply need a quick
reference file, while OZO Creator’s Fine Stitch has become the gold standard in the industry for quality, delivering
the most immersive experience possible for your end-customers.</p>
<h3>Seam Visualizer and locator:</h3>
<p>OZO Creator’s Seam Visualizer and Locator enables final adjustments to the seam locations in the scene, and
thanks to OZO’s overlapping camera field of view, even to the width of the individual seams as needed to reduce
motion or actor placement across seams. The end result is a much clearer and immersive VR experience.</p>
<h3>Creative flexibility:</h3>
<p>OZO Creator now allows OZO+ captured content to be upscaled to 6K and 8K resolutions and also allows for frame
rate conversion to 60FPS. Additional frame rate creative flexibility now enables slow-motion effects through
capturing at 120 or 240 FPS played back at 60FPS.</p>
    </div>
  </div>
</section>

<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Features & Formats</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p><strong>Video format support (input)</strong></p>
                            <ul>
                              <li>Internal Ozoraw capture files (.ozoraw)</li>
                              <li>External recorder capture files (.mov)</li>
                              <li>OZO Exposure Brackets (.ozoexb)</li>
                              <li>Fisheye EXR frame sequences</li>
                              <li>Fisheye DPX frame sequences</li>
                              <li>Spherical (stitched) EXR frame sequences</li>
                              <li>Spherical (stitched) DPX frame sequences</li>
                              <li>Depth maps as EXR frame sequences</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Video format support (output)</strong></p>
                            <ul>
                              <li>Fisheye EXR frame sequences</li>
                              <li>Fisheye DPX frame sequences</li>
                              <li>Spherical (stitched) EXR frame sequences</li>
                              <li>Spherical (stitched) DPX frame sequences</li>
                              <li>Spherical 2D 360 editorial MP4</li>
                              <li>Depth maps as EXR frame sequences</li>
                              <li>High bitrate fisheye MP4s (H.264)</li>
                              <li>Spherical (stitched) MP4 (H.264) with
loudspeaker or ambisonic audio</li>
                              <li>Spherical (stitched) MP4VR with OZO Audio
 Cinema DNG</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Audio format support
(Input and Output)</strong></p>
                            <ul>
                              <li>OZO Creator supports Surround audio
(Multi-channel WAV) </li>
                              <li>First Order Ambisonic audio (ACN channel
ordering</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Image and color correction options</strong></p>
                              <ul>
                                <li>Illuminant selection including custom
illuminant support </li>
                                <li>Adjustable spatial and temporal noise
filters</li>
                                <li>Sharpness control </li>
                                <li>Saturation control </li>
                                <li>Highlight recovery</li>
                                <li>Global and per-sensor white level, black
level and gamma per channel (R,G,B)</li>
                              </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Metadata output </strong></p>
                            <ul>
                              <li>Calibration data (extrinsics & intrinsics)</li>
                              <li>Camera orientation</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Stitching options</strong></p>
                            <ul>
                              <li>Fine (Highest quality) and Fast (Normal
quality) stitching options</li>
                              <li>Seam width and placement</li>
                              <li>Seam convergence point setting</li>
                              <li>Monoscopic (2D) and Stereoscopic (3D) </li>
                              <li>Upside-down (180 degree) rotation</li>
                              <li>For additional creative freedom, OZO
Creator also supports optional external
stitching integration with CaraVR and Jaunt
Cloud Service (JCS)</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Depth maps </strong></p>
                            <ul>
                              <li>Export depth maps as EXR frame sequences</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Disparity fade function</strong></p>
                            <ul>
                              <li>Automatically fade disparity between left
and right eye panoramas to zero (providing
a monoscopic view) at the north and south
poles enhancing HMD viewing experience of
these areas</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Single frame export option</strong></p>
                            <ul>
                              <li>OZO Creator adds single frame export
option to the job queue allowing quick
experimentation of different combinations
of settings </li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Supported Output resolutions
(All resolutions support top-bottom stereo
frame packing with double height)</strong></p>
                            <ul>
                              <li>HD (1920x1080)</li>
                              <li>3K (3072x1536)</li>
                              <li>UHD (3840x2160)</li>
                              <li>4K (4096x2048)</li>
                              <li>6K (6144x3072) (upscaled)</li>
                              <li>8K UHD (7680x4320) (upscaled)</li>
                              <li>8K (8192x4096) (upscaled)</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Supported Output framerates</strong></p>
                            <ul>
                              <li>30</li>
                              <li>60 (interpolated)</li>
                              <li>90 (interpolated)</li>
                              <li>120 (interpolated)</li>
                              <li>180 (interpolated)</li>
                              <li>240 (interpolated)</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Command line interface</strong></p>
                            <ul>
                              <li>JSON-based command-line interface which
enables scripting and distributed computing</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Distribution platforms</strong></p>
                            <ul>
                              <li>Youtube, Facebook, OZO Player SDK and
other plaforms supporting standard
spherical MP4 distribution</li>
                            </ul>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>

</section>


<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Technical Specifications</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                          <div class="feature wow fadeIn">
                              <p><strong>Supported Operating Systems</strong></p>
                              <ul>
                                <li>Mac OS X® 10.11 El Capitan, macOS™ 10.12
Sierra, Windows 10</li>
                              </ul>

                          </div>
                          <div class="feature wow fadeIn">
                            <p><strong>Supported Hardware</strong></p>
                            <ul>
                              <li>Mac Pro® (Late 2013) with dual AMD
  FirePro™ D500 Mac Pro® (Late 2013) with
  dual AMD FirePro™ D700 PC with Intel quad
  core-i7 CPU, 16GB RAM, 2 x NVIDIA GTX
  1080 GPU PC with Intel quad core-i7 CPU,
  16GB RAM, 2 x AMD Radeon™ RX480 8GB</li>
                            </ul>

                          </div>

                          <div class="feature wow fadeIn">
                            <p><strong>Monitor output</strong></p>
                            <ul>
                              <li>Stereoscopic monitoring including full 3D
audio with Oculus DK2 on Mac OS X® and
Oculus Rift on Windows</li>
                            </ul>

                          </div>

                        </div>
                        <!--Feature-->
                        </div>

                </div>

            </div>

        </div>
    </div>

</section>
