---
layout: default
title: Learn
permalink: /learn-about-ozo-reality/
bodyClass: learn-page
meta-title: See our library of VR Camera specifications, user guides, and more | Nokia OZO
meta-description: Use this robust library of VR 360 camera resources like product specs, How-to videos & guides, and FAQ’s to help you bring your VR projects to life
---

<section id="learn-hero" class="section-table paralax-bg m-b-5 with-overlay-4">
  <div class="container">
    <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                  <h2 class="paralax-title">Learn</h2>
                  <h2>We’re on a mission to make virtual reality and OZO more accessible to everyone. Below you will find a robust library of product specs, How-to videos, helpful guides, and FAQ’s to help you bring your creative vision to life quickly, easily, and cost effectively.</h2>
                </div>
            </div>

        </div>
  </div>

</section>




<section  class="section-article">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase">OZO+ camera</h2>
    </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 bg-navy">
      <div class="section-article-list">
        <h3 class="article-title">OZO+ camera specifications</h3>
        <ul class="list-style-none">
        <li><a href="https://ozo.nokia.com/media/custom/upload/OZOPlusCamera-Product-Sheet.pdf" class="more-link">Download specifications</a></li>
        </ul>
        <h3 class="article-title">How to videos</h3>
        <ul class="list-style-none">
          <li><a href="https://www.youtube.com/embed/nLcEpbU8HwM" class="more-link">Setting up your OZO+ camera</a></li>
          <li><a href="https://www.youtube.com/watch?v=G2mTRjfZm7A" class="more-link">OZO Masterclass: 360 Filmmaking Best Practices</a></li>
        </ul>
        <h3 class="article-title">User Guides </h3>
        <ul class="list-style-none">
          <li><a href="https://ozo.nokia.com/media/custom/upload/docs/OZO_Workflow_Guide.pdf"  class="more-link">OZO Workflow Guide</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Setup_Guide_and_Requirements.pdf" class="more-link">OZO Setup Guide and Requirements </a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/Ozo_Camera_QuickStartGuide.pdf" class="more-link">OZO Camera Quick Start Guide</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/Ozo_DigitalCartridge_QuickStartGuide.pdf"  class="more-link">OZO Digital Cartridge Quick Start Guide </a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/Ozo_DockingStation_QuickStartGuide.pdf"  class="more-link">OZO Docking Station Quick Start Guide </a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZOMediaModuleQuickStartGuide.pdf" class="more-link">OZO Media Module Quick Start Guide </a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/docs/MOVEMENT_11_30_16.pdf" class="more-link">OZO and 360 Camera Movement</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/docs/ExposureManualInformation_12_06_16.pdf" class="more-link">Exposure manual: General guidelines for effective lighting and exposure control of the OZO</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/docs/Shooting-for-Stitching-updated-10_05_16.pdf" class="more-link">Shooting for Stitching: How to design a shoot to minimize stitching artifacts</a></li>
        </ul>

        <h3 class="article-title">FAQs and forums</h3>
        <ul class="list-style-none">
          <li><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCbCGAW/ozo-camera-and-accessories?tabset-cdc12=2" class="more-link">Camera and accessories</a></li>
          <li><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCbMGAW/onset-workflow?tabset-cdc12=2" class="more-link">On-set workflow</a></li>
          <li><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCbHGAW/ordering-and-shipping?tabset-cdc12=2" class="more-link">Ordering and shipping (camera) </a></li>
          <li><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCbWGAW/off-topic?tabset-cdc12=2" class="more-link">Off topic (camera)</a></li>
          <li><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCb7GAG/feature-request" class="more-link">Feature request (camera).</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>


<section  class="section-article">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase">OZO Remote and Preview</h2>
    </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 bg-navy">
      <div class="section-article-list">
        <h3 class="article-title">OZO Remote and OZO Preview specifications</h3>
        <ul class="list-style-none">
          <li><a href="https://ozo.nokia.com/media/custom/upload/Nokia_OZO_Specifications_2017-02-20.pdf" class="more-link">Download specifications</a></li>
        </ul>

        <h3 class="article-title">How to videos</h3>
        <ul class="list-style-none">
          <li><a href="https://www.youtube.com/embed/6rinjrK2Hj4" data-fancybox="" class="more-link">OZO Remote: Controlling the Camera</a></li>
          <li><a href="https://www.youtube.com/embed/_7GV1IiN5XE" data-fancybox="" class="more-link">OZO Remote: Monitoring the Signal</a></li>
          <li><a href="https://www.youtube.com/embed/qf6xeeuwBMo" data-fancybox="" class="more-link">OZO Preview: Basics</a></li>
        </ul>

         <h3 class="article-title">FAQs and forums</h3>
        <ul class="list-style-none">
          <li><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCbMGAW/onset-workflow?tabset-cdc12=2" class="more-link">On-set workflow</a></li>
        </ul>


      </div>
    </div>
  </div>
  </div>
</section>


<section  class="section-article">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase">OZO Creator</h2>
    </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 bg-navy">
      <div class="section-article-list">
        <h3 class="article-title">OZO Creator specifications</h3>
        <ul class="list-style-none">
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZO-Creator-Product-Sheet.pdf" class="more-link">Download specifications</a>
          </li>
        </ul>
        <h3 class="article-title">How-to videos</h3>
        <ul class="list-style-none">
          <li><a href="https://www.youtube.com/embed/PhKFWFoBwnE" data-fancybox="" class="more-link">OZO Creator: Basics</a></li>
          <li><a href="https://www.youtube.com/embed/1vsTZrUNHTk" data-fancybox="" class="more-link">OZO Creator: Editing & Workflow </a></li>
          <li><a href="https://www.youtube.com/embed/ZyKwqiNcSEs?list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV" data-fancybox="" class="more-link">OZO Creator: Stitching & Encoding</a></li>
        </ul>
        <h3 class="article-title">User guides</h3>
        <ul class="list-style-none">
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Creator_Licensing.pdf" class="more-link">OZO Creator Licensing</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Post_Workflow_Documentation.pdf" class="more-link">OZO post workflow documentation</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/Facebook_360_How_to_upload_content_to_Facebook.pdf" class="more-link">Exporting stitched MP4s to Facebook</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/YouTube_How_to_upload_content_to_YouTube.pdf" class="more-link">Exporting stitched MP4s to YouTube</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/Samsung_Gear_VR_How_to_sideload_content_to_Samsung_Gear_VR.pdf" class="more-link">Exporting stitched MP4s for the Oculus Video App Running on a Samsung Gear VR System</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/Exporting-Stitched-MP4s-Vimeo.pdf" class="more-link">Exporting stitched MP4s to Vimeo</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/Improving_OZO_Image_Quality_2017-03-21.pdf" class="more-link">Tips for improving image quality on OZO footage</a></li>
        </ul>
        <h3 class="article-title">Sample footage</h3>
        <ul class="list-style-none">
          </li><a href="https://support.ozo.nokia.com/s/article/ka058000000U5EIAA0/Is-there-sample-OZO-footage-available" class="more-link">Download sample footage</a><li>
        </ul>

        <h3 class="article-title"><a href="https://support.ozo.nokia.com/s/topic/0TO58000000PCbRGAW/post-production-and-distribution?tabset-cdc12=2">FAQs</a></h3>
        <ul class="list-style-none">
          <li><a href="https://support.ozo.nokia.com/s/search/All/Home/export%20options?tabset-d14af=2" class="more-link">Export options</a></li>
          <li><a href="https://support.ozo.nokia.com/s/search/All/Home/spherical%20mode?tabset-d14af=2" class="more-link">Spherical mode</a></li>
          <li><a href="https://support.ozo.nokia.com/s/search/All/Home/Encoding%20OZO%20content%20for%20OZO%20Player?tabset-d14af=2" class="more-link">Encoding OZO content for OZO Player</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>

<section  class="section-article">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase">OZO Live</h2>
    </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 bg-navy">
      <div class="section-article-list">
        <h3 class="article-title">OZO Live specifications</h3>
        <ul class="list-style-none">
          <li><a href="https://ozo.nokia.com/media/custom/upload/Product-Sheet-Live.pdf" class="more-link">Download specifications</a></li>
        </ul>
        <h3 class="article-title">How-to videos</h3>
        <ul class="list-style-none">
          <li><a href="https://www.youtube.com/embed/N10DpzR-H-o" data-fancybox="" class="more-link">OZO Live: Prerequisites</a></li>
          <li><a href="https://www.youtube.com/embed/VSMmJPlUqCU"  data-fancybox="" class="more-link">OZO Live: Signal flow</a></li>
          <li><a href="https://www.youtube.com/embed/JZwqRuhY9ak" data-fancybox="" class="more-link">OZO Live: Basic operations</a></li>
          <li><a href="https://www.youtube.com/embed/zzK_QRsVux4" data-fancybox="" class="more-link">OZO Live: Stitching with OZO Live </a></li>
          <li><a href="https://www.youtube.com/embed/a4Rb72JKhyM" data-fancybox="" class="more-link">OZO Live: Color correction</a></li>
          <li><a href="https://www.youtube.com/watch?v=L1YTtEFY2h0" data-fancybox="" class="more-link">OZO Masterclass: How to Livestream a Concert in VR</a></li>
        </ul>
        <h3 class="article-title">Best practices videos</h3>
        <ul class="list-style-none">
          <li><a href="https://www.youtube.com/embed/-k1_uNViZdg?list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV" data-fancybox="" class="more-link">Best Practices: Camera placement</a></li>
          <li><a href="https://www.youtube.com/embed/DJAybCcBZqw?list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV" data-fancybox="" class="more-link">Best Practices:  Camera movement</a></li>
          <li><a href="https://www.youtube.com/embed/Y6L1GGgy8zU?list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV" data-fancybox="" class="more-link">Best Practices:  Editorial decisions</a></li>
          <li><a href="https://www.youtube.com/embed/SkGq-n9dbe0?list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV" data-fancybox=""class="more-link">Best Practices:  Shooting conditions</a></li>
        </ul>
        <h3 class="article-title">User guides</h3>
        <ul class="list-style-none">
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Live_User_Guide.pdf"  class="more-link">OZO Live: General user guide</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Live_Setup_Guide.pdf"  class="more-link">OZO Live: Setup guide</a></li>
          <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Live_Best_Practices.pdf"  class="more-link">OZO Live: Best practices</a></li>
        </ul>

        <h3 class="article-title">FAQs</h3>
        <ul class="list-style-none">
          <li><a href="https://support.ozo.nokia.com/s/search/All/Home/broadcast%20encoder?tabset-d14af=2" class="more-link" >Picking a broadcast encoder </a></li>
          <li><a href="https://support.ozo.nokia.com/s/search/All/Home/post%20stitching?tabset-d14af=2" class="more-link">For post stitching</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>




<section  class="section-article">
  <div class="container">
    <div class="text-center">

      <h2 class="text-uppercase">OZO Player SDK</h2>
    </div>
  <div class="row">


    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 bg-navy">
      <div class="section-article-list">
        <h3 class="article-title">OZO Player SDK specifications</h3>
        <ul class="list-style-none">
          <li><a href="https://ozo.nokia.com/media/custom/upload/Product-Sheet-PlayerSDK.pdf" class="more-link">Download specifications</a></li>
        </ul>

        <h3 class="article-title">How-to videos</h3>
        <ul class="list-style-none">
          <li><a href="https://www.youtube.com/embed/xgwQureTdXk?rel=0" class="more-link" data-fancybox="">OZO Player SDK: Prerequisites</a></li>
          <li><a href="https://www.youtube.com/embed/SOg6Z0iwO88?rel=0" class="more-link" data-fancybox="">OZO Player SDK: Basics</a></li>
          <li><a href="https://www.youtube.com/embed/tzjYznMRkPc?rel=0" class="more-link" data-fancybox="">OZO Player SDK: API overview</a></li>
          <li><a href="https://www.youtube.com/embed/SZxOuCEvcv4?rel=0" class="more-link" data-fancybox="">OZO Player SDK: Creating with white label applications </a></li>
        </ul>
        <h3 class="article-title">User guide</h3>
        <ul class="list-style-none">
          <li><a href="{{site.baseurl}}{%link sdk-getting-started.html%}" class="more-link">Getting started with OZO Player SDK</a></li>
          <li><a href="{{site.baseurl}}{%link sdk-using-sdk.html%}" class="more-link">Using Player SDK</a></li>
          <li><a href="{{site.baseurl}}{%link sdk-player-plugin.html%}" class="more-link">OZO Player SDK Unity plugin</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>

<section  class="section-article">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase">OZO Audio</h2>
    </div>
  <div class="row">

   <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 bg-navy">
     <div class="section-article-list">
       <h3 class="article-title">OZO+ Audio specifications</h3>
       <ul class="list-style-none">
         <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Audio_Product_Spec_Sheet.pdf" class="more-link">Download specifications</a></li>
       </ul>
        <h3 class="article-title">Demo</h3>
        <ul class="list-style-none">
          <li><a href="https://www.youtube.com/embed/O58M0M-0Ru4?showinfo=0" class="more-link" data-fancybox="">Experience the OZO difference</a></li>
        </ul>
     </div>
   </div>
  <!--/div>
  </div-->
</section>

<section  class="section-article">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase">OZO Reality</h2>
    </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 bg-navy">
      <div class="section-article-list">
        <ul class="list-style-none">
          <li><a href="/blog/announcement-ozo-reality-nab/" class="more-link">What is OZO Reality?</a></li>
          <li><a href="{{ site.baseurl }}{% link reality.html %}" class="more-link">What is the OZO Reality Platform?</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>


{% include commons/newsletter.html %}
