---
layout: default
title: OZO Live
permalink: /ozo-live-virtual-reality/specifications/
bodyClass: page-specs
meta-title: Buy OZO Live 360 VR professional broadcast solution | Nokia OZO
meta-description: OZO Live lets you broadcast immersive large-scale events in real-time 360 VR. 3D film stitching, audio recording, color correction and all.
---
{% include live-specs/hero.html %}

<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>Product Overview</h2>
        <p>OZO Live is a real-time broadcast solution that delivers live virtual reality experiences over IP.
The software runs on standard reference hardware, delivers a standard UHD or 2K video output,
and integrates seamlessly with your existing 4K broadcast equipment. Select monoscopic 2D or
stereoscopic 3D and use standard switchers, color correctors, audio mixers, and other support
gear for a full production workflow. Quick to set up, easy to use, and highly reliable, OZO Live
immerses you in an event as if it's happening around you.</p>
    </div>
  </div>
</section>

<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Benefits</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p><strong>Broadcast quality</strong></p>
                            <ul>
                              <li>HD: 1920x1080p</li>
                              <li>UHD: 3840x2160p (16:9)</li>
                              <li>UHD: 3840x1920p (2:1) letter box</li>
                              <li>UHD: 4096x4096 per eye</li>
                              <li>Custom resolution for RTMP output, up to 4096x4096</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Multiple audio formats</strong></p>
                            <ul>
                              <li>Loudspeaker 2.0, 5.1, 7.1</li>
                              <li>Binaural</li>
                              <li>Ambisonics (first order)</li>
                              <li>Pass through (8ch 48kSpS 24bit)</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Encoder support</strong></p>
                            <ul>
                              <li>Encode RTMP directly from OZO Live</li>
                              <li>Support h.264 profiles, main, baseline and high</li>
                              <li>Support GOP size</li>
                              <li>Output monitoring while streaming</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>


<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>OZO Live with built-in encoder</h2>
        <p><img src="{{site.baseurl}}/assets/img/live-specs/image1.jpg" class="img-responsive"></img></p>
    </div>
  </div>
</section>

<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>OZO Live with external encoder</h2>
        <p><img src="{{site.baseurl}}/assets/img/live-specs/image2.jpg" class="img-responsive"></img></p>
        <p>OZO Live is production format agnostic, and supports both 2D 360 and 3D 360 delivery.</p>
        <p>Real time camera switching: Use multiple OZOs with standard video switchers / Standard 4K
          video output for easy integration into your existing workflow.</p>
          <p>Production-grade reliability: Frame accurate, reliable and stable for hours upon hours at a time.</p>
          <p>Capture events large and small: Scalable multi-camera support via standard workflows to
          broadcast events of any size.</p>
    </div>
  </div>
</section>



<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Key Features</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p><strong>Video Output Formats</strong></p>
                            <ul>
                              <li>UHD (3840x2160) frame over quad-link HD-SDI at 30fps</li>
                              <li>Format options: stereoscopic 360 T/B, stereoscopic 180 L/R, monoscopic 360</li>
                              <li>Projection options: equirectangular, lambert, cube map (mono only)</li>
                              <li>RTMP encoding for live streaming to platforms, such as YouTube 360, Facebook, Huya,
etc.</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Stitch Correction Features</strong></p>
                            <ul>
                              <li>Real-time automatic and manual per-seam focus depth</li>
                              <li>Real-time convergence adjustment along a vertical seam</li>
                              <li>Real-time seam location and seam width control, per-seam</li>
                              <li>Real-time variable-width multiband blending</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Color Correction Features</strong></p>
                            <ul>
                              <li>Convenient clickable UI</li>
                              <li>Global real-time black level, white level, and gamma, per channel</li>
                              <li>Automated white level and black level matching across lenses</li>
                              <li>Per-lens manual offsets of all settings</li>
                              <li>Illumination setting</li>
                              <li>Static and temporal de-noising</li>
                              <li>Vignetting control</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>



<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>OZO Live Server Details</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                            <p><strong>Motherboard/barebone</strong></p>
                            <ul>
                              <li>Minimum 2 dual width 16-lane</li>
                              <li>one single width 4-lane</li>
                              <li>one 1-lane PCIe slots</li>
                              <li>Dual XEON CPU support</li>
                              <li>e.g. Tyan FT77C-B7079</li>
                              <li>SuperMicro 1028GQ-TR (IU)</li>
                              <li>ASUS ESC4000G3S</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>GPU</strong></p>
                            <ul>
                              <li>2 of nVIDIA Pascal based GPU cards</li>
                              <li>e.g. GTX1080, Titan-X Pascal nVidia driver v367, v370, v375 or later, installed on the
same bus lane</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>RAM</strong></p>
                            <ul>
                              <li>64GB DDR4</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Input SDI card</strong></p>
                            <ul>
                              <li>Blackmagic Decklink Mini Recorder</li>
                              <li>Blackmagic Mini Recorder 4K</li>
                              <li>SDI 4K</li>
                              <li>Blackmagic Desktop Video Drivers 10.7.x or 10.8.x</li>
                            </ul>
                        </div>

                        <div class="feature wow fadeIn">
                            <p><strong>Output SDI Card</strong></p>
                            <ul>
                              <li>AJA Corvid 88</li>
                              <li>AJA KONA 4</li>
                              <li>AJA Corvid 44 (AJA driver 12.4.x)</li>
                              <li>BlackMagic DeckLink SDI 4K</li>
                              <li>Mini Monitor 4K</li>
                              <li>Desktop Video 10.7.x or 10.8.x</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Network Card</strong></p>
                            <ul>
                              <li>Gigabit Ethernet</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Operating System</strong></p>
                            <ul>
                              <li>Ubuntu 16.04 LTS</li>
                            </ul>
                        </div>
                        <div class="feature wow fadeIn">
                            <p><strong>Case</strong></p>
                            <ul>
                              <li>2U recommended. Physical clearance for 3 dual-width, full-length GPU cards strongly
recommended (Although only 2 are currently required, future features may require more
GPU capability.)</li>
                              <li>We have also validated the 1028GQ-TR case from SuperMicro</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>




<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>Selecting Motherboards</h2>
        <p>Before you choose a motherboard, make sureit can accommodate two dual-width GPU cards.
Most manufacturers provide very detailed user manuals on their web sites: Reading them will
save you a world of pain.</p>
<p>The block diagram below helps you identify 2 x16 (16-lane) PCIe gen3 slots where the GPU cards
can sit. Additionally, you need to check the dimensions of motherboards to confirm your GPU
cards have enough physical clearance along with SDI I/O cards.</p>
<p>The following block diagram shows the bus layout of a typical dual XEON motherboard.</p>
<p><img src="{{site.baseurl}}/assets/img/live-specs/image3.jpg" class="img-responsive"></img></p>
<p>This diagram shows that three x16 (16-lane) PCIe Gen 3 slots: PCIe1, PCIe3 (on CPU #1) and
PCIe6 (on CPU #2). To maximize the performance, use PCIe slots under the same CPU: PCIe1
and PCIe3 in this case. Do not use the PCIe6 slot. Communicating with it will require the GPUs to
communicate over CPU-to-CPU channel.</p>
<p>Once you have selected the GPU cards' PCIe slots, check the layout/dimension diagram in the
user manual to verify the clearance for dual-width GPU cards and spaces for SDI card.</p>
<p><img src="{{site.baseurl}}/assets/img/live-specs/image4.jpg" class="img-responsive"></img></p>
<p>The diagram above shows that the slots for GPUs (PCIE1 and PCIE3) have enough space to
accommodate dual-width GPU cards. Since the two GPU cards will occupy the spaces for PCIE2
and 4, the only slots available for SDI cards are PCIE5 and 6.</p>
<h3>SDI Interface Cards</h3>
<p>OZO Live supports SDI interface cards from AJA and Blackmagic. The Following list shows the
supported combinations of SDI cards</p>
      <table class="table table-striped table-bordered m-b-5">
        <tr>
          <th></th>
          <th>SDI input cards</th>
          <th>SDI output cards</th>
        </tr>
        <tr>
          <th>Blackmagic input &
AJA output</th>
          <th>One of Blackmagic Mini
Recorder or Mini Recorder 4K</th>
          <th>One of AJA Corvid 88, Corvid 44 or
KONA 4</th>
        </tr>
        <tr>
          <th>Blackmagic input &
Blackmagic output</th>
          <th>One of Blackmagic Mini
Recorder or Mini Recorder 4K</th>
          <th>Blackmagic Mini Monitor 4K</th>
        </tr>
        <tr>
          <th>Blackmagic input/output</th>
          <th>Blackmagic DeckLink SDI 4K</th>
          <th></th>
        </tr>
      </table>

      <p>Please note that Blackmagic Mini Monitor 4K and SDI 4K cards do not support 59.94 or 60 fps
output format.</p>
    </div>
  </div>
</section>
