---
layout: default
title: OZO Live Bundle
permalink: /ozo-live-bundle/
meta-title: Buy OZO Live 360 VR professional broadcast solution | Nokia OZO
meta-description: OZO Live lets you broadcast immersive large-scale events in real-time 360 VR. 3D film stitching, audio recording, color correction and all.
---
{% include live-bundle/hero.html %}
{% include live-bundle/intro.html %}
{% include live-bundle/form.html %}

<section class="intro intro-gray">
  <div class="container">
    <div class="intro-title">
      <small>This discounted price offer (the “Promotion”) is available beginning August 2, 2017 and ending September 30, 2017. To be eligible for the Promotion, Customers must (i) purchase three (3) Nokia OZO+ cameras and a one (1) year license to Nokia OZO Live software in a single transaction from a Nokia sales representative or Nokia authorized reseller during the Promotion period and (ii) download and install the Nokia OZO Live software before 11:59pm PST on September 30, 2017.  Promotion offered only in countries where the Nokia OZO+ camera and the Nokia OZO Live software are available from Nokia authorized resellers. Promotion void where prohibited.  Nokia reserves the right to modify or cancel this Promotion at its discretion without notice. Additional terms and conditions in the Nokia OZO Live software license agreement apply. Contact ozosales@nokia.com for details.</small>
      <small>Promotion provided in the U.S. and Canada by Nokia USA Inc., 200 S. Mathilda Ave., Sunnyvale CA 94086, U.S.A., in China by Nokia Technologies (Beijing) Co. Ltd., Level 10, East Tower, World Financial Centre, No. 1 East 3rd Ring Middle Road, Chaoyang District Beijing 10002, P.R. China and in all other countries where the Promotion is available by Nokia Technologies Ltd., Karaportti 3, FI-02610, Espoo Finland.</small>

    </div>
  </div>
</section>
