---
layout: default
title: OZO Player SDK
permalink: /getting-started-with-ozo-player-sdk/
bodyClass: page-specs
meta-title: Get 360 VR Video Player SDK to publish & distribute VR to platforms | Nokia OZO
meta-description: OZO Player SDK is a VR playback software development kit allowing developers to quickly and efficiently build VR video applications for every major viewing platform
---
<div class="intro intro-gray">
  <div class="container">
    <div class="intro-title">
      <h2>OZO Player SDK getting started</h2>
    </div>
  </div>
</div>


<div class="intro">
  <div class="container">
    <div class="intro-title">
      <p>The OZO Player SDK enables 3D 360° video and audio content playback across all major platforms, allowing you to focus on creating unrivaled VR content. It is a true multi-platform C++ SDK enabling creation of applications for playback of stereoscopic and monoscopic 360° video with true 3D audio, with or without a head-mounted display (HMD).</p>

      <p>This document details the software and hardware requirements, installation procedure and provides a basic overview on how to use the SDK to develop your applications. For more details, please take a look at the different example applications provided.</p>
    </div>
  </div>
</div>


<div class="intro">
  <div class="container bg-gray">
    <div class="intro-title font-weight-normal">
      <p><strong>TABLE OF CONTENTS</strong></p>
      <ol>
      <li><a href="#item-1">Installing the SDK</a></li>
      <li><a href="#item-2"> SDK folder structure</a></li>
      <li><a href="#item-3"> Development requirements</a></li>
      <li><a href="#item-4"> Supported video and audio formats</a></li>
      <li><a href="#item-5"> Filename conventions</a></li>
      <li><a href="#item-6"> Recommended devices</a></li>
      <li><a href="#item-7"> Install 3rd party HMD SDKs</a></li>
      <li><a href="#item-8"> Building the sample applications</a></li>
      <li><a href="#item-9"> OZO Player App</a></li>
      <li><a href="#item-10"> Open source and third party software</a></li>
      <li><a href="#item-11"> Nokia license agreement</a></li>
      </ol>
    </div>
  </div>
</div>

<div class="intro m-t-5" id="item-1">
  <div class="container bg-gray">
    <div class="intro-title">
          <div class="text-left font-weight-normal">
            <h2 class="title-line-bottom-full">1. Installing the SDK</h2>


            <p>Installers are provided for Windows and Mac.</p>

            <p>On Windows the default install location for the SDK is:</p>
            <p class="font-weight-lighter">C:\Nokia\OZOPlayerSDK</p>

            <p>On Mac the default location is:</p>
            <p class="font-weight-lighter">Applications/Nokia/OZOPlayerSDK/</p>
          </div>
  </div>
</div>
</div>



<div class="intro m-t-5" id="item-2">
  <div class="container bg-gray">
    <div class="intro-title">
          <div class="text-left font-weight-normal">
            <h2 class="title-line-bottom-full">2. SDK folder structure</h2>


            <p>The SDK directory structure contains four directories on the highest level:</p>
            </div>
            <div class="text-left font-weight-lighter">
            <ul>
              <li>3rdParty: Contains the placeholder folders for 3rd party HMD SDKs.</li>
              <li>Documentation: Contains the official SDK documentation.</li>
              <li>OZOPlayerApp: Contains the OZO Player Application.</li>
              <li>Samples: Contains basic samples on how to use the SDK with different platforms</li>
              <li>SDK: Contains the OZO Player SDK headers and libraries, HMD implementations and a small cross platform application framework used by the OZO Player Application.</li>
            </ul>
            <p>
            If you're integrating the SDK to an existing application, then it's easiest to start from the simple example applications located in the Samples folder. Those contain only the very basic things you need to do in order to use the SDK but still demonstrate the regular flow very well.
            If you want a more complete example of an application using the SDK, then you should take a look at the OZO Player App, which includes also an user interface for browsing and selecting video experiences as well as basic control user interfaces</p>

          </div>
  </div>
</div>
</div>

{% capture content %}
<p class="font-weight-normal">Android:</p>
<ul>

<li> Android Studio 2.1 or newer, <a href="https://developer.android.com/studio/index.html" target="_blank">https://developer.android.com/studio/index.html</a></li>
<li>Android SDK 6.0.0 or newer</li>
<li>Android NDK 11c or newer</li>
</ul>
<p class="font-weight-normal">Windows:</p>

<ul>
<li>Visual Studio 2013 or 2015</li>
<li>Oculus Rift SDK and runtime if developing for Oculus Rift</li>
<li>HTC Vive SDK and runtime if developing for HTC Vive</li>
</ul>
<p class="font-weight-normal">iOS:</p>
<ul>
<li>XCode 7.3 or newer</li>
<li>iOS SDK 9.3 or newer</li>
<li>CocoaPods, <a href="https://cocoapods.org/" target="_blank">https://cocoapods.org/</a></li>
<ul>
{%endcapture%}
{%
  include tutorial/item.html
  id= "item-3"
  title= "3. Development requirements"
  content= content
%}



{% capture content %}
<p class="font-weight-normal">Video</p>
<ul>
  <li>H.264 / AVC up to a single UHD stream on mobile 2 x UHD on Windows. </li>
  <li> H.265 / HEVC streams on Windows and Android</li>
</ul>

<p class="font-weight-normal">Audio</p>
<ul>
<li>AAC-LC in 1.0, 2.0, 4.0, 5.0, 5.1, 7.0, and 8.0 channel configurations at 48kHz</li>
<li>Advanced 3D spatial OZO Audio format. It is the audio technology included in MP4VR clips created by OZO 				   Creator.</li>
<li>First order Ambisonics are supported in the format they are exported from OZO Creator.</li>
</ul>
<p class="font-weight-normal">Streaming</p>
<ul>
 <li>MPEG-DASH Live profile (urn:mpeg:dash:profile:isoff-live:2011). Other MPEG-DASH profiles are partly supported 		   when using SegmentTemplate and/or SegmentTimeline.</li>
<li>HLS (HTTP Live Streaming): H.264 & AAC packaged in MPEG-2 TS, preliminary support for fMP4</li>
<li>RTP: H.264 & AAC packaged in MPEG-2 TS</li>
</ul>

{%endcapture%}
{%
  include tutorial/item.html
  id= "item-4"
  title= "4. Supported video and audio formats"
  content= content
%}



{% capture content %}
<p class="font-weight-normal">Videos with a single video track:</p>
<ul>
<li>"_TB." for top-bottom stereoscopic with left eye content on top and right eye content on bottom</li>
<li>"_BT." for top-bottom stereoscopic with right eye content on top and left eye content on bottom</li>
<li>"_LR." for left-right stereoscopic</li>
<li>"_RL." for right-left stereoscopic</li>
<li>"_M." for monoscopic</li>
<li>"_ID." for regular 2D non-360 video</li>
<li>"_S180." for 180 degree stereo videos</li>
</ul>

<p class="font-weight-normal">Videos with two video tracks (not valid for streaming
<ul>
<li>"_2LR." for videos with the left eye as the first track and right eye as the second</li>
</ul>

<p>For offline files the name should be at the end of the filename before the filename extension, i.e. example_file_TB.mp4. </p>
<p>For streams it should be in the MPD filename, e.g. http://192.168.0.0/dash/stream_TB.mpd or if the used server allows it, given as a parameter using ?, e.g. http://192.168.0.0/dash/stream.mpd?_TB. . Please note that giving it as a parameter might have some unwanted effects on the server side.</p>

<p>Videos which don't follow the convention are assumed to be monoscopic equirectangular panoramas.</p>


{%endcapture%}
{%
  include tutorial/item.html
  id= "item-5"
  title= "5. Filename conventions"
  content= content
%}



{% capture content %}
<p>Criteria for recommendation is the ability to playback a single UHD streams at 30 frames per second either from a local file or from a DASH stream without performance issues. The SDK is compatible with lower end as well but the highest quality experiences may not function smoothly or heat the device quite fast.</p>

<p class="font-weight-normal">Android</p>
<ul>
<li>Galaxy S7</li>
<li>Galaxy S7 Edge</li>
<li>Pixel & Pixel XL</li>
</ul>

<p>Devices with Android 6.0.0 or newer and hardware equivalent or greater of the Galaxy S7 should also work.
For phones with lower performance, the video files should be scaled down to match the hardware specification. Also with adaptive bitrate streaming, the SDK may block certain resolutions on certain devices.</p>

<p class="font-weight-normal">PC</p>
<ul>
<li>Windows 10</li>
<li>NVIDIA GPUs: GTX 970 equivalent or greater</li>
<li>AMD GPUs: RX480 equivalent or greater</li>
<li>Intel i5-4590 equivalent or greater</li>
<li>8GB+ RAM</li>
</ul>
<p class="font-weight-normal">iOS</p>
<ul>
<li>iPhone 6S or newer with iOS 9.3 Older devices may work with reduced performance</li>
</ul>


{%endcapture%}
{%
  include tutorial/item.html
  id= "item-6"
  title= "6. Recommended devices"
  content= content
%}


{% capture content %}
<p>If you want to use an HMD device with the samples or the reference player, you need to download the HMD SDKs from the vendor websites. After downloading them, you should extract the zip files into the correct folders.
Currently the OZO Player SDK has example implementation for Oculus Rift, GearVR, Google DayDream/GVR and HTC Vive / OpenVR. There's also preliminary support for Windows Mixed Reality immersive headsets. The SDK is not yet UWP compatible so Windows MR support is limited to development and testing. The SDK has been tested with the HMD SDKs versions visible in the folder paths.</p>

<p class="font-weight-normal">Oculus Rift</p>
<p>3rdParty/ovr_sdk_win_1.14.0_public<br/>
After extracting the zip, you should run the fix_oculus.bat which will rebuild the Oculus SDK static library to fix a runtime issue with the latest Oculus SDK release.</p>

<p class="font-weight-normal">HTC Vive</p>
<p>3rdParty/openvr-1.0.7</p>

<p class="font-weight-normal">GearVR</p>
<p>3rdParty/ovr_sdk_mobile_1.5.0</p>

<p class="font-weight-normal">Daydream (GVR) on Android</p>
<p>3rdParty/gvr-android-sdk-1.60.1</p>

<p>To install the GVR SDK for iOS, you need to have CocoaPods installed and then run the command "pod install --verbose" in the build folder for the project that you want to build.</p>

<p class="font-weight-normal">For the iOS sample the folder is:</p>
<p>Samples/VideoPlayback/IOS/GVR/</p>

<p class="font-weight-normal">And the for the iOS version of the OZO Player App the folder is:</p>
<p>OZOPlayerApp/Build/IOS/GVR/</p>


{%endcapture%}
{%
  include tutorial/item.html
  id= "item-7"
  title= "7. Install 3rd party HMD SDKs"
  content= content
%}


{% capture content %}
<p class="font-weight-normal">Android</p>

<p>The Android sample apps are located under: Samples/VideoPlayback/Android.<br/>
If you are building the GearVR sample, you need to place your oculus signatures in the folder GearVR/assets/.
And if you have copied the HMD SDKs as instructed above, open the project in Android Studio and build</p>


<p class="font-weight-normal">Windows</p>

<p>The Windows sample apps are located under Samples/VideoPlayback/Windows<br/>
If you have installed the HMD SDKS as instructed above, open the project in Visual Studio and build</p>


<p class="font-weight-normal">iOS</p>
<ol>
<li>Go to the Sample project folder using Terminal (Samples/VideoPlayback/IOS/GVR/)</li>
<li>Run "pod install --verbose" to download GVR SDK CocoaPods If you do not have Cocoapods installed, see <a href="https://cocoapods.org/" target="_blank">https://cocoapods.org/</a></li>
<li>Open VideoPlayback workspace and build application normally</li>
</ol>

{%endcapture%}
{%
  include tutorial/item.html
  id= "item-8"
  title= "8. Building the sample applications"
  content= content
%}


{% capture content %}
<p>The SDK comes with a cross platform application which uses the SDK to provide basic playback functionality for both offline and streaming videos as well as a user interface running inside HMD for selecting and controlling the playback. The UI includes a virtual space where thumbnails for available videos are drawn. You may customize the app for your own needs either by just quickly changing the graphics or by doing larger modifications.</p>


<p>OZO Player App Build Instructions</p>

<p>The Windows sample apps are located under Samples/VideoPlayback/Windows<br/>
If you have installed the HMD SDKS as instructed above, open the project in Visual Studio and build</p>

<p>If you want to build the app using an HMD, you need to first follow the steps in the "Install 3rd party HMD SDKs" chapter of this document. After copying the correct SDKs, you will find project files for each of the platforms under OZOPlayerApp/Build. If you're building the app for GearVR, you can copy your oculus signature files under OZOPlayerApp/Assets</p>

<p>If you're using GVR on iOS, you need to install the GVR SDK using CocoaPods</p>
<ol>
<li>Go to the project folder using Terminal (OZOPlayerApp/Build/IOS/GVR/)</li>
<li>Run "pod install --verbose" to download GVR SDK CocoaPods If you do not have Cocoapods installed, see <a href="https://cocoapods.org/" target="_blank">https://cocoapods.org/</a></li>
<li>Open the generated XCode workspace</li>
</ol>

<p>&nbsp;</p>
<p class="font-weight-normal">OZO Player App Use & Customization</p>

<p>The app will list all the video files from the provided target folder.<br/>
The default target folders are:</p>

<p class="font-weight-normal">Android</p>

<p>The private folder for the application</p>

<p class="font-weight-normal">iOS</p>

<p>The assets folder</p>

<p class="font-weight-normal">Windows:</p>

<p>If you are using the release build of the app outside Visual Studio, then the default location is a folder named storage on the same level as the application executable.<br/>
If you are running a debug build of the app in Visual Studio, the default location is under Samples/Assets<br/>
If you are running a release build of the app in Visual Studio, the default location is a folder named storage on the same level as what is set as your Visual Studio root execution path (by default the location of the project file)</p>

<p>To change the default location, you may edit the OZOPlayerApp.cpp</p>
<pre>
const char* OZOPlayerApp::getApplicationStoragePath() const
{
#ifdef NDEBUG
    return ".\\Storage\\";
#else
    return "..\\..\\..\\Samples\\Assets\\";
#endif
}
</pre>
<p>
For streaming, you should create a file with the filename extension .playlist and have the stream URL as a single line of text inside that file. E.g. http://192.168.0.1/files/video.mpd<br/>
The app will show the videos as a collection of thumbnails. To give a video a thumbnail, create a 400x400 color PNG file which has the same name as the video file (except for the filename extension which should be .png). If no thumbnail is provided, then a default image will be used as the thumbnail.<br/>
The graphics used by the app are stored under OZOPlayerApp/assets. From there you can change the branding logos and the background image.<br/>
Also you should remember to rename the application and change the application ID as needed.<br/>
</p>


{%endcapture%}
{%
  include tutorial/item.html
  id= "item-9"
  title= "9. OZO Player App"
  content= content
%}


{% capture content %}
<p>This release includes certain open source and third party software. Please see <a href="https://ozo.nokia.com/ozo_en/ozo-player-sdk-licensing-terms">https://ozo.nokia.com/ozo_en/ozo-player-sdk-licensing-terms</a> for applicable copyright and other notices, permissions and acknowledgements.</p>


{%endcapture%}
{%
  include tutorial/item.html
  id= "item-10"
  title= "10. Open source and third party software"
  content= content
%}



{% capture content %}
<p>Copyright © 2016-2017 Nokia Technologies Ltd. and/or its subsidiary(-ies).</p>
<p>This OZO Player SDK software, including the accompanying documentation, is protected by copyright controlled by Nokia Technologies Ltd. All rights reserved. Unless you have signed an individually negotiated license agreement with Nokia, the license terms applicable to your use of this software are available at: <a href="https://ozo.nokia.com/ozo_en/ozo-player-sdk-licensing-terms">https://ozo.nokia.com/ozo_en/ozo-player-sdk-licensing-terms</a>. If you have signed an individually negotiated license agreement with Nokia, the terms contained in that license agreement shall govern your use of this software.</p>


{%endcapture%}
{%
  include tutorial/item.html
  id= "item-11"
  title= "11. Nokia license agreement"
  content= content
%}


{% include commons/newsletter.html %}
