---
layout: default
title: OZO Player SDK
permalink: /ozo-player-sdk-unity-plugin/
bodyClass: page-specs
meta-title: Get 360 VR Video Player SDK to publish & distribute VR to platforms | Nokia OZO
meta-description: OZO Player SDK is a VR playback software development kit allowing developers to quickly and efficiently build VR video applications for every major viewing platform
---
<div class="intro intro-gray">
  <div class="container">
    <div class="intro-title">
      <h2>OZO Player SDK Unity Plugin</h2>
    </div>
  </div>
</div>


<div class="intro">
  <div class="container">
    <div class="intro-title">
      <p>Welcome to use the OZO Player SDK with Unity 3D engine! The purpose of the plugin is to enable easier creation of even more interactive experiences on top of and with 3D 360 video. The platform independency is provided by using Unity's native VR support. The OZO Player SDK Unity Plugin provides a C# interface to the native OZO Player SDK for playback of 3D 360 video and audio inside the Unity game development platform.</p>
    </div>
  </div>
</div>


<div class="intro">
  <div class="container bg-gray">
    <div class="intro-title font-weight-normal">
      <p><strong>TABLE OF CONTENTS</strong></p>
      <ol>
      <li><a href="#item-1">Getting started</a></li>
      <li><a href="#item-2">Common project settings</a></li>
      <li><a href="#item-3">Sample application</a></li>
      <li><a href="#item-4">Installing the Plugin SDK</a></li>
      </ol>
    </div>
  </div>
</div>

{% capture content %}

<p>The OZO Player Unity Plugin is provided as a separate zip-file within the plugin. In the extraction folder you can find three things: this document, a OZOPlayerSDK.unitypackage, and a full application project example OZOPlayerApp (in its own folder). It is possible to take application project as a base and modify to suit your needs. In case you have an existing application for which you just need to add the VR video, you can install the "OZOPlayerSDK.unitypackage" to the project.</p>

<p class="font-weight-normal">Development requirements</p>
<ul>
<li>Unity 5.6 or newer</li>
<li>Visual Studio 2015 runtime (for the Windows executable)</li>
<li>XCode 8 or newer (for MacOS and iOS development)</li>
</ul>

<p class="font-weight-normal">Tested on</p>
<ul>
<li>HTC Vive
<li>Oculus Rift
<li>Google Daydream (Google's Pixel Phone)
<li>Samsung GearVR
<li>iPhone 6s (non-VR)
<li>MacOS 10.11.6 (non-VR)
</ul>


{%endcapture%}
{%
  include tutorial/item.html
  id= "item-1"
  title= "1. Getting started"
  content= content
%}

{%capture content%}

<p>These settings should be set for your project, depending on your target platform. In the Sample Application these are set for you.</p>

<p class="font-weight-normal">File/Build Settings.../Player Settings..</p>
<ul>
<li>Other Settings, Rendering, Set 'Virtual Reality Supported' true

<li>PC<br/>
	<span class="m-l-5">- x64</span><br/>
	<span class="m-l-5">- Add Vive/Oculus support and sort them if needed</span><br/>

<li>Android<br/>
	<span class="m-l-5">- API level 24+,</span><br/>
	<span class="m-l-5">- No multi threaded rendering</span><br/>
	<span class="m-l-5">- OpenGLES3</span><br/>

<li>MacOS<br/>
	<span class="m-l-5">- OpenGLCore (Metal not supported yet)</span>

<li>iOS<br/>
	<span class="m-l-5">- OpenGLES3 (Metal not supported yet)</span><br/>
 	<span class="m-l-5">- Target Minimum iOS Version: 9.1</span>
</ul>

{%endcapture%}
{%
  include tutorial/item.html
  id= "item-2"
  title= "2. Common project settings"
  content= content
%}


{%capture content%}
<p>The sample application can be used as a more advanced example, or even as a basis for your own release application. You can customize the Sample Application with your branded graphics, videos, and custom UI layout.</p>
<ol>
	<li>Open the project in Unity (/Unity/OZOPlayerAppUnity)</li>
	<li>Open Main scene from Assets/Scenes/main.scene</li>
	<li>Add a video to project's StreamingAssets – folder</li>
	<li>In the Scene editor select OZOPlayer and fill in the Licence Id property</li>
	<li>Click Play to run the Application in the Editor</li>
</ol>

<p class="font-weight-normal">Notes</p>
<ul>
<li>Video files are automatically discovered from Application.streamingAssetsPath and 												   Application.persistentDataPath</li>
<li>Videos are organized in categories based on folder name</li>
<li>Video compilations can be added by creating a text file with .playlist extension, consisting of one line for each                 	   video URI entry</li>
<li>Video streams can be added using the same .playlist format and "http://"-URI scheme</li>
<li>Video thumbnails must have the same name as video files with .png, .jpg or .jpeg extension</li>
<li>It is also possible to specify a video collection by creating Resources folder, right clicking on the folder in Unity 		   and selecting: Create -> VideoCollection</li>
<li>UI has auto selection enabled by default, allowing UI elements to be selected by looking the element for 2 					   seconds. Auto select is disabled if select button is pressed.</li>
<li>Various controllers are also supported, but you need to download their representative Plugins into your projects 	   to enable those.</li>
</ul>

<p class="font-weight-normal">Examples:</p>

<li>HTC Vive: <a href="https://www.assetstore.unity3d.com/en/#!/content/32647" target="_blank">https://www.assetstore.unity3d.com/en/#!/content/32647</a><br/>
	<span class="m-l-5">- To enable Vive controller [CameraRig].prefab from the SteamVR Plugin is required in the scene.</span><br/>
	<span class="m-l-5">- Find [CameraRig]/Camera (head)/Camera (eye), and disable its camera</span><br/>
	<span class="m-l-5">- Find [CameraRig]/Controller (right), and set CameraRoot as origin</span>
</li>
<li>Oculus Rift: <a href="https://developer.oculus.com/downloads/" target="_blank">https://developer.oculus.com/downloads/</a> (you need both Oculus Utilities & Oculus Avatars SDK)<br/>
	<span class="m-l-5">- To enable Rift Touch LocalAvatar.prefab from the Oculus Avatar package is required in the scene.</span>
</li>
<li>Google Daydream SDK: <a href="https://developers.google.com/vr/unity/download" target="_blank">https://developers.google.com/vr/unity/download</a><br/>
	<span class="m-l-5">- To enable controller GvrControllerMain.prefab from the GoogleVRForUnit package is required in the scene.</span>
</li>
<p>If correct plugins have been imported to sample project and prefabs haven been added to the scene, right hand controller is automatically used for aiming.</p>

{%endcapture%}
{%
  include tutorial/item.html
  id= "item-3"
  title= "3. Sample application"
  content= content
%}




{%capture content%}
<p>When you want to add the Plugin to an existing application or want to start from a clean project you can just install the Plugin as a unitypackage.</p>

<p>Video</p>
<ol>
<li>Open a project in Unity (3D)</li>
<li>Assets/Import Package/Custom Package...</li>
<li>Select the provided unitypackage. (example: OZOPlayerSDKUnity.unitypackage)</li>
<li>Then you have some options<br/>

	<span class="m-l-5">- Import everything just to try it out</span>
    <ol>
		<li>Open Main scene from Assets/OZOPlay/Examples/Scenes/</li>
		<li>Select OZOPlayer-gameobject, set "License Id"-property (com.companyname.appname)</li>
		<li>Add an video to project's StreamingAssets – folder</li>
		<li>To Player.PlayControl.VideoFiles - array, set correct filename asset://.mp4</li>
		<li>Click play from the editor</li>
		<li>Tap with a mouse, A-button or a touchpad</li>
		<li>See the video play</li>
  </ol>

	<span class="m-l-5">- Import just the required parts</span>
    <ol>
		<li>Deselect /OZOPlayerSDK/Examples, and /Streaming Assets</li>
		<li>Drag OZOPlayer and PlayController from the /OZOPlayerSDK/Prefabs folder</li>
		<li>Select OZOPlayer</li>
		<li>Set "License Id"-property (com.companyname.appname)</li>
		<li>Drag the 'OZOPlayer' GameObject to the PlayController's 'Player View'-property</li>
		<li>Set some 360 video content to the 'Video Files' array</li>
		<li>See the video play<br/>
			<span class="m-l-5">- Supported prefixes</span>
        <pre>
        	asset:// = Streaming Assets folder
        	storage:// = persistentDataPath
        	http:// = online video or a dash stream</pre>
    </li>

		<li>Make sure that your default camera is set to clear only the depth, and the Depth is for example 1 (The 						OZOView cameras should be rendered on the bottom, and custom things on top with your own camera)</li>
    </ol>
  </li>
<li> On building for the device
  <ul>
  <li>iOS builds with XCode<br/>
  	<span class="m-l-5">- Add Embedded Binary: "OZOPlayerUnity.framework"</span>
  </li>
  </ul>
</li>
</ol>
<p>Additional notes</p>

<p>The PlayControl GameObject included in the package is just a simple example, and the developer is encouraged to create their own by following that as an example, or see the more advanced one from the more full example application.<br/>
The OZOPlayer Gameobject holds the interface to the native SDK, and normally code should not be modified. Follow Sample Applications's example and just use the interface to access SDK.
The OZOPlayer Gameobject has some values in addition to License Id, that you can customize. For Mixed reality use cases, you might be interested in adjusting camera depth and clear parameters. There are some example materials also provided for depth and greenscreen enabled use cases. Also the rendered area can be adjusted with a clipping rectanges. You can specify multiple rectanges that can be used to render just a portion of the video, and rendering something else for the background, for example.</p>
{%endcapture%}
{%
  include tutorial/item.html
  id= "item-4"
  title= "4. Installing the Plugin SDK"
  content= content
%}


{% include commons/newsletter.html %}
