---
layout: default
title: OZO Player SDK
permalink: /ozo-player-sdk-develop-virtual-reality-apps/specifications/
bodyClass: page-specs
meta-title: Get 360 VR Video Player SDK to publish & distribute VR to platforms | Nokia OZO
meta-description: OZO Player SDK is a VR playback software development kit allowing developers to quickly and efficiently build VR video applications for every major viewing platform
---
{% include sdk-specs/hero.html %}

<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>Develop VR apps with ease. Featuring experiences that awe.</h2>
        <p>OZO Player software development kit (SDK) enables developers to quickly and efficiently add VR and
mixed reality playback to their apps across major viewing platforms and devices, including Oculus Rift, HTC
Vive, Samsung Gear VR, Google Daydream and Cardboard, and more. </p>
<p>The OZO Player SDK supports all standard video and 360 video formats, as well as best-in-class OZO VR
format extensions, ensuring that audiences can experience VR the way creators intended. Also, with an
available Unity plugin and Mixed Reality API, developers have even more creative freedom.</p>
    </div>
  </div>
</section>

<section class="two-columns-info">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 bg-light">
        <h2>BENEFITS</h2>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-6 column1 bg-light">
        <h4>Platform Independence</h4>
        <p>Simplify the process of building your VR apps across major VR
platforms with OZO Player SDK’s single unified software
interface.</p>
        <h4>Highest Quality Playback </h4>
        <p>OZO Player SDK supports 3D 360 video with 4K resolution per
eye and greater, as well as true 3D audio with full head rotation.</p>
      <h4>Reference Applications </h4>
      <p>The OZO Player SDK comes with feature-rich reference
applications for each of the supported platforms. Use this app
right out of the SDK or extend upon the flexible user interface
as a starting point to accelerate your development efforts.</p>

      </div>

      <div class="col-md-6 column2 bg-light">
        <h4>Flexible Experiences </h4>
        <p>Use the OZO Player SDK to deliver 360 playback in headmounted
displays or in handheld mode for phones and tablets
and even within your existing video apps. The playback engine
supports all major video file delivery methods including local,
live streaming or VOD and can playback any standard VR video
content.</p>
          <h4>Unity Plugin </h4>
          <p>Bring your VR content into the Unity Game Engine with the
available plugin to create even more interactive and immersive
experiences. </p>
          <h4>Mixed Reality API  </h4>
          <p>Our built-in API allows the programmer to integrate mixed
reality experiences into your VR content.</p>
      </div>
    </div>
  </div>
</section>

<section class="intro">
  <div class="container">
    <div class="intro-title">
        <h2>KEY FEATURES</h2>
        <p><img src="{{site.baseurl}}/assets/img/sdk-specs/image1.jpg" class="img-responsive"></img></p>

    </div>
  </div>
</section>

{% include sdk/specs.html noViewMore=true noTitle=true %}
