<section id="showcase-calling" class="bg-cover">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <h2>Calling all OZO Creators!</h2>
          <p>Let us know about your VR productions and we can help promote it.</p>
          <a href="#" class="btn btn-transparent btn-flat">SHARE WITH US</a>
        </div>
      </div>
    </div>
</section>

<section id="showcase-interested">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col-lg-offset-6 col-md-offset-6">
          <h2>interested in ozo?</h2>
          <p>OZO, the world's first VR camera bulit for professionals, is available today.
          Buy or rent from a reseller, purchase online from Nokia, or talk to the OZO team.</p>
          <a href="#" class="btn btn-transparent btn-flat">CONTACT US</a>
          <a href="#" class="btn btn-transparent btn-flat">FIND A RESELLER</a>
          <a href="#" class="btn btn-primary btn-flat">BUY NOW</a>
        </div>
      </div>
    </div>
</section>
