<div class="col-md-4">
  <img src="{{ site.baseurl }}/assets/img/{{ include.img }}" class="img-responsive" alt="{{ include.title }}"></img>
  <p class="created-with-ozo-title">{{ include.title }}</p>
  <p class="created-with-ozo-subtitle">{{ include.subtitle }}</p>
  <p class="created-with-ozo-content">{{ include.content }}</p>
</div>
