<section id="showcase-created-with-ozo" class="created-with-ozo m-b-4">
  <div class="container">
    <h2 class="text-center">Created with OZO</h2>
    <p class="m-b-4 text-center">Come explore OZO Reality in person at one of our upcoming events</p>
    <div id="showcase-created-with-carousel" class="carousel slide">
      <ol class="carousel-indicators">
          <li data-target="#showcase-created-with-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#showcase-created-with-carousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
            {% include showcase/created-with-ozo-items.html %}
        </div>
        <div class="item">
            {% include showcase/created-with-ozo-items.html %}
        </div>
      </div>
    </div>
  </div>
</section>
