<div class="col-md-3 featured-item">
  <div class="featured-image">
    <img class="img-responsive" src="{{ site.baseurl }}/assets/img/{{ include.img }}" alt="{{ include.title }}"></img>
  </div>
  <div class="featured-content-wrapper">
    <p class="featured-title">{{ include.title }}</p>
    <p class="featured-subtitle">{{ include.subtitle }}</p>
    <p class="featured-content- m-b-0">{{ include.content }}</p>
    <p class="read-more-inside">
      <a href="#">Read more</a>
    </p>
    <p class="m-b-0 featured-highlight">HIGHLIGHTS:</p>
    <p class="featured-content">
      {{ include.highlight }}
    </p>

  </div>
</div>
