<section id="showcase-experiences">
  <div class="container">
    <h2 class="text-center title-line-bottom m-b-4">ALL EXPERIENCES</h2>
    <div class="featured-items">
            {% include showcase/experience-items.html %}
    </div>

    <div class="text-center">
      <a href="#" class="btn btn-primary">View all</a>
    </div>

  </div>
</section>
