<section id="showcase-featured" class="bg-white">
  <div class="container">
    <h2 class="text-center">
        Created with OZO 
    </h2>
    <div class="featured-items">
            {% include showcase/elements/featured-items.html %}
    </div>

  </div>
</section>
