
<section id="showcase-hero" class="section-table paralax-bg">
    <div class="container">
        <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                    <h2 class="paralax-title">OZO Showcase</h2>
                    <h2>
                        Everyday we're discovering new ways virtual reality creators like you are using OZO to capture and tell stories in ways never before possible. Use these examples from some of the world's most creative minds as foundation and fuel for how OZO can help bring your imagination to life in VR.
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>
