<section id="showcase-people-saying" class="bg-white">
  <div class="container">
    <h2 class="text-center">
        What people are saying
    </h2>
    <div class="featured-items">
            {% include showcase/elements/peoples-saying.html %}
    </div>

  </div>
</section>
