<!--Testimonials-->
<section class="testimonials" id="showcase-testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        <h1 class="text-center wow slideInDown">Testimonials</h1>
                        <h5 class="text-center wow slideInDown">What people are saying</h5>

                    </div>
                </div>

                <div id="showcase-testimonial-carousel" class="carousel slide">
                  <ol class="carousel-indicators">
                      <li data-target="#showcase-testimonial-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#showcase-testimonial-carousel" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner testimonial-list">
                          <div class="item active">
                            {% include showcase/testimonial-items.html caret=true %}
                          </div>
                          <div class="item">
                            {% include showcase/testimonial-items.html caret=false %}
                          </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p class="testimonial-text"><span class="text-quoted">One of the things that is exciting about OZO Player SDK is that it really does provide all of the tools that you need for 360. You can have mono, you can have stereo, and of course you can have surround.</span> | <a href="#" class="text-info">WATCH</a> </p>
                    </div>
                  </div>


            </div>
        </div>
    </div>
</section>
