<div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">
    <div class="testimonial">
      <div class="testimonial-avatar">
        <img src="{{ site.baseurl }}/assets/img/{{include.img}}" alt="{{include.title}}"></img>
      </div>
        <div class="testimonial-information">
            <span>{{include.title}}</span>
            <span>{{include.subtitle}}</span>
        </div>
        {% if include.caret %}
        <div class="testimonial-caret">
          <span class="caret"></span>
        </div>
        {% endif %}

    </div>
</div>
