<!--Features-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeInDown">
                        <h1>Specifications</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow slideInLeft">
                            <p>Capture</p>
                            <p>Full 3D audio capture with 4 or more microphones</p>
                            <p>Spatial 360 audio capture with 3 or more microphones</p>
                            <p>Spatial audio capture with only 2 microphones</p>
                            <p>Audio focus technology enables accentuating sounds in one direction while reducing ambient sounds and background noise</p>
                        </div>
                        <!--Feature-->
                        <div class="feature wow slideInRight">
                            <p>Experience</p>
                            <p>3D audio experience optimized for headphones and spatial audio playback systems</p>
                            <p>Highly efficient 3D audio distribution format</p>
                            <p>Low latency 3D audio playback for VR devices supporting head tracking</p>
                            <p>High quality stereo playback for devices without OZO Audio playback support</p>
                        </div>
                        <!--Feature-->
                        <div class="feature wow slideInLeft">
                            <p>Support</p>
                            <p>Leverages widely supported AAC codec technology</p>
                            <p>Future proof & compatible with leading VR experiences</p>
                            <p>Manufacturers are supported in technology evaluation and integration by OZO Audio team with more than 20 years of experience with mass-produced spatial audio products</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>