<section class="intro bg-gray" id="sdk-intro">
  <div class="intro-title">
    <div class="container">
      <h1 class="wow slideInLeft">OZO PLAYER SDK</h1>
      <h2 class="wow slideInLeft">Consistent experiences across viewing platforms</h2>
      <p class="wow slideInRight">OZO Player SDK is a VR playback solution that allows you to publish and distribute VR content through your own app to any major viewing platform in a way that ensures everyone in your audience experiences the same thing. </p>
    </div>
  </div>

</section>
