<!--Worlflows-->
<section id="audio-workflow">
    <div class="container-fluid">

                <div class="row ">
                    <div class="equal-height-container workflow">
                        <div class="equal-height-item col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info pull-right">
                            <div class="container-right-half">

                                <div class="content-table">
                                    <div class="content-table-cell">
                                        <div class="col-xs-12">
                                            <h1 class="wow slideInRight">Multiple platforms, one Interface:</h1>
                                            <p class="wow slide fadeInDown">A single, unified development interface that lets you distribute VR content to the broadest footprint of devices and ensure a unified playback experience.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="equal-height-item col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg audio-3 wow zoomIn pull-left" >
                            <div class="container-left-half ">

                            </div>
                        </div>



                    </div>


                </div>
    </div>


        {% include commons/get-ozo-single.html %}
<div class="container-fluid">

          <div class="row ">
              <div class="equal-height-container workflow">

                  <div class="equal-height-item col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info pull-left">
                      <div class="container-left-half">

                          <div class="content-table reverse">
                              <div class="content-table-cell">
                                  <div class="col-xs-12">
                                      <h1 class="wow slideInLeft">Mixed reality made easy:</h1>
                                      <p class="wow slide fadeInDown">Be more expressive with your content with an unparalleled sense of presence in virtual, augmented, or mixed reality. With OZO Player SDK, it’s simple to insert synthetic content with true volume and depth into your OZO-captured videos.</p>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="equal-height-item col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg audio-2 wow zoomIn pull-right" >
                      <div class="container-right-half ">

                      </div>
                  </div>


              </div>


          </div>


                          <div class="row ">
                              <div class="equal-height-container workflow">
                                  <div class="equal-height-item col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info pull-right">
                                      <div class="container-right-half">

                                          <div class="content-table">
                                              <div class="content-table-cell">
                                                  <div class="col-xs-12">
                                                      <h1 class="wow slideInRight">You control the experience: </h1>
                                                      <p class="wow slide fadeInDown">Deliver superior audio and video quality with OZO Audio and ambisonics support, customizable video outputs to deliver up to 4K per eye resolution, 60fps and both stereoscopic and monoscopic options. </p>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                                  <div class="equal-height-item col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg audio-3 wow zoomIn pull-left" >
                                      <div class="container-left-half ">

                                      </div>
                                  </div>



                              </div>


                          </div>

</div>
</section>
