
<nav class="navbar page-menu-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-toggle" data-toggle="collapse"
               data-target="#page-menu-collapse">
                <span class="icon icon-bar icon-3x"></span>
            </a>
            <span class="navbar-brand">Experience</span>
        </div>
        <div class="collapse navbar-collapse" id="page-menu-collapse">
            <ul class="nav navbar-nav pull-right page-menu">
                <li><a href="#audio-overview">Overview</a></li>
                <li><a href="#audio-testimonials">Testimonials</a></li>
                <li><a href="#audio-specs">Specs</a></li>
                <li><a href="/contact-sales-marketing"><span class="get-now">Contact us</span></a></li>
            </ul>

        </div>
    </div>
</nav>
