<section class="intro intro-navy">
  <div class="intro-title">
    <div class="container">
      <p class="wow fadeIn">Transformative OZO Reality experiences depend on life-like, spatial 360° audio. It’s why we built OZO+ with eight microphones and the ability to produce highest quality spatial audio, OZO Audio, that can be played by OZO Player SDK. Together they create an unparalleled sense of presence with best-in-class spatial audio.

        <p class="wow fadeIn">To drive a world of OZO Reality, we are now licensing OZO Audio capture technologies to OEMs and contract manufacturers to further our mission of increasing access to transformative VR experiences. It’s a perfect fit for various kinds of devices and form factors, including smartphones, DSLR cameras, VR cameras, and wearable devices.
        </p>
    </div>
  </div>
</section>


<!--Worlflows-->
<section id="audio-workflow">
    <div class="container-fluid">
      {%
          include commons/full-row-left.html
          bgClass="bg1"
          title="A superior audio experience"
          content="Advanced psychoacoustic technology allows sound to be captured and played back just like you would hear it in real life, transporting you and amplifying your experiences in every direction. Audio Focus mode lets you accentuate the right sounds you need while reducing ambient sounds or background noise."
       %}
       {%
           include commons/full-row-right.html
           bgClass="bg2"
           title="Easily fits into any device"
           content="Built with modern industrial design in mind and requiring a minimum of two microphones, OZO Audio is adaptable to virtually any form factor and is the ideal solution for manufacturers looking to differentiate through world-class immersive 3D audio."
        %}
        {%
            include commons/full-row-left.html
            bgClass="bg3"
            title="Virtual reality ready"
            content="Also used in the world-class OZO+, OZO Audio capture technology delivers on immersiveness, making any device 100% ready for the kinds of music and sound experiences that move consumers."
         %}

    </div>
</section>
