<section id="audio-panorama" class="audio panorama-internal">
  <div class="panorama" data-pano="{{ site.baseurl }}/assets/img/audio/pano.jpg">
    <div class="container  main-content">
      <div class="panorama-wrapper">
        <div class="panorama-content">
          <div class="panorama-title">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_AUDIO_050817.png" alt="OZO Audio" id="audio-overview">
              <h2>Music makes the world go round. </h2>
          </div>


        </div>
        <div class="panorama-float-bottom-right row">
           <div class="col-xs-3 col-sm-2">
             <img src="{{site.baseurl}}/assets/img/360-icon.png" alt="360" class="logo-360"></img>
           </div>
           <div class="col-xs-9 col-sm-10">
           <p class="font-weight-lighter min-56">
             <a data-fancybox="" href="https://www.youtube.com/watch?v=O58M0M-0Ru4" class="more-link font-weight-bold">
              Experience OZO Audio for yourself.
              </a>
           </p>
           {%comment%}
           <p class="visible-md visible-lg"><small>Click and drag to experience 360 photo</small></p>
           {%endcomment%}
           </div>

        </div>

      </div>
    </div>

  </div>
</section>
