<!--Features-->
<section class="features" id="audio-specs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Specifications</h1>
                    </div>

                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                          <p>Scalable solution for various product and microphone configurations </p>
                          <p>Spatial audio capture made possible with only 2 microphones </p>
                          <p>Spatial 360 audio capture for products with 3 microphones </p>
                          <p>Full 3D audio capture for products with 4 or more microphones </p>
                          <p>Efficient OZO Audio distribution format and support for a variety of alternatives (binaural, ambisonics, 5.1 etc)</p>
                          <p>Universal format compatibility: High-quality stereo playback in devices without native OZO Audio playback support</p>
                          <p>Content sharing: Compatible with leading social media VR experiences </p>
                          <p>OZO Audio Focus: Emphasize desired sound sources while capturing, and attenuate noise and ambient sounds</p>
                        </div>
                        <!--Feature-->
                        <div class="feature">
                            <p><a href="https://ozo.nokia.com/media/custom/upload/OZO_Audio_Product_Spec_Sheet.pdf" class="btn btn-primary reverse wow fadeInUp">View more</a></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
