<!--Testimonials-->
<section class="testimonials" id="audio-testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        {% comment %}
                        <h1 class="text-center wow fadeIn">Testimonials</h1>
                        {% endcomment %}
                        <h2 class="text-center wow fadeIn">What people are saying</h2>

                    </div>
                </div>
                <div class="testimonial-list owl-carousel owl-theme" data-reponsive='{"0": {"items": 1},"480": {"items": 2},"768": {"items": 2},"992": {"items": 2}}'>


                    <div class="testimonial wow fadeIn" data-target="#comment-1">
                        <div class="testimonial-avatar">
                            <img src="{{ site.baseurl }}/assets/img/audio/testimonial2.png" alt="Ben Grossmann Photo"></img>
                        </div>
                        <div class="testimonial-information">
                            <span>Ben Grossmann</span>
                            <span>Co Founder -  Magnopus</span>
                        </div>
                        <div class="testimonial-caret">
                            <span class="caret"></span>
                        </div>
                    </div>


                    <div class="testimonial wow fadeIn" data-target="#comment-2">
                        <div class="testimonial-avatar">
                            <img src="{{ site.baseurl }}/assets/img/audio/testimonial1.png" alt="Dean Johnson"></img>
                        </div>
                        <div class="testimonial-information">
                            <span>Dean Johnson</span>
                            <span>Head of Innovation, Brandwidth</span>
                        </div>
                        <div class="testimonial-caret">
                            <span class="caret"></span>
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 text-center">
                    <p id="comment-1" class="testimonial-text active"><span class="text-quoted">Having integrated 360-degree spatialized audio is really important – knowing that you'll always get a spatialized audio signal that you can then later experience in a headset, that makes a huge difference.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/tERonZHfDss?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>
                    <p id="comment-2" class="testimonial-text"><span class="text-quoted">The 3D spatial sound is a real winner for us because we want to know that everything is, not only where we see it, but where we hear it.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/orAo0UZG5yE?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>

                </div>
            </div>
        </div>
    </div>
</section>
