<section id="contact-sales">
<div class="intro intro-blue">
  <div class="container text-center">
    <div class="intro-title subscribe-form">
        <h2>Schedule a meeting</h2>

      <form name="Suscribe" action="{{site.baseurl}}/salesforce/save.php" method="post"  class="text-left">

        <input type=hidden name="oid" value="00D37000000K0CT">
        <input type=hidden name="lead_source" id="lead_source" value="Web">
        <!--SourcePage-->
        <input type=hidden name="00N5800000DG7Jk" id="00N5800000DG7Jk" value="IBC Meeting">
        <!--Source;VALUE EXPECTED FROM MOCLA TEAM By USING __utmz COOKIE-->
        <input type=hidden name="00N5800000DGTd5" id="00N5800000DGTd5" class="input-ga-source" value="">
        <!--Medium;VALUE EXPECTED FROM MOCLA TEAM By USING __utmz COOKIE-->
        <input type=hidden name="00N5800000DGTdP" id="00N5800000DGTdP" class="input-ga-medium" value="">
        <!--GCLID;VALUE EXPECTED FROM MOCLA TEAM THROUGH PAGE PARAMETER-->
        <input  type=hidden name="00N5800000DG2wl" id="00N5800000DG2wl" class="input-gclid" value="">
        <!--RecordType-->
        <input type="hidden" name="recordType" id="recordType" value="01258000000LCrZ">
        <!--UTM Campagin;VALUE EXPECTED FROM MOCLA TEAM By USING __utmz COOKIE-->
        <input type=hidden name="00N5800000DGTdU" id="00N5800000DGTdU" class="input-ga-campaign" value="">
        <!--THANKYOU PAGE-->
        <input type=hidden name="retURL" value="http://ozo.nokia.com/vr">

          <div class="row m-b-2">
            <div class="col-md-4 col-xs-12">
                <div class="input-group input-text input-text-big input-text-white required">
                  <label>FIRST NAME <span class="text-info-light">*</span></label>
                  <input type="text" name="first_name" class="form-control" required="required" ></input>
                </div>
            </div>
              <div class="col-md-4 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white required">
                    <label>LAST NAME <span class="text-info-light">*</span></label>
                    <input type="text" name="last_name" class="form-control" required="required" ></input>
                  </div>
              </div>
              <div class="col-md-4 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white required">
                    <label>EMAIL <span class="text-info-light">*</span></label>
                    <input type="email" name="email" class="form-control" required="required"></input>
                  </div>
              </div>
            </div>
            <div class="row m-b-2">
              <div class="col-md-6 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white">
                    <label>PHONE</label>
                    <input type="text" name="phone" class="form-control"></input>
                  </div>
              </div>
              <div class="col-md-6 col-xs-12">
                  <div class="input-group input-text input-text-big input-text-white required">
                    <label>COMPANY NAME <span class="text-info-light">*</span></label>
                    <input type="text" name="company" class="form-control" required="required"></input>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 input-box horizontal-checkbox">
                            <p><label for="product">PRODUCT INTEREST<span class="text-info-light">*</span></label></p>
                            <div class="checkbox-container">
                                <div class="input-group input-text-white checkbox">
                                    <label>
                                    <input name="00N58000007RVTt[]" type="checkbox" class="checkbox" value="OZO+ Camera" required>
                                    OZO+ camera</label>
                                </div>
                                <div class="input-group input-text-white checkbox">
                                    <label>
                                    <input name="00N58000007RVTt[]" type="checkbox" class="checkbox" value="OZO Creator" required>
                                    OZO Creator</label>
                                </div>
                                <div class="input-group input-text-white checkbox">
                                    <label>
                                    <input name="00N58000007RVTt[]" type="checkbox" class="checkbox" value="OZO Live" required>
                                    OZO Live</label>
                                </div>
                                <div class="input-group input-text-white checkbox">
                                    <label>
                                    <input name="00N58000007RVTt[]" type="checkbox" class="checkbox" value="OZO Player SDK" required>
                                    OZO Player SDK</label>
                                </div>
                                <div class="input-group input-text-white checkbox">
                                    <label>
                                    <input name="00N58000007RVTt[]" type="checkbox" class="checkbox" value="OZO Audio" required>
                                    OZO Audio</label>
                                </div>
                              </div>
                        </div>
              <div class="col-md-12">
                <div class="input-group input-text-white checkbox">

                  <label>
                    <input  id="00N58000004rlWT" name="00N58000004rlWT" type="checkbox" value="1" required="required"/>
                    I consent to receiving sales and marketing communication from Nokia and its partners <span class="text-info-light">*</span>
                  </label>
                </div>
              </div>
              <div class="col-md-12 recaptcha-container">
                <div class="g-recaptcha" data-sitekey="6LfAbioUAAAAANt-TYCPMofCOAFn5wrBuMcTPu_3"></div>
              </div>

              <div class="col-md-12">
                <p><small class="text-info-light">*Required</small></p>
              </div>
              <div class="col-md-12 text-center">
                <button class="btn btn-light m-t-3 submit-button">
                  Submit
                </button>
                <span class="hidden btn btn-light m-t-3 success-button">
                  <i class="fa fa-check"></i>Thanks!
                </span>
                <!--
                Thanks for subscribing!
                -->
              </div>
        </div>

        </form>

    </div>
  </div>
</div>
</section>
