<section id="ibc-events-hero" class="section-table bg-cover bg-cover-top" >
    <div class="container">
            <div class="main-container">
                <div class="main-content main-content-bottom">
                    <h2 class="paralax-title">
                      Experience OZO at IBC
                    </h2>
                    <h5 class="font-weight-100">
                      Hall 10 D26 | Amsterdam<br/>
                      September 15 -19
                    </h5>
                </div>
            </div>
    </div>
</section>
