<section class="intro intro-text-left">
  <div class="intro-title">
    <div class="container wow fadeIn">
        <h6 class="text-color-primary"><stgrong>Visit our booth to see why Nokia OZO is the preferred choice among VR professionals.</strong></h6>

        <p>OZO is the industry leader with solutions designed to unlock the potential of virtual and mixed reality experiences. Learn why it is the trusted choice for productions like <a href=" https://www.youtube.com/watch?time_continue=1&v=704xfyDwDVI" data-fancybox="">Coachella</a>, <a href=" http://digitalsport.co/uefa-tests-vr-cameras-at-champions-league-semi-finals">UEFA</a>, <a href=" http://www.nokia.com/en_int/news/releases/2017/04/24/nokia-partners-with-lucasfilm-to-deliver-an-immersive-behind-the-scenes-vr-experience-of-star-wars-the-last-jedi">Star Wars – the Last Jedi</a> and more. Schedule a meeting with the OZO team to get started.</p>
        <p class="text-center">
        <a class="btn btn-primary m-t-4 m-b-4" href="#contact-sales">Schedule a meeting </a>
        </p>
        <h6 class="text-color-primary"><strong>OZO’s best-in-class ecosystem of products span the entire VR workflow landscape - from creation to delivery and experience of immersive content.</strong></h6>

        <p><strong>Create</strong> immersive content </p>
        <ul>
        <li>OZO+ camera is the only VR camera to capture and export depth for 3DVFX compositing and mixed reality experiences.</li>
        <li>OZO Creator’s completely new ISP (image signal processing pipeline) delivers next-gen visual quality for content shot with OZO+ camera</li>
        <li>OZO Live is our 3D 360 real-time VR solution with unique built-in spatial audio mixing capabilities for a real-time immersive experience</li>
        </ul>
        <p><strong>Deliver</strong> optimal, enhanced VR experiences with OZO Deliver</p>
        <ul>
        <li>OZO Deliver’s new Viewport Adaptive Streaming technology enables efficient delivery of quality content using less bandwidth.</li>
        </ul>

        <p><strong>Experience</strong> new levels of immersiveness with OZO Player SDK and OZO Audio</p>
        <ul>
        <li>OZO Player SDK provides a single interface to efficiently develop for all major HMDs and app stores</li>
        <li>OZO Audio is our spatial audio technology designed specifically for smartphone and consumer camera manufacturers.</li>
        </ul>
        <div class="text-center">
        <h3 class="m-t-4">Expert Sessions</h3>
        </div>
        <h6 class="text-color-primary">
          <strong>Join Nokia experts and partners as they share insights on VR, MR and on
          creating with OZO.</strong>
        </h6>
        <p>Sessions held at Hall 8 Room F11 - Future Zone (Theatre Stage)</p>

          <p><strong>Saturday, Sep 16th</strong></p>
          <ul>
          <li>1:05 – 1:35 pm: Best Practices for Live 360 Broadcasting – Devon Copley, Head of Product Management, Formats and Platforms</li>
          <li>4.50 – 5.05 pm: Accedo VR Panel @ IBC 2017 Future Reality Theatre – Devon Copley, Head of Product Management, Formats and Platforms</li>
          </ul>

          <p><strong>Sunday, Sep 17th</strong></p>
          <ul>
          <li>1.40 – 2.10 pm: VR & Brand Marketing – Paramita Bhattacharya, Global Head of Marketing & Brandwidth</li>
          <li>4.35 – 5.05 pm: VR & the Enterprise Marketplace (Health, Education & Business) – Malachi Bierstein, Head of Sales</li>
          </ul>
          <p><strong>Monday, Sep 18th</strong><p>
          <ul>
          <li>10.15 – 10.45 am: Developing the Cinematic VR Experience – Guido Voltolina, Head of VR Capture</li>
          </ul>
        </p>
    </div>




      </div>
</section>
