#camera-live-section{
  .half-right{
    height: 666px;
    background: url(../img/camera/live.jpg) no-repeat;
    background-position   : top center;
    background-size       : cover;
    min-width: 320px;
    @include mq($from: mobile,$until:tablet) {
      height: 400px;
    }

  }
}
