<section class="section-360 paralax-bg m-b-1">
  <div class="container">
    <h2 class="wow fadeInRight">360 Video</h2>
    <p class="wow fadeInLeft">Add new dimensions to your production with 360 spherical video. Eight 2K by 2K sensors, with 195º field of view per lens, deliver seamless virtual reality.</p>
    <a class="button" href="#">
      Play
    </a>
  </div>


</section>
