<section class="intro" id="camera-built-intro">
  <div class="container">
    <div class="intro-title">
      <h2>Purpose Built</h2>
      <p>No more complex multi-camera rigs: this is the first Virtual Reality device to capture 360° spherical video
and 360x360 surround sound, with the elegant workflow professionals need.</p>
    </div>

  </div>
</section>


<section id="camera-built-section" class="m-b-1">
  <div class="container-fluid">
    <div class="row">
      <div class="half-box">
        <div class="half-left half-box-gray">
          <div class="half-box-text">
            <h3>Live Virtual Reality Preview</h3>
            <p>See and hear everything OZO captures via the unique Virtual Reality monitor output, providing directors real-time interactive feedback of cast performances.</p>

          </div>
        </div>
        <div class="half-right">
        </div>
      </div>
    </div>
  </div>
</section>
