<section id="camera-live-section" class="m-b-1">
  <div class="container-fluid">
    <div class="row">
      <div class="half-box">
        <div class="half-left half-box-gray">
          <div class="half-box-text">
            <h3>Live Broadcast</h3>
            <p>The single co - axial enables extended or continuous Virtual Reality Recording.</p>
            <a class="button" href="#">
              Experience OZO Live
            </a>

          </div>
        </div>
        <div class="half-right">
        </div>
      </div>
    </div>
  </div>
</section>
