<div class="col-md-4">
    <a href="#" class="thumbnail">
      <span class="thumbnail-image">
        <img src="{{ site.baseurl }}/assets/img/partners/{{ include.img }}" alt="Image" style="max-width:100%;">
      </span>
      <span class="caption">
        In et tempus nibh. Sed semper fringilla nisl, in egestas sapien scelerisque nec.
      </span>
    </a>
</div>
