<section class="intro" id="partners-intro">
  <div class="container">
    <div class="intro-title">
      <h2>Looking for a partner?</h2>
      <p>Make your OZO VR project reality. Nokia has best-in-category partners that can help you at each step of the VR workflow.</p>
    </div>

  </div>
</section>


<section class="partners-carousel">
  <div class="container">
    <div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                <div class="item active">
                	<div class="row">
                	  {% include camera/partners_item.html img="1.png"%}
                	  {% include camera/partners_item.html img="2.png"%}
                	  {% include camera/partners_item.html img="3.png"%}
                	</div><!--.row-->
                </div><!--.item-->

                <div class="item">
                  <div class="row">
                    {% include camera/partners_item.html img="1.png"%}
                	  {% include camera/partners_item.html img="2.png"%}
                	  {% include camera/partners_item.html img="3.png"%}
                  </div><!--.row-->
                </div><!--.item-->

                <div class="item">
                  <div class="row">
                    {% include camera/partners_item.html img="1.png"%}
                	  {% include camera/partners_item.html img="2.png"%}
                	  {% include camera/partners_item.html img="3.png"%}
                  </div><!--.row-->
                </div><!--.item-->


                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->

		</div>
	</div>
</div><!--.container-->
</section>
