<section class="intro" id="camera-showcase-intro">
  <div class="container">
    <div class="intro-title">
      <h2>Showcase</h2>
      <p>“ The industrial design is phenomenal, the concept behind it is revolutionary, and it´s something you´re seeing for the first time... a puropose-built camera built literally from the ground up.”<br/>
        <strong>Ted Schilowitz</strong> - Futurist, 20th Century Fox</p>
    </div>

  </div>
</section>

<section id="camera-showcase">
  <div class="container">
    <div class="row feedback-box feedback-box-text-hover">
      <div class="col-md-6 col-lg-4 col-xs-12 feedback-item">
          <img class="img-responsive" src="{{ site.baseurl }}/assets/img/camera/showcase1.jpg"></img>
          <div class="feedback-box-text">
            <h3 class="feedback-title">Danny Hollander</h3>
            <p class="feedback-subtitle">Producer<br/>Dannyjevriend</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 feedback-item">
        <img class="img-responsive" src="{{ site.baseurl }}/assets/img/camera/showcase2.jpg"></img>
        <div class="feedback-box-text">
          <h3 class="feedback-title">Ben Grossmann</h3>
          <p class="feedback-subtitle">Co Founder -  Magnopus</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xs-12 feedback-item">
        <img class="img-responsive" src="{{ site.baseurl }}/assets/img/camera/showcase3.jpg"></img>
        <div class="feedback-box-text">
          <h3 class="feedback-title">Ben Grossmann</h3>
          <p class="feedback-subtitle">Co Founder -  Magnopus</p>
        </div>
      </div>
    </div>
  </div>
</section>
