<section class="sound-section paralax-bg m-b-1">
  <div class="container">
    <h2 class="wow fadeInRight">360 Surround Sound</h2>
    <p class="wow fadeInLeft">Rendered to match Virtual Reality headset orientation, sound tracks in perfect sync with stereo video.</p>
    <a class="button" href="#">
      Play
    </a>
  </div>


</section>
