<section id="camera-wireless-section" class="m-b-1">
  <div class="container-fluid">
    <div class="row">
      <div class="half-box">
        <div class="half-left">
        </div>
        <div class="half-right half-box-gray">
          <div class="half-box-text">
            <h3>Wireless</h3>
            <p>Ozo s combined power and memory cartridge enable wireless operation and recording.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
