<section class="panorama-internal">
  <div class="panorama" data-pano="{{ site.baseurl }}/assets/img/reality/pano.jpg">
    <div class="container  main-content">
      <div class="panorama-wrapper">
        <div class="panorama-content">
          <div class="panorama-title">
            <h2 class="">OZO Reality Platform</h2>
          </div>
            <h2>
              The size of virtual, augmented, and mixed reality content creates new challenges at every point of the production and delivery pipeline. </h2>

          </div>
          <div class="panorama-float-bottom-right row">
            <div class="col-xs-3 col-sm-2">
              <img src="{{site.baseurl}}/assets/img/360-icon.png" alt="360" class="logo-360"></img>
            </div>
            <div class="col-xs-9 col-sm-10">
            <p class="font-weight-lighter">The Argos File</p>
            <p class="font-weight-lighter">Josema Roig, USA</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



<section class="intro intro-navy m-b-5" id="reality-overview">
  <div class="container">
    <div class="intro-title">
      <p>Legacy video formats and delivery technologies are ill-equipped for basic spherical 360° video content, much less for spatial audio and depth-enabled experiences that will win mass audiences and create real revenue streams. </p>

      <p>And we believe no one company can provide all the technologies, services, and solutions that this new medium demands. </p>

      <p>That is why Nokia is introducing the OZO Reality platform, a suite of tools, formats, and a broad ecosystem of best-in-class partners, that together will drive the efficient distribution of next-generation immersive media.</p>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <img src="{{ site.baseurl }}/assets/img/reality/cde.png" class="img-responsive" alt="Create Deliver Experience"></img>
  </div>
</section>

<div class="intro cde" id="reality-platform">
  <div class="container">
    <div class="intro-title">
      <h3>The OZO Reality Platform technologies include: </h3>
    </div>
    <div class="row row-eq-height cde-text-row m-b-5">
        <div class="wow col-lg-4 col-sm-4 col-md-4 cde-text text-center">
          <div class="cde-text-content">
            <p>Nokia’s VR distribution and streaming format extensions now enable higher resolution, depth carriage, and spatial audio</p>
          </div>
        </div>
        <div class="wow col-lg-4 col-sm-4 col-md-4 cde-text text-center cde-border">
          <div class="cde-text-content">
            <p>OZO Deliver, a software packager/encoder that enables viewpoint-adaptive streaming, delivering the highest quality content at the lowest bit rate.</p>
          </div>
        </div>
        <div class="wow col-lg-4 col-sm-4 col-md-4 cde-text text-center">
            <div class="cde-text-content">
              <p>OZO Player SDK, providing a cross-platform native rendering library for high-quality, high-resolution immersive content.</p>
            </div>
        </div>
    </div>
  </div>
</div>

{%comment%}
<!--Worlflows-->
<section id="reality-workflow" class="m-b-2">
    <div class="container-fluid">


      {%
          include commons/full-row-right.html
          bgClass="bg1"
          title="MP4VR, RTMP-VR, <br/>
          and DASH-VR"
          content="format extensions to enable higher resolution, depth carriage, and spatial audio."
       %}
       {%
           include commons/full-row-left.html
           bgClass="bg2"
           title="OZO Deliver"
           content="a software packager/encoder which enables tile-based encoding and streaming, delivering the highest quality content at the lowest bit rate"
        %}
        {%
            include commons/full-row-right.html
            bgClass="bg3"
            title="OZO Player SDK"
            content="providing a cross-platform native rendering library for high-quality, high-resolution immersive content."
         %}

    </div>
</section>

{% include reality/partners.html %}
{%endcomment%}

<section class="intro" id="reality-overview">
  <div class="container">
    <div class="intro-title">
      <h3 class="m-b-5">If your company wants to join us, we’d love to hear from you.</h3>
      <p><a class="btn btn-primary wow fadeInUp" href="mailto:jesse.beaudin@nokia.com">Contact us</a></p>

    </div>
  </div>
</section>
