
<!--Partners-->
<section class="partners" id="reality-partners">
    <div class="container">
        <div class="partners-section-content">
            <div class="row">
                <div class="partners-title text-center">

                            <h1 class="wow slideInDow">Looking for a partner?</h1>
                            <p class="wow slideInDow"> Make your OZO VR project reality. Nokia has best-in-category partners that can help you at each step of the VR workflow.</p>



                </div>
                <div class="partners-list col-xs-12 text-center">
                  <div class="row">
                          <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                              <div class="partner last-partner wow fadeIn">
                                  <div class="partner-i mage-wrapper">
                                    <p class="m-b-5">AWS Elemental</p>
                                  </div>

                              </div>
                          </div>

                          <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                              <div class="partner last-partner wow fadeIn">
                                  <div class="partner-i mage-wrapper">
                                    <p class="m-b-5">Accedo</p>
                                  </div>

                              </div>
                          </div>


                          <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                              <div class="partner last-partner wow fadeIn">
                                  <div class="partner-i mage-wrapper">
                                    <p class="m-b-5">Akamai</p>
                                  </div>

                              </div>
                          </div>

                          <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 ">
                              <div class="partner last-partner wow fadeIn">
                                  <div class="partner-i mage-wrapper">
                                    <p class="m-b-5">CICC</p>
                                  </div>

                              </div>
                          </div>

                          <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                              <div class="partner last-partner wow fadeIn">
                                  <div class="partner-i mage-wrapper">
                                    <p class="m-b-5">Gigcasters</p>
                                  </div>

                              </div>
                          </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                            <div class="partner last-partner wow fadeIn">
                                <div class="partner-i mage-wrapper">
                                  <p class="m-b-5">Haivision</p>
                                </div>

                            </div>
                        </div>


                        <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 ">
                            <div class="partner last-partner wow fadeIn">
                                <div class="partner-i mage-wrapper">
                                  <p class="m-b-5">Harmonic</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                            <div class="partner last-partner wow fadeIn">
                                <div class="partner-i mage-wrapper">
                                  <p class="m-b-5">LiveLike</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                            <div class="partner last-partner wow fadeIn">
                                <div class="partner-i mage-wrapper">
                                  <p class="m-b-5">Kaltura</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                            <div class="partner last-partner wow fadeIn">
                                <div class="partner-i mage-wrapper">
                                  <p class="m-b-5">LiveLike</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">

                            <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                                <div class="partner last-partner wow fadeIn">
                                    <div class="partner-i mage-wrapper">
                                      <p>NeuLion</p>
                                    </div>

                                </div>
                            </div>


                            <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                                <div class="partner last-partner wow fadeIn">
                                    <div class="partner-i mage-wrapper">
                                      <p>Nibiru</p>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                                <div class="partner last-partner wow fadeIn">
                                    <div class="partner-i mage-wrapper">
                                      <p>Qello Media Solutions</p>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                                <div class="partner last-partner wow fadeIn">
                                    <div class="partner-i mage-wrapper">
                                      <p>Ratio</p>
                                    </div>

                                </div>
                            </div>

                    <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 ">
                        <div class="partner last-partner wow fadeIn">
                            <div class="partner-i mage-wrapper">
                              <p>YouKu</p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            </div>
        </div>

    </div>
</section>
