<section  id="audio">
  <div class="container-fluid">
    <div class="row row-eq-height">
          <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg full-row-bg wow fadeIn" data-wow-duration="1s">
            <div class="text-container">
              <div class="text-block-container">
              </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray">
              <div class="text-left wow fadeIn" data-wow-duration="2s">
                      <div class="text-container">
                        <div class="text-block-container">
                              <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
                                <h2><img src="{{ site.baseurl }}/assets/img/product-logos/black/audio.png" alt="OZO Audio" class="img-responsive"></img></h2>
                                <h3>Unlock the next dimension of sound. </h3>
                                <p class="m-b-3">OZO Audio is our advanced spatial audio technology enabling sound to be captured and played back naturally in 360°. Natively integrated into OZO+ and supported by OZO Player SDK, OZO Audio is perfect for smartphone, camera and other device manufacturers.</p>
                                <a href="{{ site.baseurl }}{% link audio.html %}" class="btn btn-primary m-b-2">Learn more</a>

                              </div>
                            </div>
                      </div>
              </div>
          </div>
    </div>
  </div>
</section>
