<div class="owl-carousel owl-carousel-hero owl-theme owl-loaded">
            <div class="section-table bg-cover" style="background-image:url({{site.baseurl}}/assets/img/home/slide1.jpg);">
              <div class="container">
                <div class="col-xs-12">
                        <div class="main-container">
                            <div class="main-content">
                              <div class="col-xs-8 col-md-6">
                                <div class="text-black">
                                  <h2>OZO Reality is now more accessible than ever </h2>
                                  <p>New OZO pricing makes creating world-class VR a reality.</p>
                                  <a class="btn btn-primary" href="/resales-rentals">Find a reseller</a>
                                  <a class="btn" href="/ozo-professional-vr-camera">Buy now</a>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
              </div>
            </div>
            <div class="section-table bg-cover" style="background-image:url({{site.baseurl}}/assets/img/home/slide2.jpg);">
              <div class="container">
                <div class="col-xs-12">
                        <div class="main-container">
                            <div class="main-content">
                              <div class="col-xs-8 col-md-6">
                                <h2>Visit OZO in Amsterdam </h2>
                                <p>Join us at IBC and dive into the 360° future of broadcasting<br/>
                                <strong>Hall 10 D 26 | Amsterdam | September 15–19</strong></p>
                                <a class="btn btn-primary" href="{{site.baseurl}}{% link ibc-events.html%}">Schedule meeting</a>
                              </div>
                            </div>
                        </div>

                    </div>
              </div>
            </div>
            {%comment%}
            <div class="section-table bg-cover bg-cover-left" style="background-image:url({{site.baseurl}}/assets/img/home/slide3.jpg);">
              <div class="container">
                <div class="col-xs-12">
                        <div class="main-container">
                            <div class="main-content">
                              <div class="col-xs-8 col-md-6">
                                <div class="text-black">
                                  <h2>Break through on your next VR project</h2>
                                  <p>Get started by downloading our VR Best Practices white paper</p>
                                  <a class="btn btn-primary" href="{{site.baseurl}}{% link reality.html%}">Download now</a>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
              </div>
            </div>
            {%endcomment%}
</div>
