<section class="intro intro-blue-strong">
  <div class="intro-title">
    <div class="container wow fadeIn">
      <h2>Create</h2>
      <p>Whether a fine-stitched narrative or livestreamed event, our award-winning hardware and software products give creators powerful control to capture and produce world-class VR video and audio.</p>
    </div>
  </div>
</section>



<section  id="create-section" class=" bg-gray">
  <div class="container-fluid">
    {% capture title %}
    <img src="{{ site.baseurl }}/assets/img/product-logos/black/plus.png" alt="OZO Plus"></img></h2><h2>Everything you love plus much more.
    {% endcapture %}
    {% capture bgContent %}
    <div class="create-camera">
      <img src="{{ site.baseurl }}/assets/img/home/ozo-camera.png" class="img-responsive" alt="OZO Camera"></img>
    </div>
    {% endcapture %}

    {% capture button %}
    <a href="{{ site.baseurl }}{% link camera.html %}" class="btn btn-primary">Learn more</a>
    {% endcapture %}


    {%
        include commons/full-row-left.html
        bgClass="no-bg"
        bgContent=bgContent
        title=title
        button=button
        content="The original award-winning design, now with a generational leap in image quality and ready for mixed reality, OZO+ camera with OZO Creator is the industry-leading solution used by the world’s best VR creators."
     %}
  </div>
</section>

{% capture rowContent %}
OZO Creator software seamlessly integrates your RAW footage with your post-production workflow and helps you, process, edit, stitch, and encode. May 2017 marks the release of the all-new, purpose-built OZO+ advanced image signal processing (ISP) which delivers next-generation image quality, as well as depth map export.
<a href="{{ site.baseurl }}{% link creator.html %}" class="btn btn-primary m-b-7">Learn more</a>
{% endcapture %}


<section  id="create-software">
  <div class="container-fluid">
    <div class="row row-eq-height">
          <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg workflow-bg-1 wow fadeIn" data-wow-duration="1s">
            <div class="text-container">
              <div class="text-block-container">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray">
              <div class="text-left wow fadeIn" data-wow-duration="2s">
                      <div class="text-container">
                        <div class="text-block-container">
                              <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
                                  <h2 class=""><img src="{{ site.baseurl }}/assets/img/product-logos/black/creator.png" alt="OZO Creator"></img></h2>
                                  <h2 class="">Next-gen images with simply powerful post.</h2>
                                  <p  class="m-b-3">OZO Creator software seamlessly integrates your RAW footage with your post-production workflow and helps you, process, edit, stitch, and encode. May 2017 marks the release of the all-new, purpose-built OZO+ advanced image signal processing (ISP) which delivers next-generation image quality, as well as depth map export.</p>
                                  <a href="{{ site.baseurl }}{% link creator.html %}" class="btn btn-primary m-b-7">Learn more</a>

                              </div>
                            </div>
                      </div>
              </div>
          </div>
    </div>
  </div>
</section>
