<div class="cde">
  <div class="container">
    <div class="row text-center">
        <div class="wow col-lg-4 col-sm-4 col-md-4 col-xs-12 fadeIn create-ellipse">
            <h2>Create</h2>
            <img src="{{ site.baseurl }}/assets/img/home/create-ellipse.jpg" class="img-responsive" alt="Create"></img>
            <div class="cde-text-content visible-xs">
              <p>Empowering storytellers to create immersive experiences.</p>
            </div>
        </div>
        <div class="wow col-lg-4 col-sm-4 col-md-4 col-xs-12 fadeIn deliver-ellipse">
          <h2>Deliver</h2>
          <img src="{{ site.baseurl }}/assets/img/home/deliver-ellipse.jpg" class="img-responsive" alt="Deliver"></img>
          <div class="cde-text-content visible-xs">
            <p>Enabling the efficient delivery of OZO Reality to audiences everywhere.</p>
          </div>
        </div>
        <div class="wow col-lg-4 col-sm-4 col-md-4 col-xs-12 fadeIn experience-ellipse">
          <h2>Experience</h2>
          <img src="{{ site.baseurl }}/assets/img/home/experience-ellipse.jpg" class="img-responsive" alt="Experience"></img>
          <div class="cde-text-content visible-xs">
            <p>Transforming the world through awe-inspiring experiences.</p>
          </div>
        </div>
      </div>
        <div class="row row-eq-height cde-text-row hidden-xs">
        <div class="wow col-lg-4 col-sm-4 col-md-4 cde-text text-center">
          <div class="cde-text-content">
            <p>Empowering storytellers to create immersive experiences.</p>
          </div>
        </div>
        <div class="wow col-lg-4 col-sm-4 col-md-4 cde-text text-center">
          <div class="cde-text-content">
            <p>Enabling the efficient delivery of OZO Reality to audiences everywhere.</p>
          </div>
        </div>
        <div class="wow col-lg-4 col-sm-4 col-md-4 cde-text text-center">
            <div class="cde-text-content">
              <p>Transforming the world through awe-inspiring experiences.</p>
            </div>
        </div>

    </div>

  </div>
</div>
