<section id="created-with-ozo" class="created-with-ozo m-b-4">
  <div class="container">
    <h2 class="text-center m-b-4">Created with OZO</h2>
    <div class="row">
      <div class="col-md-4 wow fadeIn">
        <img src="{{ site.baseurl }}/assets/img/home/created-with-ozo-1.jpg" class="img-responsive" alt="Kids by OneRepublic"></img>
        <p class="created-with-ozo-title">"Kids" by OneRepublic</p>
        <p class="created-with-ozo-content">Filmed in a single take, OneRepublic’s music video tells the story of a budding romance between a boy and the girl next door.</p>
      </div>
      <div class="col-md-4 wow fadeIn">
        <img src="{{ site.baseurl }}/assets/img/home/created-with-ozo-2.jpg" class="img-responsive" alt="Life in the TIme of Refuge"></img>
        <p class="created-with-ozo-title">Life in the TIme of Refuge</p>
        <p class="created-with-ozo-content">Put yourself in the shoes of nine-year old Omar, a Syrian boy living as a refugee in Lebanon. </p>
      </div>
      <div class="col-md-4 wow fadeIn">
        <img src="{{ site.baseurl }}/assets/img/home/created-with-ozo-3.jpg" class="img-responsive" alt="NBA Finals"></img>
        <p class="created-with-ozo-title">Follow my Lead: The Story of the 2016 NBA Finals</p>
        <p class="created-with-ozo-content">Grab a front row seat at one of the most memorable NBA Finals in history between the Cleveland Cavaliers and the Golden State Warriors. </p>
      </div>
    </div>
    <div class="text-center">
      <a href="{{ site.baseurl }}{% link showcase.html %}" class="btn btn-primary">View all</a>
    </div>
  </div>
</section>
