<section  id="deliver">
  <div class="container-fluid">
    <div class="row row-eq-height">
          <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg full-row-bg wow fadeIn" data-wow-duration="1s">
            <div class="text-container">
              <div class="text-block-container">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray">
              <div class="text-left wow fadeIn" data-wow-duration="2s">
                      <div class="text-container">
                        <div class="text-block-container">
                              <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
                                <h2><img src="{{ site.baseurl }}/assets/img/product-logos/black/deliver.png" alt="OZO Deliver"></img></h2>
                                <h3>Make the most out of your delivery.</h3>

                                <p class="m-b-2">Built for online video platforms, content distribution networks, and over-the-top providers, OZO Deliver intelligently packages 360° video for network delivery with high resolution and advanced functionality. Meaning bandwidth usage dramatically decreases while ensuring an optimal viewer experience.</p>
                                <a class="btn btn-primary reverse m-b-2" href="{{ site.baseurl }}{% link deliver.html %}">
                                  Learn more
                                </a>

                              </div>
                            </div>
                      </div>
              </div>
          </div>
    </div>
  </div>
</section>
