<section class="intro get-ozo-dark get-ozo">
  <div class="container">
    <div class="intro-title">
      <a class="btn btn-primary info" href="http://ozo.nokia.com/store">
        Get OZO
      </a>
    </div>
  </div>
</section>
