<section id="learn-section">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 news bg-navy">
        <h3 class="news-title m-b-5">News</h3>
          <h4>The OZO Educator Program</h4>
          <p class="m-b-4">Innovative educators recognize the power VR has to create immersive learning experiences for their students. I <a href="/blog/educator-program/  " class="more-link font-weight-bold">Read post</a></p>
          <h4>OZO Creator and OZO Remote version 2.0 are here</h4>
          <p class="m-b-4"> We are excited to share that our eagerly awaited OZO Creator version 2.0 is now available for purchase and OZO Remote version 2.0 is now available for download… I <a href="/blog/creator-remote-2" class="more-link font-weight-bold">Read post</a></p>
        <div class="news-more">
          <a class="btn btn-transparent" href="/blog/">
            View all
          </a>
        </div>
      </div>
      <div class="col-md-6 learn bg-gray testimonials">
              <div class="col-xs-12 text-center">
                  <h3 class="learn-title">What people are saying</h3>
                  <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial">
                        <div class="testimonial-avatar ">
                          <img src="{{ site.baseurl }}/assets/img/home/testimonial1.png" alt="Dirk Wallace Photo"></img>
                        </div>
                        <div class="testimonial-information">
                            <p class="m-b-0">Dirk Wallace</p>
                            <p>Director, Live 360 Video</p>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="m-b-3">
                &nbsp;
              </div>
            <div class="text-center">
                <p class="testimonial-text wow fadeInDown active"><span class="text-quoted">What Nokia has done with OZO is set the professional standard for 360 video.</span></p>
            </div>

          </div>

      </div>
    </div>
  </div>
</section>
