<section  id="live">
  <div class="container-fluid">
    <div class="row equal-height-container">
      <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg full-row-bg wow fadeIn pull-right pull-xs-right equal-height-item" data-wow-duration="2s">
        <div class="text-container">
          <div class="text-block-container">
          </div>
        </div>
      </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray equal-height-item">
              <div class="text-left wow fadeIn" data-wow-duration="1s">
                      <div class="text-container">
                        <div class="text-block-container">
                              <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
                                <h2><img src="{{ site.baseurl }}/assets/img/product-logos/black/live.png" alt="OZO Live"></img></h2>

                                <h3>Bring the world together when history is made.</h3>

                                <p class="m-b-3">From sports to music to history-making events, nothing pulls the world together like a shared experience. OZO Live software provides live broadcasters with the power and reliability to transport audiences into these culture-making moments in real-time. </p>
                                <a class="btn btn-primary reverse m-b-2" href="{{ site.baseurl }}{% link live.html %}">
                                  Learn more
                                </a>

                              </div>
                            </div>
                      </div>
              </div>
          </div>

    </div>
  </div>
</section>
