<section id="panorama" class="home panorama-internal">
  <div class="panorama" data-pano="{{ site.baseurl }}/assets/img/home/pano.jpg" data-position-lng="3.1114696614207245" data-position-lat="-0.26585200990130975">
      {%comment%}
      <div class="banner flagged-banner" style="z-index:99"><a href="{{ site.baseurl }}{% link cannes.html %}"> Create breakthrough adVRtising ><span class="flag-maker"></span></a></div>
      {%endcomment%}
    <div class="container  main-content">
      <div class="panorama-wrapper">
        <div class="panorama-content">
          <div class="panorama-title">
              <img src="{{site.baseurl}}/assets/img/product-logos/standalone/OZOlogoLg_Wh_041717.png" alt="OZO"></img>
              <h2 class="wow slideInDow">We believe in the power of virtual reality
<br/>to transform the human experience. </h2>
          </div>

          <div class="panorama-button wow fadeIn">
            <span class="text-info text-weight-bold"></span>
          </div>
        </div>
        <div class="panorama-float-bottom-right row">
          <div class="col-xs-3 col-sm-2">
            {%comment%}
            <img src="{{ site.baseurl }}/assets/img/panorama-indicator.svg" alt="" />
            {%endcomment%}
            <img src="{{site.baseurl}}/assets/img/360-icon.png" alt="360" class="logo-360"></img>
          </div>
          <div class="col-xs-9 col-sm-10">
          <p class="font-weight-lighter">"Kids" by OneRepublic </p>
          <p class="font-weight-lighter">Hal Kirkland, USA</p>
          {%comment%}
          <p class="visible-md visible-lg"><small>Click and drag to experience 360 photo</small></p>
          {%endcomment%}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
