<section class="intro" id="experience-section-intro">
  <div class="intro-title">
    <div class="container wow fadeIn">
      <h2>Experience</h2>
      <p>Enable your audiences to experience content the way its creators intended.<br/> Our technologies fuel best-in-class VR apps and unparalleled immersion. </p>
    </div>
  </div>

</section>


<section  id="experience-section">
  <div class="container-fluid">
    <div class="row equal-height-container">
      <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg full-row-bg wow fadeIn pull-xs-right pull-right equal-height-item" data-wow-duration="2s">
        <div class="text-container">
          <div class="text-block-container">
          </div>
        </div>
      </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray equal-height-item">
              <div class="text-left wow fadeIn" data-wow-duration="1s">
                      <div class="text-container">
                        <div class="text-block-container">
                              <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
                                <h2><img src="{{ site.baseurl }}/assets/img/product-logos/black/sdk.png" alt="OZO Player SDK"></img></h2>
                                <h3>Develop awe-inspiring VR apps with ease. </h3>
                                <p class="m-b-3">OZO Player SDK allows app developers to easily integrate virtual and mixed reality playback across all major VR platforms and devices while supporting standard video formats and best-in-class OZO format extensions. </p>
                                <a href="{{ site.baseurl }}{% link sdk.html %}" class="btn btn-primary reverse m-b-2">Learn more</a>

                              </div>
                            </div>
                      </div>
              </div>
          </div>

    </div>
  </div>
</section>
