<!--Testimonials-->
<section class="testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        <h1 class="text-center wow slideInDown">Testimonials</h1>
                        <h2 class="text-center wow slideInDown">What people are saying</h2>

                    </div>
                </div>
                <div class="testimonial-list">

                    <div class="col-xs-12 col-md-12 col-lg-4 ">
                        <div class="testimonial wow fadeInDown">
                            <div class="testimonial-avatar "></div>
                            <div class="testimonial-information">
                                <span>Ben Grossmann</span>
                                <span>Co Founder -  Magnopus</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4 ">
                        <div class="testimonial wow fadeInUp">
                            <div class="testimonial-avatar image-2"></div>
                            <div class="testimonial-information">
                                <span>Christine Clark</span>
                                <span>Senior Integrated Producer  -  ThinkingBo</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <div class="testimonial wow fadeInDown">
                            <div class="testimonial-avatar image-3"></div>
                            <div class="testimonial-information">
                                <span>Alex Henning</span>
                                <span>Co Founder  -  Magnopus</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 text-center">
                    <a class="btn btn-primary reverse wow slideInUp" href="{{ site.baseurl }}{% link showcase.html %}">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
