<!--Home-->
<section id="sdk-specs-hero" class="section-table paralax-bg with-overlay">
    <div class="container">
        <div class="col-xs-12">
            <div class="main-container">
                <div class="main-content">
                    <img class="img-responsive" src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_PLAYERSDK_050817.png" alt="OZO Player SDK">
                    <h2>
                      Specifications
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>
