<section class="m-t-4" id="live-specs">
<div class="container">
<div class="text-center">
  <h2>Pick the right OZO Live for you</h2>
</div>
<table class="table table-responsive table-feature">
	<tr>
		<th>
		</th>
		<th>
			Free version
		</th>
		<th>
			Single node license
		</th>
		<th>
			Multi-node license
		</th>
	</tr>
	<tr class="active">
		<td>
			Video output format
		</td>
		<td>



		</td>
		<td>




		</td>
		<td>



		</td>
	</tr>
	<tr>
		<td>
			Monoscopic 360
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Stereoscopic 360
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr class="active">
		<td>
			Resolution
		</td>
		<td>



		</td>
		<td>



		</td>
		<td>



		</td>
	</tr>
	<tr>
		<td>
			1920x960 (2:1)
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			1920x1080 Full HD (16:9)
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			2560x1440 QHD (16:9)
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			3840x1920 (2:1)
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			3840x2160 UHD (16:9)
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			4096x4096 Dual 4K (1:1)
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Custom up to 4096x4096
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			SDI Output

		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Spatial Audio Mixing
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr class="active">
		<td>
			Audio formats
		</td>
		<td>



		</td>
		<td>



		</td>
		<td>



		</td>
	</tr>
	<tr>
		<td>
			Stereo 2.0
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			8-Channel  Pass through
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Surround 5.1
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Surround 7.1
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Binaural stereo
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			First Order Ambiosonic
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Multi-node monitoring and navigation
		</td>
		<td>
			Watermarked
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			RTMP
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Facebook publishing
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Supports Multiple cameras
		</td>
		<td>
			<i class="fa fa-close"></i>
		</td>
		<td>
			<i class="fa fa-close"></i>
		</td>
		<td>
			<i class="fa fa-check"></i>
		</td>
	</tr>
</table>
</div>
</section>
