<section class="intro intro-gray features-columns">
  <div class="intro-title">
    <div class="container  text-left wow fadeIn" data-wow-duration="2s">
      <div class="row m-b-3">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h2>The first Live VR solution in the world to deliver quality live stream</h2>
          <p>Stream 4K per eye in stereo over dual SDI or 4096x4096  via RTMP or both concurrently</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h2>Control over real-time stitch</h2>
          <p>Control real time stitching parameters, including blend width, convergence adjustment at three vertical places along the seam and digital pan. </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <h2>Built for scalability</h2>
               <p>Supports indefinite number of nodes. The free OZO Live Controller App in tandem with the multi-node interface function lets you select and monitor different nodes in the same network using a single browser.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h2>The only Live VR solution to provide phenomenal audio controls</h2>
          <p>The only software in the world to provide built-in multiple (percamera) spatial audio mixes. <a href="{{site.baseurl}}{%link live.html%}" class="more-link text-info">Learn more</a></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h2>Built-in color correction functionality</h2>
          <p>Full control over color, white balance, denoising and sharpening. Color correct for each lens or the entire visual frame.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h2>Ease of use at your fingertips</h2>
          <p>With a single GPU and Windows compatible, now run OZO Live through a laptop -- live stream straight to Facebook in 4K along with  1st order ambiosonic audio. With OZO Live Free, live stream in QHD to YouTube and Facebook.</p>
        </div>
      </div>
    </div>

  </div>
</section>
