<section class="intro">
  <div class="intro-title">
    <div class="container wow fadeIn" data-wow-duration="2s">
      <h2>The broadcast industry’s choice for real-time VR</h2>
      <p class="m-b-0">OZO Live software pairs with OZO+ cameras to enable broadcasters to capture and stream real-time VR with unprecedented ease, reliability, and quality.
      It delivers scalable flexibility to multi-camera setups, fits into any 4K broadcast workflow, and can stream to both 3D VR and 2D 360° platforms.
      Field-tested at the world’s leading events, OZO Live is the broadcast media industry’s choice for real-time VR that delivers.
        </p>
    </div>
  </div>
</section>
