<section id="live-news" class="news-widget">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6 news bg-navy">
        <h3 class="news-title m-b-3">Latest</h3>
        <h4 class="m-b-2">In version 2.0 we launched:</p>
          <p><strong>4K per eye resolution:</strong> T The world's first production-ready 4K per eye live streaming capability using standard video equipment.</p>
  <p><strong>Spatial Audio Mixing:</strong> Mix up to 128 external audio sources over Dante along with OZO spatial ambient capture.</p>

  <p><strong>Lower minimum hardware requirements:</strong> Single 1070 GPU requirement means that you can now run OZO Live on lower priced hardware.</p>

  <p><strong>OZO Live free license:</strong> a free licensing option allows OZO+ owners to broadcast in live VR to YouTube 360 and Facebook Live 360.</p>
  <div class="news-more">
    <a class="btn btn-transparent" href="/ozo-software-downloads/#software-creator">
      View all
    </a>
  </div>

      </div>
      <div class="col-md-6 learn bg-gray">
          <h3 class="learn-title m-b-3">Learn</h3>
          <p>How-to videos</p>
          <ul>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/N10DpzR-H-o">OZO Live: Prerequisites</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/VSMmJPlUqCU">OZO Live: Signal Flow</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/JZwqRuhY9ak">OZO Live: Basic Operations</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/zzK_QRsVux4">OZO Live: Stitching with OZO Live</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/embed/a4Rb72JKhyM">OZO Live: Color Correction</a></li>

          </ul>

          <p>Best Practices videos</p>
          <ul>
            <li><a data-fancybox="" href="https://www.youtube.com/watch?v=DJAybCcBZqw&list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV&index=8">OZO Live: Best Practices - Camera Placement</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/watch?v=-k1_uNViZdg&list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV&index=9">OZO Live: Best Practices - Camera Movement</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/watch?v=Y6L1GGgy8zU&index=10&list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV">OZO Live: Best Practices - Editorial Decisions</a></li>
            <li><a data-fancybox="" href="https://www.youtube.com/watch?v=SkGq-n9dbe0&index=11&list=PLgKNvl454BxePd1RRu1cRPHnuKN0wHsfV">OZO Live: Best Practices - Shooting Conditions</a></li>
          </ul>
          <p>OZO Live Guides </p>
          <ul>
            <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Live_User_Guide.pdf">OZO Live: User Guide</a></li>
            <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Live_Setup_Guide.pdf">OZO Live: Setup Guide</a></li>
            <li><a href="https://ozo.nokia.com/media/custom/upload/OZO_Live_Best_Practices.pdf">OZO Live: Best Practices</a></li>
          </ul>


      </div>
    </div>
  </div>
</section>
