<!--Worlflows-->
<section id="live-workflow">
    <div class="container-fluid">

        <div class="row row-eq-height">
                <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg workflow-bg-1 wow fadeIn" data-wow-duration="1s">
                  <div class="text-container">
                    <div class="text-block-container">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray">
                    <div class="text-left wow fadeIn" data-wow-duration="2s">
                            <div class="text-container">
                              <div class="text-block-container">
                                    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 ">
                                        <h1 class="">Real-time creative control</h1>
                                        <p class="">OZO Live enables real-time 3D 360° stitching, spatial audio mixing, and monoscopic and stereoscopic video outputs. Along with controls to color correct and do static and temporal denoising. All in an elegant, easy-to-use user interface perfect for your broadcast booth.</p>
                                    </div>
                                  </div>
                            </div>
                    </div>
            </div>


        </div>
        <div class="row">
                <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg  workflow-bg-2 wow fadeIn pull-xs-right pull-right" data-wow-duration="2s">
                  <div class="text-container">
                    <div class="text-block-container">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray">
                    <div class="text-left wow fadeIn" data-wow-duration="2s">
                            <div class="text-container">
                              <div class="text-block-container">
                                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">

                                      <h1 class="">Mission-critical reliability</h1>
                                      <p class="">You’ve only got one shot to capture history. OZO Live has proven itself in the field at the world’s biggest events, including music festivals like Coachella and Austin City Limits, historic moments like the CMAs, World Economic Forum and Obama’s Farewell Address, and sports events like the Rugby Sevens.</p>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>


        </div>
        <div class="row row-eq-height">
                <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg  workflow-bg-3 wow fadeIn" data-wow-duration="1s">
                  <div class="text-container">
                    <div class="text-block-container">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray">
                    <div class="text-left wow fadeIn" data-wow-duration="2s">
                            <div class="text-container">
                              <div class="text-block-container">
                                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 ">

                                        <h1 class="">Plug into your broadcast workflow</h1>
                                        <p class="">OZO Live is the world's first live streaming solution that outputs up to 4K per eye resolution. OZO Live works directly with current 4K broadcast workflows for straightforward production with your existing equipment. Plus, you can simultaneously output RTMP and SDI to publish to VR and 360° video platforms, including Samsung Gear VR, Oculus Rift, HTC Vive, YouTube, and Facebook.</p>
                                    </div>
                                  </div>
                                </div>
                            </div>

                    </div>

        </div>
        <div class="row">
                <div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 workflow-bg  workflow-bg-4 bg-full-display bg-black wow fadeIn pull-xs-right pull-right" data-wow-duration="2s">
                  <div class="text-container">
                    <div class="text-block-container">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 workflow-info bg-gray">
                    <div class="text-left wow fadeIn" data-wow-duration="2s">
                            <div class="text-container">
                              <div class="text-block-container">
                                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">

                                      <h1 class="">OZO Live Controller app</h1>
                                      <p class="">For multi-camera live productions, easily discover and control all your OZO Live nodes with a single desktop application.
                                      Upon startup, the OZO Live Controller app will automatically detect all the OZO Live instances on your network for seamless multi-node setup and management. (Coming soon!)</p>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>


        </div>
    </div>
</section>
