<section id="panorama" class="panorama panorama-internal">
  <div class="panorama" data-pano="{{ site.baseurl }}/assets/img/live/pano.jpg" data-position-lng="5.367720376913241" data-position-lat="0.01621048840861672" data-position-lng-mobile="5.9861180419292035" data-position-lat-mobile="-0.10522049373904796">
    <div class="container  main-content">
      <div class="panorama-wrapper">
        <div class="panorama-content">
          <div class="panorama-title">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/img/product-logos/product-logos/OZOlogos_Wh_Gr2_LIVE_050817.png" alt="OZO Live" id="live-overview">
              <h2 class="">The proven solution to create and deliver <br/>broadcast-quality, real-time virtual reality</h2>
          </div>
        </div>
        <div class="panorama-float-bottom-right row">
            <div class="col-xs-3 col-sm-2">
              <img src="{{site.baseurl}}/assets/img/360-icon.png" alt="360" class="logo-360"></img>
            </div>
            <div class="col-xs-9 col-sm-10">
            <p class="font-weight-lighter min-56">John Bull and the Bandits</p>
            {%comment%}
            <p class="visible-md visible-lg"><small>Click and drag to experience 360 photo</small></p>
            {%endcomment%}
            </div>


        </div>
      </div>
    </div>

  </div>
</section>
