<div class="col-xs-12 col-md-3 col-sm-3 col-lg-3">
    <div class="partner last-partner wow fadeIn">
      <div class="partner-image-wrapper">
          <div class="partner-image-content">
            <a href="{{include.link}}" target="_blank"><img alt="{{include.alt}}" title="{{include.alt}}"  src="{{site.baseurl}}/assets/img/live/partners/{{include.img}}" class="{{include.imgClass}}"></img></a>
          </div>
        </div>

    </div>
</div>
