<!--Partners-->
<section class="partners">
    <div class="container">
        <div class="partners-section-content">
                <div class="partners-title text-center">

                            <h1 class="">Looking for a partner?</h1>
                            <p class=""> Need help with your OZO Live VR production? These partners can help.</p>



                </div>
                <div class="partners-list col-xs-12 text-center">
                  <div class="row">
                          {% include live/partner_item.html
                            link="http://www.30ninjas.com"
                            img="30ninjas.png"
                            alt="30 Ninjas"
                            %}
                          {% include live/partner_item.html
                            link="http://3stagedesign.com"
                            img="3Stage-Design.png"
                            alt="3stage Designs"
                          %}
                          {% include live/partner_item.html
                            link="http://www.abelcine.com"
                            img="AbelCine.png"
                            alt="Abelcine"
                            %}
                            {% include live/partner_item.html
                              link="http://www.binaryartists.com/"
                              img="binaryartists.png"
                              alt="Binary Artists"
                              %}
                      </div>
                      <div class="row">


                          {% include live/partner_item.html
                            link="https://www.happyfinish.com/"
                            img="happy_finish.png"
                            alt="Happy Finish"
                          %}
                          {% include live/partner_item.html
                            link="http://idealsys.com"
                            img="ideal.png"
                            alt="Ideal Systems"
                          %}

                          {% include live/partner_item.html
                            link="http://www.mediastreamwave.com/"
                            img="mediastreamwave.png"
                            imgClass="img-responsive"
                            alt="Media Stream Wave"
                          %}
                          {% include live/partner_item.html
                            link="http://www.mwmassociates.co.uk"
                            img="MWM.png"
                            alt="MWM Associates"
                          %}

                      </div>
                    <div class="row">

                      {% include live/partner_item.html
                        link="http://www.photocinerent.com"
                        img="photocinerent.svg.png"
                        alt="Photocinerent"
                      %}
                      {% include live/partner_item.html
                        link="http://www.pixelcorps.com/"
                        img="pixelcorps.png"
                        alt="Pixel Corps"
                      %}
                      {% include live/partner_item.html
                        link="https://www.radiantimages.com"
                        img="radianimages.png"
                        imgClass="img-responsive"
                        alt="Radiant Images"
                      %}
                      {% include live/partner_item.html
                        link="https://www.springboard.com/"
                        img="springboard.png"
                        alt="Springboard"
                      %}
                    </div>
                    <div class="row">
                      {% include live/partner_item.html
                        link="http://www.thinkingbox.com"
                        img="tb.png"
                        imgClass="img-responsive-sizedown"
                        alt="ThinkingBox"
                      %}

                      {% include live/partner_item.html
                        link="http://www.tv-square.de/"
                        img="vsquare.tv.png"
                        alt="Square TV"
                      %}


                      {% include live/partner_item.html
                        link="https://www.vantage.tv/"
                        img="vantage.tv.png"
                        alt="Vantage TV"
                      %}
                    {% include live/partner_item.html
                      link="http://veedel.media/"
                      img="veedel.png"
                      alt="Veedel Media"
                    %}
                </div>

            </div>
        </div>

    </div>
</section>
