<section class="m-t-4 m-b-4">
<div class="container">
<div class="text-center">
  <h3>Hardware requirements</h3>
</div>
  <table class="table table-responsive table-feature">
    <tr>
      <th></th>
      <th>OS</th>
      <th>CPU</th>
      <th>GPU</th>
    </tr>
    <tr>
      <td>Minimum requirement</td>
      <td>UBUNTU 16</td>
      <td>Intel i7-7700 2.8GHZ </td>
      <td>Single Nvidia GTX 1070 </td>
    </tr>
    <tr>
      <td>Recommended</td>
      <td>UBUNTU 16</td>
      <td>Intel i7-7700 2.8GHZ or better</td>
      <td>Single Nvidia GTX 1080 Ti or better</td>
    </tr>
  </table>
  <div class="text-center">
  <a class="btn btn-primary wow fadeInUp" href="https://ozo.nokia.com/media/custom/upload/Product-Sheet-Live.pdf">
    View specs
  </a>
  </div>
</div>
</section>
