<!--Features-->
<section class="features" id="live-specs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="features-content">
                    <div class="features-title wow fadeIn">
                        <h1>Specifications</h1>
                    </div>
                    <div class="features-list">
                        <!--Feature-->
                        <div class="feature wow fadeIn">
                          <p>Video</p>
                          <p>UHD (3840x2160) frame over quadlink HD-SDI at 30fps</p>
                         <p> Custom resolution for RTMP output, up to 4096x4096</p>
                         <p> OZO Live is production format agnostic supporting 2D 360 and 3D 360 delivery</p>
                         <p> Format options: stereoscopic 360 T/B, stereoscopic 180 L/R, monoscopic 360</p>
                         <p> Projection formats: equirectangular, lambert, cube map (mono only) </p>
                         <p> Audio output options: Ambisonics (first order), Audio 5.1 surround, stereo, raw OZO microphone pass through from camera</p>
                         <p> Real-time automatic and manual per- seam focus depth</p>
                         <p> Color correction: global real-time black level, white level, and gamma, per channel</p>
                         <p> Encode RTMP directly from OZO Live</p>
                         <p> Static and temporal denoising</p>
                         <p> h.264 support </p>
                         <p> Powerful and convenient web-based UI to control all OZO Live settings</p>
                        <a class="btn btn-primary wow fadeInUp" href="https://ozo.nokia.com/media/custom/upload/Product-Sheet-Live.pdf">
                          View all
                        </a>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
