<!--Testimonials-->
<section class="testimonials" id="live-testimonials">
    <div class="container">
        <div class="testimonial-section-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonials-title">
                        {% comment %}
                        <h1 class="text-center wow fadeIn">Testimonials</h1>
                        {% endcomment %}
                        <h2 class="text-center wow fadeIn">What people are saying</h2>

                    </div>
                </div>
                <div class="testimonial-list owl-carousel owl-theme" data-reponsive='{"0": {"items": 1},"480": {"items": 2},"768": {"items": 3},"992": {"items": 3}}'>


                        <div class="testimonial wow fadeIn" data-target="#comment-1">
                            <div class="testimonial-avatar">
                                <img src="{{ site.baseurl }}/assets/img/live/testimonial1.png" alt="Juan Santillan"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Juan Santillan</span>
                                <span>Founder & CEO, Vantage.tv</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                        <div class="testimonial wow fadeIn" data-target="#comment-2">
                          <div class="testimonial-avatar">
                              <img src="{{ site.baseurl }}/assets/img/live/testimonial2.png" alt="Christine Clark"></img>
                          </div>
                            <div class="testimonial-information">
                                <span>Christine Clark</span>
                                <span>Senior Integrated Producer  -  ThinkingBox</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                        <div class="testimonial wow fadeIn" data-target="#comment-3">
                            <div class="testimonial-avatar">
                              <img src="{{ site.baseurl }}/assets/img/live/testimonial3.png" alt="Dirk Wallace"></img>
                            </div>
                            <div class="testimonial-information">
                                <span>Dirk Wallace</span>
                                <span>Director, Live 360 Video</span>
                            </div>
                            <div class="testimonial-caret">
                              <span class="caret"></span>
                            </div>
                        </div>


                </div>
                <div class="col-xs-12 text-center">
                    <p class="testimonial-text active" id="comment-1"><span class="text-quoted">The last show we did with the Nokia OZOs was Austin City Limits - a three-day festival. OZO is the only equipment capable of doing at this quality and with this level of professional reliability.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/OQUvudSzhbg" class="more-link">Watch</a> </p>
                    <p class="testimonial-text" id="comment-2"><span class="text-quoted">My favorite thing about OZO Live is the simplicity of the controls. Being able to adjust stitch lines and color correction simply and quickly in a live setting is incredibly important.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/wATZgEBDNSk" class="more-link">Watch</a> </p>
                    <p class="testimonial-text" id="comment-3"><span class="text-quoted">We were streaming a live feed from the theater to Comic-Con, 24 hours a day for four days. That shows you right there, this thing can handle it. It's a workhorse.</span> | <a data-fancybox="" href="https://www.youtube.com/embed/jhdYUN4E9tY?list=PLgKNvl454BxcgF3cfYmzhXFi-DcoGexF3" class="more-link">Watch</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
