<div class="intro m-t-5" id="{{include.id}}">
  <div class="container bg-gray">
    <div class="intro-title">
          <div class="text-left">
            <h2 class="title-line-bottom-full">{{include.title}}</h2>
            {{include.content}}
          </div>
  </div>
</div>
</div>
